<template>
  <el-alert title="Загрузка..."
            description="Тут будет выбор..."
            type="info" :closable="true">
  </el-alert>
</template>

<script>
    export default {
        name: "SelectOkso",
        methods: {
            async init(data) {
                console.log('INIT', data);
                this.isLoading = true;
                this.isLoading = false;
            },
        },
    }
</script>

<style scoped>

</style>
