<template>
  <section class="item-list" v-loading="isLoading">

<!--    <el-row class="nav-filter">-->
<!--      <el-col :xs="24" :sm="24" :md="8">-->
        <el-form label-width="100px"  width="200px">
          <el-form-item label="Сценарий"  width="200px">
            <el-select class="width-full" filterable placeholder="Выберите из списка" v-model="scenarioId" width="200px">
              <el-option
                v-for="item in scenarioList"
                :key="item.id"
                :label="`${item.name}`"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Год сбора"  width="200px">
            <el-select class="width-full" filterable placeholder="Выберите из списка" v-model="yearId" width="200px">
              <el-option
                v-for="item in yearData"
                :key="item.id"
                :label="`${item.name}`"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
<!--      </el-col>-->
<!--    </el-row>-->

    <template v-show="scenarioId > 0">
      <prediction-param-block ref="editParamBlock" class="prediction-block top"/>
      <el-divider content-position="left"><i class="el-icon-bottom"/></el-divider>
<!--      <prediction-result-block ref="editResultBlock" class="prediction-block bottom"/>-->
    </template>

  </section>
</template>

<script>
  import { LOT } from "../../../interfaces/entities";
  import PredictionParamBlock from "./PredictionParamBlock";
  import PredictionResultBlock from "./PredictionResultBlock";

  export default {
    name: 'Prediction',
    components: { PredictionParamBlock, PredictionResultBlock },
    data: () => ({
      isLoading: false,
      yearData: [{id:2019, name: 2019}, {id:2020, name: 2020}]
    }),
    computed: {
      scenarioList() {
        return this.$store.state.lot.lists.scenario;
      },
      scenarioId: {
        get: function () {
          return this.$store.state.lot.scenarioId
        },
        set: function (newScenarioId) {
          this.$store.commit('lot/setScenario', newScenarioId);
        },
      },
      yearId: {
        get: function () {
          return this.$store.state.lot.yearId
        },
        set: function (newYearId) {
          this.$store.commit('lot/setYear', newYearId);
        },
      },
    },
    methods: {
      getList() {
        this.$store.dispatch('lot/getList', { entityType: LOT.SCENARIO_LIST });
      },
    },
    mounted() {
      this.getList();
    },
    watch: {
      scenarioId(newScenarioId) {
        this.isLoading = true;
        if (newScenarioId > 0) {
          //this.$refs.editParamBlock.init();
          //this.$refs.editResultBlock.init();
        }
        this.$nextTick(() => {
          this.isLoading = false;
        });
      },
    },
  }
</script>
