<template>
  <section class="item-list" v-loading="isLoading">
    <h3>Результаты
      <el-button @click="handleClickOnUpdate" icon="el-icon-refresh" type="primary" size="small" round>Рассчитать
      </el-button>
    </h3>
    <el-tabs type="card" tab-position="top">
      <el-tab-pane :label="tab.name" v-for="(tab, k) in tabList" :key="k">
        <prediction-result-tab :tab-id="tab.id"/>
      </el-tab-pane>
    </el-tabs>
  </section>
</template>

<script>
  import PredictionResultTab from "./PredictionResultTab";
  import { LOT } from "../../../interfaces/entities";

  export default {
    name: 'Result',
    components: { PredictionResultTab },
    data: () => ({
      isLoading: false,
      tabList: [
        { id: 1, name: 'ОКВЭД и уровень образования', },
        { id: 2, name: 'ОКПДТР', },
        { id: 3, name: 'Вновь создаваемые рабочие места', },
        { id: 4, name: 'По видам занятий', },
        { id: 5, name: 'СПО', },
        { id: 6, name: 'ВО', },
        { id: 7, name: 'Наиболее востребованные должности и профессии', },
      ],
    }),
    computed: {
      // watch this
      isDataOutdated() {
        return this.$store.state.lot.isDataOutdated;
      },
      scenarioId() {
        return this.$store.state.lot.scenarioId;
      },
    },
    methods: {
      // external calling
      async init() {
        this.isLoading = true;
        if (this.scenarioId > 0) {
          await this.$store.dispatch('lot/getList', {
            entityType: LOT.RESULT_YEARS,
            scenarioId: this.scenarioId,
          });
          for (let tabId = 0; tabId < this.tabList.length; tabId++) {
            await this.$store.dispatch('lot/getList', {
              entityType: LOT.RESULT_LINE,
              scenarioId: this.scenarioId,
              tabId: this.tabList[tabId].id,
            });
          }
        } else {
          this.$message('Выберите сценарий из списка');
        }
        await this.$store.commit('lot/setStatusOutdated', false);
        this.$nextTick(() => {
          this.isLoading = false;
        });
      },
      async handleClickOnUpdate() {
        this.init();
      },
    },
  }
</script>

<style lang="scss">
  h3 {
    /deep/ .el-button {
      margin-left: 5px;
    }
  }
</style>
