<template>
  <section class="item-list" v-loading="isLoading">
<!--    <h3>Параметры</h3> -->
        <el-tabs type="card" tab-position="top">
<!--      <el-tab-pane :label="tab.name" v-for="(tab, k) in tabList" :key="k">-->
<!--        <prediction-param-tab :tab-id="tab.id"/>-->
<!--      </el-tab-pane>-->
      <el-tab-pane label="Результаты мониторинга потребности организаций и инвестиционных проектов">
        <monitoring-res/>
      </el-tab-pane>
      <el-tab-pane label="Данные сценариев социально-экономического развития НСО">
        <ser-lines/>
      </el-tab-pane>
      <el-tab-pane label="Коэффициенты влияния параметров СЭР">
        <ser-to-okved/>
      </el-tab-pane>
      <el-tab-pane label="Прогноз потребности">
        <req-prognoz/>
      </el-tab-pane>
      <el-tab-pane label="Прогноз БТР">
        <forecast-btr/>
      </el-tab-pane>
      <el-tab-pane label="Данные БТР">
        <data-btr/>
      </el-tab-pane>
    </el-tabs>
  </section>
</template>

<script>
  import { ORGANIZATION_TYPE, LOT } from "../../../interfaces/entities";
  import PredictionParamTab from "./PredictionParamTab";
  import SerLines from "./PredParams/SerLines";
  import SerToOkved from "./PredParams/SerToOkved";
  import ForecastBtr from "./PredParams/ForecastBtr";
  import DataBtr from "./PredParams/DataBtr";
  import MonitoringRes from "./PredParams/MonitoringRes";
  import ReqPrognoz from "./PredParams/ReqPrognoz";

  export default {
    name: 'Params',
    components: {ReqPrognoz, SerToOkved, SerLines, PredictionParamTab, ForecastBtr, MonitoringRes, DataBtr},
    data: () => ({
      isLoading: false,
      tabList: [
        { id: 1, name: 'Экономическое развитие', },
        { id: 2, name: 'Демография', },
        { id: 3, name: 'Выпускники', },
      ],
    }),
    computed: {
      scenarioId() {
        return this.$store.state.lot.scenarioId;
      },
    },
    methods: {
      // external calling
      async init() {
        this.isLoading = true;
        for (let tabId = 1; tabId <= 3; tabId++) {
          await this.$store.dispatch('lot/getList', {
            entityType: LOT.SCENARIO_TAB,
            scenarioId: this.scenarioId,
            tabId,
          });
        }
        this.$nextTick(() => {
          this.isLoading = false;
        });
      },
    },
  }
</script>
