<template>
  <section class="item-list" v-loading="isLoading">

    <el-alert v-if="isDataOutdated"
              title="Исходные данные обновлены"
              description="Нажите Рассчитать, чтобы загрузить актуальные результаты"
              type="warning"
              :closable="false" show-icon>
    </el-alert>
    <el-alert v-else-if="!tableData"
              title="Загрузите данные"
              description="Нажите Рассчитать, чтобы загрузить актуальные результаты"
              type="info"
              :closable="false" show-icon>
    </el-alert>

    <div class="table-scrollable-container" v-if="tableData && tableData.length > 0">
      <result-table1 :table-data.sync="tableData" v-if="+tabId === 1"/>
      <result-table2 :table-data.sync="tableData" v-if="+tabId === 2"/>
      <result-table3 :table-data.sync="tableData" v-if="+tabId === 3"/>
      <result-table4 :table-data.sync="tableData" v-if="+tabId === 4"/>
      <result-table5 :table-data.sync="tableData" v-if="+tabId === 5"/>
      <result-table6 :table-data.sync="tableData" v-if="+tabId === 6"/>
      <result-table7 :table-data.sync="tableData" v-if="+tabId === 7"/>
    </div>

    <footer class="form-footer">
      <el-button @click="handleClickOnDownload(LOT.FORMAT_WORD)"
                 icon="el-icon-download" size="small" round>Word
      </el-button>
      <el-button @click="handleClickOnDownload(LOT.FORMAT_EXCEL)"
                 icon="el-icon-download" size="small" round>Excel
      </el-button>
    </footer>
  </section>
</template>

<script>
  import { LOT } from '../../../interfaces/entities';
  import ResultTable1 from "./ResultTables/Table1";
  import ResultTable2 from "./ResultTables/Table2";
  import ResultTable3 from "./ResultTables/Table3";
  import ResultTable4 from "./ResultTables/Table4";
  import ResultTable5 from "./ResultTables/Table5";
  import ResultTable6 from "./ResultTables/Table6";
  import ResultTable7 from "./ResultTables/Table7";

  export default {
    name: 'ResultTab',
    components: { ResultTable7, ResultTable6, ResultTable5, ResultTable4, ResultTable3, ResultTable2, ResultTable1 },
    props: {
      tabId: { type: Number },
    },
    data: () => ({
      LOT: LOT,
      isLoading: false,
    }),
    computed: {
      isDataOutdated() {
        return this.$store.state.lot.isDataOutdated;
      },
      scenarioId() {
        return this.$store.state.lot.scenarioId;
      },
      tableData() {
        return this.$store.state.lot.lists[`result${this.tabId}`] || [];
      },
    },
    methods: {
      async handleClickOnDownload(fileFormat) {
        if (this.scenarioId > 0) {
          this.isLoading = true;
          const response = await this.$store.dispatch('lot/getDownload', {
            tabId: this.tabId,
            scenarioId: this.scenarioId,
            format: fileFormat
          });
          // Download to client
          let link = document.createElement('a');
          link.href = response.data;
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
          this.isLoading = false;

        } else {
          this.$message('Выберите сценарий из списка');
        }
      },
    },
  }
</script>
