<template>
  <section class="item-list" v-loading="isLoading">
    <i class="el-icon-loading" v-if="!form"/>
    <el-form v-else>
      <el-form-item>
        <h3>{{form.name}}</h3>
        <table class="el-table is-plain">
          <thead>
          <tr>
            <th>Сценарный параметр</th>
            <th>Значение</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="i in [1,2,3,4,5]" v-bind:key="i">
            <td v-if="form[`param${i}`]">
              {{form['param' + i ]}}
            </td>
            <td v-if="form[`param${i}`]">
              <el-input v-model="form['value' + i ]" size="small"/>
            </td>
          </tr>
          </tbody>
        </table>
      </el-form-item>
    </el-form>

    <footer class="form-footer">
      <el-button @click="handleClickOnSave" type="primary" icon="el-icon-edit-outline">Сохранить</el-button>
    </footer>
  </section>
</template>

<script>
  import { LOT } from "../../../interfaces/entities";

  export default {
    name: 'ParamsTab',
    props: {
      tabId: { type: Number },
    },
    data: () => ({
      isLoading: false,
      form: [],
    }),
    computed: {
      tableData() {
        return this.$store.state.lot.lists[`paramsTab${this.tabId}`] || [];
      },
      scenarioId() {
        return this.$store.state.lot.scenarioId;
      },
    },
    methods: {
      async handleClickOnSave() {
        this.isLoading = true;
        await this.$store.commit('lot/setStatusOutdated', true);
        await this.$store.dispatch('lot/saveEntity', {
          form: this.form,
          entityType: LOT.SCENARIO_TAB,
          scenarioId: this.scenarioId,
          tabId: this.tabId
        })
          .then(() => {
            this.isLoading = false;
          });
      },
    },
    watch: {
      tableData: {
        handler(newTableData) {
          if (newTableData) {
            this.form = { ...newTableData };
          } else {
            this.form = {};
          }
        },
        deep: true,
        immediate: true,
      }
    },
  }
</script>
