<template>
  <table class="el-table is-plain result-table">
    <thead class="is-bordered">
    <tr>
      <th>Район</th>
      <th>Организация</th>
      <th>Инвест-проект</th>
      <th>Наименование направления / специальности</th>
      <th>Кадровая потребность</th>
      <th>Среднегодовая кадровая потребность</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(tableRow, tableRowKey) in tableData" :key="tableRowKey" class="is-bordered text-center">
      <td class="text-left"><small>{{tableRow.mrigo}}</small></td>
      <td class="text-left">{{tableRow.organization}}</td>
      <td class="text-left">{{tableRow.invest_proj}}</td>
      <td class="text-left"><small>{{tableRow.okso}}</small></td>
      <td>{{tableRow.all_years_req}}</td>
      <td>{{tableRow.avg_year_req}}</td>
    </tr>
    </tbody>
  </table>
</template>

<script>
  import TableMixin from "./TableMixin";

  export default {
    name: 'ResultTable7',
    mixins: [TableMixin],
  }
</script>
