<template>
  <table class="el-table is-plain result-table">
    <thead class="is-bordered">
    <tr>
      <th rowspan="3">Наименование профессий рабочих, должностей служащих по ОКПДТР</th>
      <th rowspan="3">ОКЗ</th>
      <th rowspan="3">ОКВЭД</th>
      <th :colspan="(Object.keys(yearList).length) * 2">Прогноз перспективной потребности в кадрах</th>
      <th rowspan="2" colspan="2"><b>Всего</b></th>
    </tr>
    <tr>
      <th v-for="(year, k) in yearList" :key="`head_${k}`" colspan="2">
        {{year}}
      </th>
    </tr>
    <tr>
      <template v-for="index in (Object.keys(yearList).length + 1)">
        <th :key="`th_vo_${index}`">ВО</th>
        <th :key="`th_spo_${index}`">СПО</th>
      </template>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(tableRow, tableRowKey) in tableData" :key="tableRowKey" class="is-bordered text-center">
      <td class="text-left">{{tableRow.okpdtr}}</td>
      <td class="text-left"><small>{{tableRow.okz}}</small></td>
      <td class="text-left"><small>{{tableRow.okved}}</small></td>
      <template v-for="(year, yearKey) in yearList">
        <td :key="`vo_${yearKey}`">{{tableRow[`vo_${yearKey}`]}}</td>
        <td :key="`spo_${yearKey}`">{{tableRow[`spo_${yearKey}`]}}</td>
      </template>
      <td><b>{{tableRow.vo_total}}</b></td>
      <td><b>{{tableRow.spo_total}}</b></td>
    </tr>
    </tbody>
  </table>
</template>

<script>
  import TableMixin from "./TableMixin";

  export default {
    name: 'ResultTable2',
    mixins: [TableMixin],
  }
</script>
