<template>
  <table class="el-table is-plain result-table">
    <thead class="is-bordered">
    <tr>
      <th rowspan="2">Наименование по ОКЗ</th>
      <th rowspan="2">ОКЗ</th>
      <th :colspan="(Object.keys(yearList).length + 1)">Прогноз кадровой потребности</th>
    </tr>
    <tr>
      <th v-for="(year, k) in yearList" :key="`head_${k}`">
        {{year}}
      </th>
      <th><b>Итого:</b></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(tableRow, tableRowKey) in tableData" :key="tableRowKey" class="is-bordered text-center">
      <td class="text-left">{{tableRow.name_okz}}</td>
      <td class="text-left">{{tableRow.code_okz}}</td>
      <template v-for="(year, yearKey) in yearList">
        <td :key="`o_${yearKey}`">{{tableRow[`${yearKey}`]}}</td>
      </template>
      <td><b>{{tableRow.total}}</b></td>
    </tr>
    </tbody>
  </table>
</template>

<script>
  import TableMixin from "./TableMixin";

  export default {
    name: 'ResultTable4',
    mixins: [TableMixin],
  }
</script>
