<template>
  <table class="el-table is-plain result-table">
    <thead class="is-bordered">
    <tr>
      <th rowspan="2">Коды профессий/ специальностей</th>
      <th rowspan="2">Наименование</th>
      <th :colspan="(Object.keys(yearList).length + 1)">Дополнительная перспективная потребность в кадрах, чел.</th>
      <th rowspan="2">Среднегодовая потребность</th>
      <th rowspan="2">Планируемый объем контрольных цифр приема</th>
    </tr>
    <tr>
      <th v-for="(year, k) in yearList" :key="`head_${k}`">
        {{year}}
      </th>
      <th><b>Всего</b></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(tableRow, tableRowKey) in tableData" :key="tableRowKey" class="is-bordered text-center">
      <td class="text-left">{{tableRow.code_okso}}</td>
      <td class="text-left">{{tableRow.name_okso}}</td>
      <template v-for="(year, yearKey) in yearList">
        <td :key="`o_${yearKey}`">{{tableRow[`${yearKey}`]}}</td>
      </template>
      <td><b>{{tableRow.total}}</b></td>
      <td><b>{{tableRow.avg_year}}</b></td>
      <td><b>{{tableRow.kcp_plan}}</b></td>
    </tr>
    </tbody>
  </table>
</template>

<script>
  import TableMixin from "./TableMixin";

  export default {
    name: 'ResultTable5',
    mixins: [TableMixin],
  }
</script>
