<template>
  <table class="el-table is-plain result-table">
    <thead class="is-bordered">
    <tr>
      <th rowspan="3">ОКВЭД</th>
      <th rowspan="3">Район</th>
      <th rowspan="3">Организация</th>
      <th rowspan="3">Инвест-проект</th>
      <th rowspan="3"><b>Всего</b></th>
      <th :colspan="(Object.keys(yearList).length + 1) * 3">В том числе по уровню образования</th>
    </tr>
    <tr>
      <th :colspan="(Object.keys(yearList).length + 1)">Высшее образование</th>
      <th :colspan="(Object.keys(yearList).length + 1)">Среднее профессиональное образование</th>
      <th :colspan="(Object.keys(yearList).length + 1)">Неквалифицированные работники</th>
    </tr>
    <tr>
      <th v-for="(year, k) in yearList" :key="`head_vo_${k}`">
        {{year}}
      </th>
      <th><b>Итого</b></th>
      <th v-for="(year, k) in yearList" :key="`head_spo_${k}`">
        {{year}}
      </th>
      <th><b>Итого</b></th>
      <th v-for="(year, k) in yearList" :key="`head_nkr_${k}`">
        {{year}}
      </th>
      <th><b>Итого</b></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(tableRow, tableRowKey) in tableData" :key="tableRowKey" class="is-bordered text-center">
      <td class="text-left"><small>{{tableRow.okved}}</small></td>
      <td class="text-left"><small>{{tableRow.mrigo}}</small></td>
      <td class="text-left">{{tableRow.organization}}</td>
      <td class="text-left">{{tableRow.invest_proj}}</td>
      <td><b>{{tableRow.total}}</b></td>
      <td v-for="(year, yearKey) in yearList" :key="`th_${tableRowKey}_vo_${yearKey}`">
        {{tableRow[`vo_${yearKey}`]}}
      </td>
      <td><b>{{tableRow.vo_total}}</b></td>
      <td v-for="(year, yearKey) in yearList" :key="`th_${tableRowKey}_spo_${yearKey}`">
        {{tableRow[`spo_${yearKey}`]}}
      </td>
      <td><b>{{tableRow.spo_total}}</b></td>
      <td v-for="(year, yearKey) in yearList" :key="`th_${tableRowKey}_nrk_${yearKey}`">
        {{tableRow[`nkr_${yearKey}`]}}
      </td>
      <td><b>{{tableRow.nkr_total}}</b></td>
    </tr>
    </tbody>
  </table>
</template>

<script>
  import TableMixin from "./TableMixin";

  export default {
    name: 'ResultTable3',
    mixins: [TableMixin],
  }
</script>
