<template>
  <section v-loading="isLoading">
    <h2>Авторизация</h2>
    <el-form :rules="rules" :model="form" ref="loginForm">
      <el-row :gutter="30">
        <el-col :xs="24" :sm="12">
          <el-form-item label="Логин" prop="login">
            <el-input v-model="form.login"></el-input>
          </el-form-item>
        </el-col>
        <el-col :xs="24" :sm="12">
          <el-form-item label="Пароль" prop="password">
            <el-input v-model="form.password" type="password"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item class="text-right">
        <el-button type="primary" @click="submitAuthForm">Войти</el-button>
      </el-form-item>
    </el-form>
    <el-form :rules="rules" :model="form" ref="EsiaForm">
      <el-link :href="esia_url">Авторизация через ЕСИА</el-link>
    </el-form>
  </section>
</template>

<script>
  export default {
    name: 'LoginPage',
    data: () => ({
      isLoading: false,
      form: {
        login: '',
        password: '',
      },
      esia_url: '',
      rules: {
        login: [
          { required: true, message: 'Пожалуйста, введите логин', trigger: 'change' },
        ],
        password: [
          { required: true, message: 'Пожалуйста, введите пароль', trigger: 'change' }
        ],
      },
    }),
    methods: {
      async submitAuthForm() {

        this.$refs['loginForm'].validate((valid) => {
          if (valid) {
            this.isLoading = true;
            // Authorize
            this.$store.dispatch('login', this.form)
              .then(() => {
                this.$store.dispatch('dictionary/initDictionaries', this.form.role);
                this.$message({
                  message: 'Успешный вход в систему',
                  type: 'success'
                });
              })
              .then(() => {
                this.$router.push('/cabinet');
              })
              .catch(() => {
                this.$message.error('Авторизация не выполнена. Проверьте логин и пароль.');
              })
              .finally(() => {
                this.isLoading = false;
              });

          } else {
            console.log('error validate!!');
            return false;
          }
        });
      },
      rndStr(len) {
            let text = ""
            let chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"

            for( let i=0; i < len; i++ ) {
                text += chars.charAt(Math.floor(Math.random() * chars.length))
            }

            return text
      },
      async checkAuth(){
          console.log('Checking Auth!!');
          console.log(this.$store.getters.hasTempKey);
          //генерируем ключ
          if (!this.$store.getters.hasTempKey){
              let  new_tk = this.rndStr(32);
              console.log(new_tk);
              this.$store.dispatch('newTempKey', new_tk);
          }
          else {
              console.log(this.$store.getters.tempKey);
          };
          let tempKey = this.$store.getters.tempKey;
          //получаем url для ЕСИА
          this.esia_url = await this.$store.dispatch('esiaURL', tempKey);
          console.log(this.esia_url);
          //проверяем возвращается ли что-то
          this.$store.dispatch('login_by', tempKey)
              .then(() => {
                  console.log(this.$store.getters.idOrganization);
                  this.$store.dispatch('dictionary/initDictionaries', this.form.role);
              }).catch(() => {
                  console.log('Авторизация не выполнена. Авторизуйтесь через ЕСИА');
              });
      }
    },
    mounted(){
        this.checkAuth();
    },
  }
</script>
