@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/Roboto-Regular.eot');
  src: url('/assets/fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype');
  //url('/assets/fonts/roboto/Roboto-Regular.woff') format('woff'),
  //url('/assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
  //url('/assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/Roboto-Medium.eot');
  src: url('/assets/fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype')
  //,
  //url('/assets/fonts/roboto/Roboto-Medium.woff') format('woff'),
  //url('/assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
  //url('/assets/fonts/roboto/Roboto-Medium.ttf') format('truetype')
  ;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/Roboto-Bold.eot');
  src: url('/assets/fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype')
  //,
  //url('/assets/fonts/roboto/Roboto-Bold.woff') format('woff'),
  //url('/assets/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
  //url('/assets/fonts/roboto/Roboto-Bold.ttf') format('truetype')
  ;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/Roboto-Black.eot');
  src: url('/assets/fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto/Roboto-Black.woff') format('woff'),
  url('/assets/fonts/roboto/Roboto-Black.woff2') format('woff2'),
  url('/assets/fonts/roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/Roboto-Light.eot');
  src: url('/assets/fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto/Roboto-Light.woff') format('woff'),
  url('/assets/fonts/roboto/Roboto-Light.woff2') format('woff2'),
  url('/assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 100;
}

$ff-base: 'Roboto', Helvetica, sans-serif;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, textarea, input,
nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: 100% $ff-base;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
  }
}

small {
  @include font-size(12px, 14px);
}

body, html {
  font-family: $ff-base;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  margin: 0;
  background-color: #fff;
  color: $color-text;
  font-size: 14px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  min-height: 100vh;
}

// Full screen styles
body.full-screen-open {
  overflow: hidden;
  position: relative;
}

b, strong {
  font-weight: $font-weight-bold;
}

:focus {
  outline: none;
}

h1 {
  font: $font-weight-bold 48px $ff-base;
  padding: 20px 0 15px;
  @media(max-width: 990px) {
    font: $font-weight-bold 42px $ff-base;
    padding: 10px 0 5px;
  }
  @media(max-width: 600px) {
    font: $font-weight-medium 36px $ff-base;
    padding: 10px 0 5px;
  }
}

h2 {
  font: $font-weight-bold 32px $ff-base;
  padding: 20px 0 15px;
  @media(max-width: 990px) {
    font: $font-weight-bold 28px $ff-base;
    padding: 10px 0 5px;
  }
  @media(max-width: 600px) {
    font: $font-weight-bold 24px $ff-base;
    padding: 10px 0 5px;
  }
}

h3 {
  font: $font-weight-bold 24px $ff-base;
  padding: 5px 0 30px;
  @media(max-width: 990px) {
    font: $font-weight-bold 18px $ff-base;
  }
  @media(max-width: 600px) {
    font: $font-weight-bold 16px $ff-base;
  }
}

h4 {
  font: $font-weight-bold 16px $ff-base;
  padding: 15px 0 10px;
}

h5 {
  font: $font-weight-bold 16px $ff-base;
  padding: 25px 0 10px;
}

a {
  text-decoration: none;
  @include ease();
}

// Typography styled text
.typography-text {
  @include font-size(16px, 32px);

  p, article {
    @include font-size(16px, 32px);
    color: $color-gray-5;
    padding: 0 0 15px;
    @media (max-width: 600px) {
      padding: 0 0 5px;
    }
  }

  h1 {
    padding-bottom: 35px;
    @media(max-width: 990px) {
      padding-bottom: 25px;
    }
    @media(max-width: 600px) {
      padding-bottom: 15px;
    }
  }

  h2 {
    padding-bottom: 25px;
    @media(max-width: 990px) {
      padding-bottom: 15px;
    }
    @media(max-width: 600px) {
      padding-bottom: 10px;
    }
  }

  h3 {
    padding-bottom: 25px;
    @media(max-width: 990px) {
      padding-bottom: 15px;
    }
    @media(max-width: 600px) {
      padding-bottom: 10px;
    }
  }

  .text-block {
    padding: 45px 0;
  }

  .text-image {
    max-width: 100%;
    margin: 15px 0;
  }

  .text-slider {
    padding: 15px 0;
    @media (max-width: 600px) {
      padding-bottom: 55px;
    }

    .VueCarousel-slide {
      background: $color-gray-7;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  ul {
    li {
      @include font-size(17px, 32px);
      color: $color-gray-5;
      padding: 0 0 10px;

      &:before {
        content: '—';
        padding-right: 5px;
      }
    }
  }

  a {
    color: $color-link;
    text-decoration: none;

    &:hover {
      color: $color-link-hover;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 25px;
    margin: 45px 0 55px;
    border-left: 5px solid $color-text;
  }
}
