.hidden {
  display: none;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.container {
  max-width: 800px;
  margin: 0 auto;

  &--wide {
    max-width: 1800px;
  }
}

.width-half {
  width: 50%;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.width-full {
  width: 100% !important;
}

.responsive-img {
  max-width: 100%;
}

.p-0 {
  padding: 0;
}

a {
  color: $color-link;

  &:hover {
    color: $color-link-hover;
  }
}
