@import "gradient";

@mixin ease($what: all, $time: 0.2s, $timeout: 0s, $how: ease-in-out) {
  transition-property: #{$what};
  transition-duration: $time;
  transition-delay: $timeout;
  transition-timing-function: $how;
}

@mixin size($width, $height: null) {
  width: $width;
  @if ($height == null) {
    height: $width;
  } @else {
    height: $height;
  }
}

@mixin background-cover($url: null) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @if ($url != null) {
    background-image: url($url);
  }
}

@mixin background-contain($url: null) {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  @if ($url != null) {
    background-image: url($url);
  }
}

@mixin font-size($size, $line-height: null) {
  font-size: $size;
  @if ($line-height == null) {
    line-height: $size;
  } @else {
    line-height: $line-height;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

@mixin pseudo {
  position: absolute;
  content: '';
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin cursor-draggable($active: false) {
  @if ($active == false) {
    cursor: move; // fallback if grab cursor is unsupported
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  } @else {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

@mixin do-not-break-group {
  -webkit-column-break-inside: avoid; // Chrome, Safari
  page-break-inside: avoid; // Theoretically FF 20+
  break-inside: avoid-column; // IE 11
  display: table; // Actually FF 20+
}
