$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-black: 700;

.weight-regular {
  font-weight: $font-weight-regular !important;
}

$first-column-width: 420px;

@mixin color($name, $c) {
  .text-#{$name} {
    color: $c !important;
  }
  .#{$name} {
    background-color: $c !important;
  }
}

/* Colors: */
// Main
$color-black: #000;
$color-white: #fff;
@include color(black, $color-black);
@include color(white, $color-white);

// Shades

$color-gray-1: #2E3137;
$color-gray-2: #44464b;
$color-gray-3: #666;
$color-gray-5: #999;
$color-gray-7: #F3F3F5;

$color-blue-3: #66b1ff;
$color-blue-5: #409EFF;
$color-blue-7: #ecf5ff;

$color-purple-3: #F98490;
$color-purple-5: #ff9ea8;

@include color(gray-1, $color-gray-1);
@include color(gray-2, $color-gray-2);
@include color(gray-3, $color-gray-3);
@include color(gray-5, $color-gray-5);
@include color(gray-7, $color-gray-7);
@include color(blue-3, $color-blue-3);
@include color(blue-5, $color-blue-5);
@include color(purple-3, $color-purple-3);

// Derivatives
$color-text: $color-gray-1;

$color-link: $color-blue-3;
$color-link-hover: $color-purple-3;


a.text-gray-3,
a.text-gray-5 {
  &:hover {
    color: $color-white !important;
  }
}

$transition-bounce: cubic-bezier(0.68, -0.55, 0.27, 1.55);
$transition-fast-out: cubic-bezier(0.4, 0, 1, 1);


