<template>
  <el-form label-position="top" v-loading="isLoading">
    <h3>Данные баланса трудовых ресурсов НСО по годам </h3>
    <el-form-item>
      <el-row :gutter="20">
      <el-col :span="2">
        <el-select v-model="form.year" placeholder="Выберите" size="small" >
          <el-option
            v-for="item in yearList"
            :key="item.year"
            :label="item.year"
            :value="item.year"
          >
          </el-option>
        </el-select>
      </el-col>
      <el-col :span="6">
      <el-button @click="handleClickOnUpdate" icon="el-icon-refresh" type="primary" size="small" round>Получить
      </el-button>
      </el-col>
      </el-row>



    </el-form-item>
    <el-form-item>
      <el-button @click="TableToXlsx('DataBTR','БТР')"
                 icon="el-icon-download" size="small" round>Excel
      </el-button>
      <el-table
        id="DataBTR"
        empty-text="Данных нет"
        :data="form.tableData"
        style="width: 100%">
        <el-table-column
          prop="ord_num"
          label="№ п.п.">
        </el-table-column>
        <el-table-column
          prop="line_name"
          label="Наименование показателя">
        </el-table-column>
        <el-table-column
          prop="value"
          label="Значение">
        </el-table-column>
      </el-table>
    </el-form-item>
  </el-form>
</template>

<script>
    import { LOT } from "../../../../interfaces/entities";
    import FormModalMixin from "../../../../mixins/FormModalMixin";
    import XLSX from 'xlsx';

    export default {
        name: "DataBtr",
        mixins: [FormModalMixin],
        data: () => ({
            isLoading: false,
            form: {
                formId: '',
                year: 2018,
                tableData: [],
            },
            //
        }),
        computed: {
                idDataSet(){
                    return this.form.idDataSet;
                },
                yearList(){
                    //TODO: года динамически
                    return [2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,].map((x)=>{ return {'year':x }; });
                },
                fileList(){
                    return  this.form.fileList;
                },
                year(){
                  return this.form.year;
                },
        },
        methods: {
            // external calling
            async getData() {
                this.isLoading = true;
                this.form.tableData = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.LOADED_BTR,
                      year: this.form.year });
                this.isLoading = false;
            },
            async handleClickOnUpdate(){
                await this.getData();
            },
            TableToXlsx(pvtId,name) {
                var tbl = document.getElementById(pvtId);
                var wb = XLSX.utils.table_to_book(tbl, { sheet: "Лист1" });
                XLSX.writeFile(wb, `${name}.xlsx`);
            },
        },
        mounted() {
            this.getData();
        },
    }
</script>

<style scoped>
  .input-has-value-style {
    border: 2px solid hotpink;
    background-color:lightpink;
  }

  .input-no-value-style {
    border: 2px solid red;
    background-color:pink;
  }
</style>
