<template>
  <el-form label-position="top" v-loading="isLoading">
    <h3>Прогноз баланса трудовых ресурсов НСО
    </h3>
    <el-form-item>
      <el-row :gutter="20">
        <el-col :span="6">
    <el-button @click="handleClickOnUpdate" icon="el-icon-refresh" type="primary" size="small" round>Получить
    </el-button>
        </el-col>
      </el-row>
    </el-form-item>
    <el-form-item>
      <el-button @click="TableToXlsx('ForecastBTR','Прогноз БТР')"
                 icon="el-icon-download" size="small" round>Excel
      </el-button>
      <el-table
        id="ForecastBTR"
        empty-text="Данных нет"
        :data="form.tableData"
        style="width: 100%">
        <el-table-column
          prop="pp"
          label="№ п.п.">
        </el-table-column>
        <el-table-column
          prop="row_name"
          label="Наименование показателя">
        </el-table-column>
        <el-table-column
          prop="y0"
          label="Очередной год">
        </el-table-column>
        <el-table-column
          prop="y1"
          label="Первый год планового периода">
        </el-table-column>
        <el-table-column
          prop="y2"
          label="Второй год планового периода">
        </el-table-column>
      </el-table>
    </el-form-item>
  </el-form>
</template>

<script>
    import { LOT } from "../../../../interfaces/entities";
    import FormModalMixin from "../../../../mixins/FormModalMixin";
    import XLSX from 'xlsx';

    export default {
        name: "ForecastBtr",
        mixins: [FormModalMixin],
        data: () => ({
            isLoading: false,
            form: {
                formId: '',
                tableData: [],
            },
            //
        }),
        computed: {
            scenarioId() {
                return this.$store.state.lot.scenarioId;
            },
        },
        methods: {
            // external calling
            async getData() {
                this.isLoading = true;
                this.form.tableData = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.FORECAST_BTR,
                      scenarioId: this.scenarioId });
                this.isLoading = false;
            },
            async handleClickOnUpdate(){
                await this.getData();
            },
            TableToXlsx(pvtId,name) {
                var tbl = document.getElementById(pvtId);
                var wb = XLSX.utils.table_to_book(tbl, { sheet: "Лист1" });
                XLSX.writeFile(wb, `${name}.xlsx`);
            },
        },
        mounted() {
            this.getData();
        },
    }
</script>

<style scoped>
  .input-has-value-style {
    border: 2px solid hotpink;
    background-color:lightpink;
  }

  .input-no-value-style {
    border: 2px solid red;
    background-color:pink;
  }
</style>
