<template>
  <el-form label-position="top" v-loading="isLoading">
<!--    <h3>-->
<!--      <el-button @click="handleClickOnUpdate" icon="el-icon-refresh" type="primary" size="small" round>Получить-->
<!--      </el-button>-->
<!--    </h3>-->
    <el-form-item>
      <el-tabs type="card" tab-position="top">
        <el-tab-pane label="Агрегированная информация о доп. персп.  потребности">
          <el-row :gutter="30" class="nav-filter">
            <el-col :span="5">
              <el-input v-model="filterStr12" placeholder="Введите поисковый фрагмент" prefix-icon="el-icon-search"/>
            </el-col>
            <el-col :span="2">
              Строк на странице:
            </el-col>
            <el-col :span="2">
                <el-select class="width-full" filterable placeholder="Строк на странице" v-model="pageSize12">
                  <el-option
                    v-for="item in pageSizeData"
                    :key="item.id"
                    :label="`${item.name}`"
                    :value="item.id">
                  </el-option>
                </el-select>
            </el-col>
            <el-col :span="2">
              <el-button @click="getData12" icon="el-icon-refresh" type="primary" size="small" round>Получить
              </el-button>
            </el-col>
            <el-col :span="5">
              <el-pagination
                background
                layout="prev, pager, next"
                :current-page.sync="page12"
                :page-count="pagesTotal12">
              </el-pagination>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="2">
              <el-button @click="TableToXlsx('mon_form12','Агрегированная информация о дополнительной перспективной  потребности')"
                         icon="el-icon-download" size="small" round>Excel
              </el-button>
            </el-col>
          </el-row>

          <table class="el-table is-plain result-table" id="mon_form12">
            <thead class="is-bordered">
            <tr>
              <th rowspan="2">Муниципальный район (городского округа)</th>
              <th rowspan="2">ОКВЭД</th>
              <th rowspan="2">Организация</th>
              <th rowspan="2">Наименование профессий</th>
              <th rowspan="2">Код по ОКПДТР</th>
              <th rowspan="2">Код по ОКЗ</th>
              <th rowspan="2">Уровень образования</th>
              <th rowspan="2">ОКВЭД</th>
              <th colspan="7">Дополнительная перспективная потребность в кадрах, чел.</th>
              <th rowspan="2">Итого</th>
            </tr>
            <tr>
<!--              <th>2019</th>-->
              <th>{{yearId+1}}</th>
              <th>{{yearId+2}}</th>
              <th>{{yearId+3}}</th>
              <th>{{yearId+4}}</th>
              <th>{{yearId+5}}</th>
              <th>{{yearId+6}}</th>
              <th>{{yearId+7}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(tableRow, tableRowKey) in form.tableData12" :key="tableRowKey" class="is-bordered text-center">
              <td class="text-left"><small>{{tableRow.mrigo}}</small></td>
              <td class="text-left"><small>{{tableRow.okved_partitions_name}}</small></td>
              <td class="text-left">{{tableRow.organization_name}}</td>
              <td class="text-left">{{tableRow.okpdtr_name}}</td>
              <td class="text-left">{{tableRow.okpdtr_code}}</td>
              <td class="text-left">{{tableRow.okz_code}}</td>
              <td class="text-left">{{tableRow.yr_obr}}</td>
              <td class="text-left">{{tableRow.okved_code}}</td>
<!--              <td class="text-left">{{tableRow.year_0}}</td>-->
              <td class="text-left">{{tableRow.year_1}}</td>
              <td class="text-left">{{tableRow.year_2}}</td>
              <td class="text-left">{{tableRow.year_3}}</td>
              <td class="text-left">{{tableRow.year_4}}</td>
              <td class="text-left">{{tableRow.year_5}}</td>
              <td class="text-left">{{tableRow.year_6}}</td>
              <td class="text-left">{{tableRow.year_7}}</td>
              <td class="text-left">{{tableRow.itog}}</td>
            </tr>
            </tbody>
          </table>
        </el-tab-pane>
        <el-tab-pane label="Агрегированная информация о доп. персп.  потребности. Свод">
          <el-row :gutter="30" class="nav-filter">
            <el-col :xs="4" :sm="4">
              <el-form-item label="Раздел ОКВЭД">
                <el-select v-model="okved_parts" placeholder="Выберите раздел ОКВЭД" filterable clearable multiple>
                  <el-option
                    v-for="item in okvedPartitionsList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="5">
              <el-button @click="getData12pvt" icon="el-icon-refresh" type="primary" size="small" round>Получить
              </el-button>
              <el-button @click="PivotToXlsx('pvtTableMon12','Мониторинг на среднесрочный период свод')"
                         icon="el-icon-download" size="small" round>Excel
              </el-button>
            </el-col>
          </el-row>
          <vue-pivottable-ui id="pvtTableMon12"
                             v-if="pivotData.data"
                             :aggregatorName="pivotData.aggregatorName"
                             :cols="pivotData.cols"
                             :data="pivotData.data"
                             :disabledFromDragDrop="pivotData.disabledFromDragDrop"
                             :hiddenFromDragDrop="pivotData.hiddenFromDragDrop"
                             :rendererName="pivotData.rendererName"
                             :rows="pivotData.rows"
                             :vals="pivotData.vals"
          >
          </vue-pivottable-ui>

        </el-tab-pane>
        <el-tab-pane label="Информация о доп. персп.  потр. в рамках инвест. проектов">


          <el-row :gutter="30" class="nav-filter">
            <el-col :span="5">
              <el-input v-model="filterStr13" placeholder="Введите поисковый фрагмент" prefix-icon="el-icon-search"/>
            </el-col>
            <el-col :span="2">
              Строк на странице:
            </el-col>
            <el-col :span="2">
              <el-select class="width-full" filterable placeholder="Строк на странице" v-model="pageSize13">
                <el-option
                  v-for="item in pageSizeData"
                  :key="item.id"
                  :label="`${item.name}`"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-col>
            <el-col :span="2">
              <el-button @click="getData13" icon="el-icon-refresh" type="primary" size="small" round>Получить
              </el-button>
            </el-col>
            <el-col :span="5">
              <el-pagination
                background
                layout="prev, pager, next"
                :current-page.sync="page13"
                :page-count="pagesTotal13">
              </el-pagination>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="2">
              <el-button @click="TableToXlsx('mon_form13','Агрегированная информация о дополнительной перспективной  потребности')"
                         icon="el-icon-download" size="small" round>Excel
              </el-button>
            </el-col>

          </el-row>


          <table class="el-table is-plain result-table" id="mon_form13">
            <thead class="is-bordered">
            <tr>
              <th rowspan="2">Муниципальный район (городского округа)</th>
              <th rowspan="2">ОКВЭД</th>
              <th rowspan="2">Инвестиционный проект</th>
              <th rowspan="2">Наименование профессий</th>
              <th rowspan="2">Код по ОКПДТР</th>
              <th rowspan="2">Код по ОКЗ</th>
              <th rowspan="2">Уровень образования</th>
              <th rowspan="2">ОКВЭД</th>
              <th colspan="7">Дополнительная перспективная потребность в кадрах, чел.</th>
              <th rowspan="2">Итого</th>
            </tr>
            <tr>
<!--              <th>2019</th>-->
              <th>{{yearId+1}}</th>
              <th>{{yearId+2}}</th>
              <th>{{yearId+3}}</th>
              <th>{{yearId+4}}</th>
              <th>{{yearId+5}}</th>
              <th>{{yearId+6}}</th>
              <th>{{yearId+7}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(tableRow, tableRowKey) in form.tableData13" :key="tableRowKey" class="is-bordered text-center">
              <td class="text-left"><small>{{tableRow.mrigo}}</small></td>
              <td class="text-left"><small>{{tableRow.okved_partitions_name}}</small></td>
              <td class="text-left">{{tableRow.invest_proj_name}}</td>
              <td class="text-left">{{tableRow.okpdtr_name}}</td>
              <td class="text-left">{{tableRow.okpdtr_code}}</td>
              <td class="text-left">{{tableRow.okz_code}}</td>
              <td class="text-left">{{tableRow.yr_obr}}</td>
              <td class="text-left">{{tableRow.okved_code}}</td>
<!--              <td class="text-right">{{tableRow.year_0}}</td>-->
              <td class="text-right">{{tableRow.year_1}}</td>
              <td class="text-right">{{tableRow.year_2}}</td>
              <td class="text-right">{{tableRow.year_3}}</td>
              <td class="text-right">{{tableRow.year_4}}</td>
              <td class="text-right">{{tableRow.year_5}}</td>
              <td class="text-right">{{tableRow.year_6}}</td>
              <td class="text-right">{{tableRow.year_7}}</td>
              <td class="text-right">{{tableRow.itog}}</td>
            </tr>
            </tbody>
          </table>
        </el-tab-pane>

        <el-tab-pane label="Перспективная потребность по уровням образования и годам">


          <el-row :gutter="30" class="nav-filter">
            <el-col :span="5">
              <el-input v-model="filterStr14" placeholder="Введите поисковый фрагмент" prefix-icon="el-icon-search"/>
            </el-col>
            <el-col :span="2">
              Строк на странице:
            </el-col>
            <el-col :span="2">
              <el-select class="width-full" filterable placeholder="Строк на странице" v-model="pageSize14">
                <el-option
                  v-for="item in pageSizeData"
                  :key="item.id"
                  :label="`${item.name}`"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-col>
            <el-col :span="2">
              <el-button @click="getData14" icon="el-icon-refresh" type="primary" size="small" round>Получить
              </el-button>
            </el-col>
            <el-col :span="5">
              <el-pagination
                background
                layout="prev, pager, next"
                :current-page.sync="page14"
                :page-count="pagesTotal14">
              </el-pagination>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="2">
              <el-button @click="TableToXlsx('mon_form14','Перспективная потребность по уровням образования и годам')"
                         icon="el-icon-download" size="small" round>Excel
              </el-button>
            </el-col>

          </el-row>

          <table class="el-table is-plain result-table" id="mon_form14">
            <thead class="is-bordered">
            <tr>
              <th rowspan="3">Наименование профессий рабочих, должностей служащих по ОКПДТР</th>
              <th rowspan="3">Код по ОКЗ</th>
              <th rowspan="3">ОКВЭД с идентификацией до уровня класса</th>
              <th colspan="21">Дополнительная перспективная потребность в кадрах, заявленная работодателями (участниками мониторинга), чел:</th>
              <th colspan="3" rowspan="2">Всего на {{yearId+1}}-{{yearId+7}} гг.</th>
            </tr>
            <tr>
              <th colspan="3">{{yearId+1}}</th>
              <th colspan="3">{{yearId+2}}</th>
              <th colspan="3">{{yearId+3}}</th>
              <th colspan="3">{{yearId+4}}</th>
              <th colspan="3">{{yearId+5}}</th>
              <th colspan="3">{{yearId+6}}</th>
              <th colspan="3">{{yearId+7}}</th>
            </tr>
            <tr>
              <!--              -->
              <th>ВО</th>
              <th>СПО</th>
              <th>НР</th>
              <!--              -->
              <th>ВО</th>
              <th>СПО</th>
              <th>НР</th>
              <!--              -->
              <th>ВО</th>
              <th>СПО</th>
              <th>НР</th>
              <!--              -->
              <th>ВО</th>
              <th>СПО</th>
              <th>НР</th>
              <!--              -->
              <th>ВО</th>
              <th>СПО</th>
              <th>НР</th>
              <!--              -->
              <th>ВО</th>
              <th>СПО</th>
              <th>НР</th>
              <!--              -->
              <th>ВО</th>
              <th>СПО</th>
              <th>НР</th>
              <!--              -->
              <th>ВО</th>
              <th>СПО</th>
              <th>НР</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(tableRow, tableRowKey) in form.tableData14" :key="tableRowKey" class="is-bordered text-center">
              <td class="text-left"><small>{{tableRow.okpdtr_name}}</small></td>
              <td class="text-left">{{tableRow.okz_code}}</td>
              <td class="text-left">{{tableRow.okved_code}}</td>
              <td class="text-right">{{tableRow.year_1_vo}}</td>
              <td class="text-right">{{tableRow.year_1_spo}}</td>
              <td class="text-right">{{tableRow.year_1_nk}}</td>
              <td class="text-right">{{tableRow.year_2_vo}}</td>
              <td class="text-right">{{tableRow.year_2_spo}}</td>
              <td class="text-right">{{tableRow.year_2_nk}}</td>
              <td class="text-right">{{tableRow.year_3_vo}}</td>
              <td class="text-right">{{tableRow.year_3_spo}}</td>
              <td class="text-right">{{tableRow.year_3_nk}}</td>
              <td class="text-right">{{tableRow.year_4_vo}}</td>
              <td class="text-right">{{tableRow.year_4_spo}}</td>
              <td class="text-right">{{tableRow.year_4_nk}}</td>
              <td class="text-right">{{tableRow.year_5_vo}}</td>
              <td class="text-right">{{tableRow.year_5_spo}}</td>
              <td class="text-right">{{tableRow.year_5_nk}}</td>
              <td class="text-right">{{tableRow.year_6_vo}}</td>
              <td class="text-right">{{tableRow.year_6_spo}}</td>
              <td class="text-right">{{tableRow.year_6_nk}}</td>
              <td class="text-right">{{tableRow.year_7_vo}}</td>
              <td class="text-right">{{tableRow.year_7_spo}}</td>
              <td class="text-right">{{tableRow.year_7_nk}}</td>
              <td class="text-right">{{tableRow.itog_vo}}</td>
              <td class="text-right">{{tableRow.itog_spo}}</td>
              <td class="text-right">{{tableRow.itog_nk}}</td>
            </tr>
            </tbody>
          </table>
        </el-tab-pane>

        <el-tab-pane label="Мониторинг на среднесрочный период по муниципальным районам (городским округам)">


          <el-row :gutter="30" class="nav-filter">
            <el-col :span="5">
              <el-input v-model="filterStr17" placeholder="Введите поисковый фрагмент" prefix-icon="el-icon-search"/>
            </el-col>
            <el-col :span="2">
              Строк на странице:
            </el-col>
            <el-col :span="2">
              <el-select class="width-full" filterable placeholder="Строк на странице" v-model="pageSize17">
                <el-option
                  v-for="item in pageSizeData"
                  :key="item.id"
                  :label="`${item.name}`"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-col>
            <el-col :span="2">
              <el-button @click="getData17" icon="el-icon-refresh" type="primary" size="small" round>Получить
              </el-button>
            </el-col>
            <el-col :span="5">
              <el-pagination
                background
                layout="prev, pager, next"
                :current-page.sync="page17"
                :page-count="pagesTotal17">
              </el-pagination>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="2">
            <el-button @click="TableToXlsx('mon_form17','Мониторинг на среднесрочный период по муниципальным районам (городским округам)')"
                          icon="el-icon-download" size="small" round>Excel
            </el-button>
            </el-col>

          </el-row>

          <table class="el-table is-plain result-table" id="mon_form17">
            <thead class="is-bordered">
            <tr>
              <th rowspan="2">Муниципальный район (городского округа)</th>
              <th rowspan="2">Количество организаций, охваченных опросом</th>
              <th rowspan="2">Количество организаций, представивших данные</th>
              <th rowspan="2">Кадровая потребность, заявленная работодателями Новосибирской области - участниками мониторинга, всего</th>
              <th colspan="2">из них:</th>
            </tr>
            <tr>
              <th>в специалистах с высшим образованием</th>
              <th>в специалистах со средним профессиональным образованием</th>
              <th>в неквалифицированных работниках</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(tableRow, tableRowKey) in form.tableData17" :key="tableRowKey" class="is-bordered text-center">
              <td class="text-left"><small>{{tableRow.mrigo}}</small></td>
              <td class="text-right"></td>
              <td class="text-right">{{tableRow.orgs_cnt}}</td>
              <td class="text-right">{{tableRow.sum_vo_spo_nr}}</td>
              <td class="text-right">{{tableRow.vo}}</td>
              <td class="text-right">{{tableRow.cpo}}</td>
              <td class="text-right">{{tableRow.nr}}</td>
            </tr>
            </tbody>
          </table>
        </el-tab-pane>
      </el-tabs>
    </el-form-item>
  </el-form>
</template>

<script>
    import { LOT } from "../../../../interfaces/entities";
    import XLSX from 'xlsx';
    import FormModalMixin from "../../../../mixins/FormModalMixin";

    export default {
        name: "MonitoringRes",
        mixins: [FormModalMixin],
        data: () => ({
            isLoading: false,
            form: {
                formId: '',
                tableData12: [],
                tableData13: [],
                tableData14: [],
                tableData15: [],
                tableData16: [],
                tableData17: [],
            },
            okved_parts: '',

            filterStr12: '',
            page12: 1,
            pageSize12: 50,
            pagesTotal12: 1,

            filterStr13: '',
            page13: 1,
            pageSize13: 50,
            pagesTotal13: 1,

            filterStr14: '',
            page14: 1,
            pageSize14: 50,
            pagesTotal14: 1,

            filterStr15: '',
            page15: 1,
            pageSize15: 50,
            pagesTotal15: 1,

            filterStr16: '',
            page16: 1,
            pageSize16: 50,
            pagesTotal16: 1,

            filterStr17: '',
            page17: 1,
            pageSize17: 50,
            pagesTotal17: 1,

            pageSizeData: [{'name':'25', 'id': 25}, {'name': '50', 'id': 50}, {'name':'100', 'id': 100}, {'name':'Все', 'id':0}],
            pivotData: {
              data: [],
              cols: [],
              rows: [],
              vals: [],
              disabledFromDragDrop: [],
              hiddenFromDragDrop: [],
              aggregatorName: '',
              rendererName: '',
            },
            //
        }),
        watch: {
            page12() {
                this.getData12();
            },
            pageSize12(){
                this.getData12();
            },
            yearId(){
                this.form.tableData12 = [];
            }
        },
        computed: {
            scenarioId() {
                return this.$store.state.lot.scenarioId;
            },
            yearId(){
                return this.$store.state.lot.yearId;
            }
        },
        methods: {
            // external calling
            async getData() {
                this.isLoading = true;
                this.getData12();
                this.form.tableData13 = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.MONITORING_FORM13 });
                this.form.tableData14 = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.MONITORING_FORM14 });
                this.form.tableData15 = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.MONITORING_FORM15 });
                this.form.tableData16 = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.MONITORING_FORM16 });
                this.form.tableData17 = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.MONITORING_FORM17 });
                this.isLoading = false;
            },
            async getData12(){
                const response  = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.MONITORING_FORM12, year: this.$store.state.lot.yearId,
                      page: this.page12-1, pageSize: this.pageSize12, filter_str: this.filterStr12});
                this.form.tableData12 = response.data;
                this.pagesTotal12 = response.metadata.pages;
            },
          async getData12pvt(){
            const response  = await this.$store.dispatch('lot/getList',
              { entityType: LOT.MONITORING_FORM12_PVT, year: this.$store.state.lot.yearId, okved_parts: this.okved_parts,});
            this.pivotData = {
              ...response.data,
            };
            //this.form.tableData12 = response.data;

          },
            async getData13(){
                const response  = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.MONITORING_FORM13, year: this.$store.state.lot.yearId,
                        page: this.page13-1, pageSize: this.pageSize13, filter_str: this.filterStr13});
                this.form.tableData13 = response.data;
                this.pagesTotal13 = response.metadata.pages;
            },
            async getData14(){
                const response  = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.MONITORING_FORM14, year: this.$store.state.lot.yearId,
                        page: this.page14-1, pageSize: this.pageSize14, filter_str: this.filterStr14});
                this.form.tableData14 = response.data;
                this.pagesTotal14 = response.metadata.pages;
            },
            async getData15(){
                const response  = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.MONITORING_FORM15, year: this.$store.state.lot.yearId,
                        page: this.page15-1, pageSize: this.pageSize15, filter_str: this.filterStr15});
                this.form.tableData15 = response.data;
                this.pagesTotal15 = response.metadata.pages;
            },
            async getData16(){
                const response  = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.MONITORING_FORM16, year: this.$store.state.lot.yearId,
                        page: this.page16-1, pageSize: this.pageSize16, filter_str: this.filterStr16});
                this.form.tableData16 = response.data;
                this.pagesTotal16 = response.metadata.pages;
            },
            async getData17(){
                const response  = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.MONITORING_FORM17, year: this.$store.state.lot.yearId,
                        page: this.page17-1, pageSize: this.pageSize17, filter_str: this.filterStr17});
                this.form.tableData17 = response.data;
                this.pagesTotal17 = response.metadata.pages;
            },
            async handleClickOnUpdate(){
                console.log('Получение');
                await this.getData();
            },
            TableToXlsx(pvtId,name) {
                var tbl = document.getElementById(pvtId);
                var wb = XLSX.utils.table_to_book(tbl, { sheet: "Лист1" });
                XLSX.writeFile(wb, `${name}.xlsx`);
            },
            PivotToXlsx(pvtId,name) {
               var pvt = document.getElementById(pvtId)
               var pvtTb = pvt.getElementsByClassName('pvtTable')[0];
               var wb = XLSX.utils.table_to_book(pvtTb, { sheet: "Сводный отчет" });
              XLSX.writeFile(wb, `${name}.xlsx`);
            },
        },
        mounted() {
            //this.getData();
        },

    }
</script>

<style scoped>
  .input-has-value-style {
    border: 2px solid hotpink;
    background-color:lightpink;
  }

  .input-no-value-style {
    border: 2px solid red;
    background-color:pink;
  }
</style>
