<template>
  <el-form label-position="top" v-loading="isLoading">
    <el-row :gutter="30">
      <el-col :xs="4" :sm="4">
        <el-form-item label="Год">
          <el-select v-model="yearId" placeholder="Выберите год" filterable clearable>
            <el-option
              v-for="item in years"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :xs="8" :sm="8">
        <el-form-item label="Организация">
          <el-select v-model="organizationId" placeholder="Выберите организацию" filterable clearable>
            <el-option
              v-for="item in organizationList"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :xs="4" :sm="4">
        <el-form-item label="МРиГО">
          <el-select v-model="mrigoId" placeholder="Выберите МРиГО" filterable clearable>
            <el-option
              v-for="item in districtList"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :xs="4" :sm="4">
        <el-form-item label="Раздел ОКВЭД">
          <el-select v-model="okvedId" placeholder="Выберите раздел ОКВЭД" filterable clearable>
            <el-option
              v-for="item in okvedPartitionsList"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-form-item>
    <h3>Результаты
      <el-button @click="handleClickOnUpdate" icon="el-icon-refresh" type="primary" size="small" round>Рассчитать
      </el-button>
    </h3>
    <section>
       <div class="table-scrollable-container" v-loading="isLoading">
         <el-button @click="PivotToXlsx('pvtTableOKPDTR2')"
                    icon="el-icon-download" size="small" round>Excel
         </el-button>

        <vue-pivottable-ui id="pvtTableOKPDTR2"
                           v-if="pivotData.data"
                           :aggregatorName="pivotData.aggregatorName"
                           :cols="pivotData.cols"
                           :data="pivotData.data"
                           :disabledFromDragDrop="pivotData.disabledFromDragDrop"
                           :hiddenFromDragDrop="pivotData.hiddenFromDragDrop"
                           :rendererName="pivotData.rendererName"
                           :rows="pivotData.rows"
                           :vals="pivotData.vals"
        >
        </vue-pivottable-ui>
      </div>
    </section>
    </el-form-item>
  </el-form>
</template>

<script>
    import { LOT } from "../../../../interfaces/entities";
    import FormModalMixin from "../../../../mixins/FormModalMixin";
    import XLSX from 'xlsx';

    export default {
        name: "ReqPrognoz",
        mixins: [FormModalMixin],
        data: () => ({
            isLoading: false,
            form: {
                formId: '',
                tableData: [],
            },
            pivotData: {
                data: [],
                cols: [],
                rows: [],
                vals: [],
                disabledFromDragDrop: [],
                hiddenFromDragDrop: [],
                aggregatorName: '',
                rendererName: '',
            },
            yearId: '',
            organizationId: '',
            okvedId: '',
            mrigoId: '',
            years: [{id:2020,name:2020},{id:2021,name:2021},{id:2022,name:2022},{id:2023,name:2023},{id:2024,name:2024},{id:2025,name:2025},{id:2026,name:2026},{id:2027,name:2027},{id:2028,name:2028}],
            //
        }),
        methods: {
            // external calling
            async getData() {
                this.isLoading = true;
                console.log(this.yearId, this.organizationId, this.mrigoId, this.okvedId, this.$store.state.lot.scenarioId);
                const response = await this.$store.dispatch('lot/getList', { entityType: LOT.PIVOT_PROGNOZ_OKPDTR,
                                                                             scenarioId: this.$store.state.lot.scenarioId,
                                                                             year:this.yearId,
                                                                             organization:this.organizationId,
                                                                             mrigo: this.mrigoId,
                                                                             okved: this.okvedId,
                                                                             year_prognoz: this.$store.state.lot.yearId,
                                                                           });
                this.pivotData = {
                    ...response.data,
                };
                // ToDo: перегружать только данные if (this.pivotData.data == []) {
                //     this.pivotData = {
                //         ...response.data,
                //     };
                // }
                // else {
                //     this.pivotData.data = response.data['data'];
                // };
                this.isLoading = false;
            },
            handleClickOnUpdate(){
                this.getData();
            },
            PivotToXlsx(pvtId) {
                var pvt = document.getElementById(pvtId)
                var pvtTb = pvt.getElementsByClassName('pvtTable')[0];
                var wb = XLSX.utils.table_to_book(pvtTb, { sheet: "Сводный отчет" });
                XLSX.writeFile(wb, 'Прогноз потребности.xlsx');
            },
        },
        mounted() {
            this.getData();
        },
    }
</script>

<style scoped>
  .input-has-value-style {
    border: 2px solid hotpink;
    background-color:lightpink;
  }

  .input-no-value-style {
    border: 2px solid red;
    background-color:pink;
  }
</style>
