<template>
  <el-form label-position="top" v-loading="isLoading">
    <el-form-item>
      <el-button @click="handleClickOnUpdate" icon="el-icon-refresh" type="primary" size="small" round>Получить
      </el-button>
      <div class="table-scrollable-container">
        <el-table
          empty-text="Данных нет"
          :data="form.tableData"
          :span-method="objectSpanMethod"
          style="width: 100%"
          max-height="900">
          <el-table-column
            prop="num"
            label="№ п.п."
            fixed
            width="50"
          >
          </el-table-column>
          <el-table-column
            prop="name"
            label="Наименование показателя"
            fixed
            width="350">
          </el-table-column>
          <el-table-column
            prop="scenario"
            label="Сценарий"
            width="150"
          >
          </el-table-column>
          <el-table-column v-for="(year, k) in yearList"
            :key="k"
            :prop="k"
            :label="year"
            height="50"
          >
          </el-table-column>
        </el-table>
      </div>
    </el-form-item>

    <el-form-item class="text-right">
      <el-button type="primary">Сохранить</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
    import { LOT } from "../../../../interfaces/entities";

    export default {
        name: "SerLines",
        data: () => ({
                isLoading: false,
                form: {
                    formId: '',
                    tableData: [],
                },
            }
        ),
        methods: {
            // external calling
            async getData() {
                this.isLoading = true;
                this.form.tableData = await this.$store.dispatch('lot/getList',
                     { entityType: LOT.SER_LINES });
                this.isLoading = false;
            },
            objectSpanMethod({ row, column, rowIndex, columnIndex }) {
                if (columnIndex === 0 || columnIndex === 1) {
                    if (rowIndex % 3 === 0) {
                        return {
                            rowspan: 3,
                            colspan: 1
                        };
                    } else {
                        return {
                            rowspan: 0,
                            colspan: 0
                        };
                    }
                }
            },
            handleClickOnUpdate(){
                this.getData();
            },
        },
        computed: {
            //список годов из первой строки представления vw_invest_proj_years
            yearList() {
                //TODO: динамически получать для текущего года
                let result = {'y_0': '2019',
                              'y_1': '2020',
                              'y_2': '2021',
                              'y_3': '2022',
                              'y_4': '2023',
                              'y_5': '2024',
                              'y_6': '2025',
                              'y_7': '2026',
                              'y_8': '2027',
                              'y_9': '2028'
                };
                return result;
            },
        },
        mounted() {
            this.getData();
        }
    }


</script>

<style scoped>

</style>
