<template>
  <el-form label-position="top" v-loading="isLoading">
    <el-form-item>
      <div class="table-scrollable-container">
        <table class="el-table is-plain edu-table">
          <thead>
          <tr>
            <th width="600">Параметр СЭР</th>
            <th width="400">Раздел ОКВЭД</th>
            <th width="100">Коэффициент влияния</th>
            <th>Действия</th>
          </tr>
          </thead>
          <tr v-for="(entry, key) in form.tableData" :key="key">
            <td>
              <select class="el-select-simple small" v-model="entry.id_type_ser_line"
                      placeholder="Выберите"
                      filterable style="width:600px">
                <option
                  v-for="item in typeSerLineByOkvedList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id">
                </option>
              </select>
            </td>
            <td>
              <select class="el-select-simple small" v-model="entry.id_okved_partitions"
                      placeholder="Выберите"
                      filterable style="width:400px">
                <option
                  v-for="item in okvedPartitionsList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id">
                </option>
              </select>
            </td>
            <td>
              <el-input v-model="entry['koefft']"  @change="handleChangeLine(entry)" size="small"/>
            </td>
            <td>
              <el-link @click="save(entry)" icon="el-icon-edit">Сохранить</el-link>
            </td>
          </tr>

        </table>
      </div>
      <el-button size="small" @click="addLine()"><i class="el-icon-plus"/>Добавить строку</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
    import { LOT } from "../../../../interfaces/entities";
    import FormModalMixin from "../../../../mixins/FormModalMixin";

    export default {
        name: "SerToOkved",
        mixins: [FormModalMixin],
        data: () => ({
            isLoading: false,
            form: {
                formId: '',
                tableData: [],
            },
            pivotData: {
                data: [],
                cols: [],
                rows: [],
                vals: [],
                disabledFromDragDrop: [],
                hiddenFromDragDrop: [],
                aggregatorName: '',
                rendererName: '',
            },
            //
        }),
        methods: {
            // external calling
            async getData() {
                this.isLoading = true;
                this.form.tableData = await this.$store.dispatch('lot/getList',
                    { entityType: LOT.TYPE_SER_OKVED });
                // const response = await this.$store.dispatch('lot/getList', { entityType: LOT.PIVOT_PROGNOZ_Y });
                // this.pivotData = {
                //     ...response.data,
                // };
                // ToDo: перегружать только данные if (this.pivotData.data == []) {
                //     this.pivotData = {
                //         ...response.data,
                //     };
                // }
                // else {
                //     this.pivotData.data = response.data['data'];
                // };
                this.isLoading = false;
            },
            addLine() {
                this.form.tableData.push({});
            },
            removeLine(index) {
                this.form.tableData.splice(index, 1);
            },
            handleChangeLine(entry){
                entry.isModified = true;
            },
            handleClickOnUpdate(){
                this.getData();
            },
            async save(entry) {
                await this.$store.dispatch('lot/saveEntity',
                    { entityType: LOT.TYPE_SER_OKVED, id: entry.id, form: entry });
                entry.isModified = false;
            },
        },
        mounted() {
            this.getData();
        },
    }
</script>

<style scoped>
  .input-has-value-style {
    border: 2px solid hotpink;
    background-color:lightpink;
  }

  .input-no-value-style {
    border: 2px solid red;
    background-color:pink;
  }
</style>
