<template>
  <section class="item-list" v-loading="isLoading">
    <h2>ОО ВО</h2>
    <el-button size="small" @click="handleClickOnEdit({is_educ: 1, is_spo: 0})"><i class="el-icon-plus"/>Добавить</el-button>

    <el-table
      empty-text="Данных нет"
      :data="tableData"
      style="width: 100%">
      <el-table-column
        prop="name"
        label="Организация"
        width="320"
        >
      </el-table-column>
      <el-table-column
        prop="inn"
        label="ИНН"
        class-name="cell-small"
        width="120">
      </el-table-column>
      <el-table-column
        prop="ogrn"
        label="ОГРН"
        class-name="cell-small"
        width="120">
      </el-table-column>
      <el-table-column
        prop="phone"
        label="Телефон">
      </el-table-column>
      <el-table-column
        prop="email"
        label="Емейл">
      </el-table-column>
      <el-table-column
        prop="adress"
        label="Адрес">
      </el-table-column>
      <el-table-column
        prop="head"
        class-name="cell-small"
        width="120"
        label="Руководитель">
      </el-table-column>

      <el-table-column
        label="Действия"
        fixed="right"
        width="120">
        <template slot-scope="scope">
          <el-link @click="handleClickOnEdit(scope.row)" icon="el-icon-edit">Изменить</el-link>
        </template>
      </el-table-column>

    </el-table>

    <el-dialog
      title="ВО"
      :visible.sync="dialogVisible"
      :before-close="handleClose"
      :closeOnClickModal=false
      v-loading="isLoading"
      width="900px"
    >
      <form-vo ref="editFormVO" @save="handleSave" @close="dialogVisible = false"/>
    </el-dialog>

  </section>
</template>

<script>
  import { ADMIN } from "../../../interfaces/entities";
  import { ORGANIZATION_TYPE } from "../../../interfaces/entities";
  import FormVo from "./VO";

  export default {
    name: 'AdminVoList',
    components: { FormVo },
    data: () => ({
      isLoading: false,
      dialogVisible: false,
      tableData: [],
    }),
    methods: {
      async getList() {
        this.isLoading = true;
        this.tableData = await this.$store.dispatch('admin/getList', { entityType: ADMIN.VO });
        this.isLoading = false;
      },
      handleClickOnEdit(row) {
        this.dialogVisible = true;
        this.$nextTick(() => {
          this.$refs.editFormVO.init(row);
          this.isLoading = false;
        });
      },
      handleClose(done) {
        done();
      },
      async handleSave(form) {
        this.isLoading = true;
        // save form
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.VO_SPO,
          formId: (form.formId !== undefined ? form.formId : 0),
        });

        this.isLoading = false;
        this.dialogVisible = false;
        this.getList();
      },
    },
    mounted() {
      this.getList();
    },
  }
</script>
