<template>
  <section class="item-list" v-loading="isLoading">

    <el-row>
      <el-table
        empty-text="Данных нет"
        :data="tableData"
        style="width: 100%"
      >
        <el-table-column
          label="Год"
          width="200">
          <template slot-scope="scope">
            <el-input v-model="scope.row.year_for" size="small"/>
          </template>
        </el-table-column>

        <el-table-column
          label="Действия"
          fixed="right"
          width="120">
          <template slot-scope="scope">
            <el-link @click="handleClickOnSave(scope.row)" icon="el-icon-check">Сохранить</el-link>
          </template>
        </el-table-column>

      </el-table>
    </el-row>
  </section>
</template>

<script>
    import { ADMIN } from "../../../interfaces/entities";

    export default {
        name: 'AdminYear',
        data: () => ({
            isLoading: false,
            tableData: [],
        }),
        methods: {
            async getList() {
                this.isLoading = true;
                this.tableData = await this.$store.dispatch('admin/getList', {
                    entityType: ADMIN.REF_ENTITY,
                    tabName: 'work_year'});
                this.isLoading = false;
            },
            handleAdd(){
                this.tableData.unshift({id:undefined, login:'', user_role: ''});
            },
            async handleClickOnSave(row) {
                this.isLoading = true;
                console.log(row);
                await this.$store.dispatch('admin/saveEntity', {
                    entityType: ADMIN.REF_ENTITY,
                    tabName: 'work_year',
                    row: row,
                    id: (row.id !== undefined ? row.id : 0),
                });

                this.isLoading = false;
            },
        },
        mounted() {
            this.getList();
        },
    }
</script>
