<template>
  <section class="item-list" v-loading="isLoading">
    <h2>Справочники</h2>
      <el-select class="width-small" size="small" v-model="refCurrent" placeholder="Выберите из списка" @change="handleChange">
        <el-option
          v-for="item in refList"
          :key="item.id"
          :label="item.name"
          :value="item.id">
        </el-option>
      </el-select>

    <el-row :gutter="30" class="nav-filter">
      <el-col :xs="24" :sm="12" :md="16" class="text-right">
        <el-pagination
          background
          layout="prev, pager, next"
          :current-page.sync="page"
          :page-count="pagesTotal">
        </el-pagination>
      </el-col>
    </el-row>
    <el-row>
    <el-button size="small" @click="handleAdd()"><i class="el-icon-plus"/>Добавить</el-button>
    </el-row>
    <el-row>
    <el-table
      empty-text="Данных нет"
      :data="tableData"
      style="width: 100%"
      >
      <el-table-column
        prop="id"
        label="ID"
        width="50"
      >
      </el-table-column>
      <el-table-column
        label="Код"
        width="200">
        <template slot-scope="scope">
          <el-input v-model="scope.row.code" size="small"/>
        </template>
      </el-table-column>
      <el-table-column
        label="Наименование">
        <template slot-scope="scope">
          <el-input v-model="scope.row.name" size="small"/>
        </template>
      </el-table-column>

      <el-table-column
        label="Действия"
        fixed="right"
        width="120">
        <template slot-scope="scope">
          <el-link @click="handleClickOnSave(scope.row)" icon="el-icon-check">Сохранить</el-link>
        </template>
      </el-table-column>

    </el-table>
    </el-row>
  </section>
</template>

<script>
  import { ADMIN } from "../../../interfaces/entities";
  import { ORGANIZATION_TYPE } from "../../../interfaces/entities";
  import FormSpo from "./SPO";

  export default {
    name: 'AdminDictionariesList',
    data: () => ({
      isLoading: false,
      tableData: [],
      refList: [],
      refCurrent: 1,
      page: 1,
      pagesTotal: 1,
    }),
    methods: {
      async getList() {
        this.isLoading = true;
        // TODO: Расскоментировать получение
        // this.tableData = await this.$store.dispatch('admin/getList', { entityType: ADMIN.SPO });
          this.refList = [
              { id: 0, name: 'ОКФ', tabname: 'okf'},
              { id: 1, name: 'ОКЗ', tabname: 'okz'},
              { id: 2, name: 'Направления/специальности', tabname: 'okso'},
              { id: 3, name: 'okpdtr', tabname: 'okpdtr'},
          ];
          this.tableData = [
          { id: 1, code: '', name: '', },
          ];

        this.refCurrent = '';
        this.isLoading = false;
        this.page = 1;
      },
      async loadRef(){
          const response = await this.$store.dispatch('admin/getList', {
              entityType: ADMIN.REF_LIST,
              tabName: this.refCurrent,
              page: this.page - 1});
          console.log(response);
          this.tableData = response.data;
          this.pagesTotal = response.pagesTotal;
      },
      async handleChange(id){
        console.log("!");
        console.log(id);
        console.log(this.refCurrent);
        const tabname = this.refList[id].tabname;
        console.log(tabname);
        this.refCurrent = tabname;
        this.page = 1;
        await this.loadRef();
      },
      handleAdd(){
          this.tableData.unshift({id:undefined, code:'', name: ''});
      },
      async handleClickOnSave(row) {
        this.isLoading = true;

        await this.$store.dispatch('admin/saveEntity', {
          entityType: ADMIN.REF_LIST,
          row: row,
          formId: (row.id !== undefined ? row.id : 0),
        });

        console.log(row);
        this.isLoading = false;
      },
    },
    mounted() {
      this.getList();
    },
    watch: {
        page() {
            this.loadRef();
        },
    },

  }
</script>
