<template>
  <el-form label-position="top" v-loading="isLoading">
    <el-form-item label="Наименование организации">
      <el-input v-model="form.organisationName"></el-input>
    </el-form-item>

    <el-form-item label="ИНН">
      <el-input v-model="form.organisationINN"></el-input>
    </el-form-item>

    <el-form-item label="ОГРН">
      <el-input v-model="form.organisationOGRN"></el-input>
    </el-form-item>

    <el-form-item label="Район, город">
      <el-select v-model="form.organisationDistrict" filterable placeholder="Выберите">
        <el-option
          v-for="item in districtList"
          :key="item.id"
          :label="`${item.name}`"
          :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>

    <el-form-item label="Адрес">
      <el-input v-model="form.organisationAddress"></el-input>
    </el-form-item>

    <el-form-item label="Руководитель">
      <el-input v-model="form.organisationHead"></el-input>
    </el-form-item>

    <el-form-item label="E-Mail">
      <el-input v-model="form.organisationEmail"></el-input>
    </el-form-item>

    <el-form-item label="Телефон">
      <el-input v-model="form.organisationPhone"></el-input>
    </el-form-item>

    <el-form-item label="Сайт">
      <el-input v-model="form.organisationSite"></el-input>
    </el-form-item>

    <el-form-item class="text-right">
      <el-button @click="close()">Отмена</el-button>
      <el-button @click="save()" type="primary">Сохранить</el-button>
    </el-form-item>

  </el-form>
</template>

<script>
  import FormModalMixin from "../../../mixins/FormModalMixin";

  export default {
    name: 'FormSpo',
      mixins: [FormModalMixin],
    data: () => ({
      isLoading: false,

      form: {
        formId: '',
        organisationId: '',
        organisationName: '',
        organisationDistrict: '',
        organisationINN: '',
        organisationOGRN: '',
        organisationAddress: '',
        organisationHead: '',
        organisationEmail: '',
        organisationPhone: '',
        organisationSite: '',
        is_educ: 1,
        is_spo: 1,
        id_okfs: 11,
      },
    }),
    methods: {
      async init(data) {
        console.log('INIT', data);
        this.isLoading = true;
        this.form.organisationName = data.name;
        this.form.organisationDistrict = data.id_mrigo;
        this.form.organisationINN = data.inn;
        this.form.organisationOGRN = data.ogrn;
        this.form.organisationAddress = data.adress;
        this.form.organisationHead = data.head;
        this.form.organisationEmail = data.email;
        this.form.organisationPhone = data.phone;
        this.form.organisationSite = data.url;
        this.form.is_educ = data.is_educ;
        this.form.is_spo = data.is_spo;
        this.form.formId = data.id;
        this.isLoading = false;
      },
    }
  }
</script>

<style lang="scss" scoped>
  .edu-table {
    td {
      vertical-align: bottom;
    }
  }
</style>
