<template>
  <el-tabs tab-position="left" type="border-card">
    <el-tab-pane label="Год сбора данных">
      <admin-year/>
    </el-tab-pane>
    <el-tab-pane label="Справочники">
      <admin-dictionaries-list/>
    </el-tab-pane>
    <el-tab-pane label="ОО ВО">
      <admin-vo-list/>
    </el-tab-pane>
    <el-tab-pane label="ОО СПО">
      <admin-spo-list/>
    </el-tab-pane>
    <el-tab-pane label="Пользователи">
      <admin-users/>
    </el-tab-pane>
    <el-tab-pane label="Журнал действий" v-if="false"></el-tab-pane>
    <el-tab-pane label="Журнал загрузок" v-if="false"></el-tab-pane>
  </el-tabs>
</template>

<script>
  import AdminVoList from "../forms/Admin/AdminVOList";
  import AdminSpoList from "../forms/Admin/AdminSpoList";
  import AdminDictionariesList from "../forms/Admin/AdminDictionariesList";
  import AdminYear from "../forms/Admin/AdminYear";
  import AdminUsers from "../forms/Admin/AdminUsers";

  export default {
    name: 'CabinetAdmin',
    components: {AdminUsers, AdminYear, AdminDictionariesList, AdminSpoList, AdminVoList },
    methods: {},
    mounted() {
    },
  }
</script>
