<template>
  <section>
    <el-tabs type="card">
      <el-tab-pane label="База данных выпускников" v-if="isSpo==1">
        <graduate-edu-list/>
      </el-tab-pane>
      <el-tab-pane label="Заявки на КЦП" v-if="isSpo==1 && 1==0">
        <k-c-p-request-list/>
      </el-tab-pane>
      <el-tab-pane label="ВПО-1" v-if="isSpo==0">
        <vpo1-list/>
      </el-tab-pane>
      <el-tab-pane label="СПО-1" v-if="isSpo==1 && 1==0">
        <spo1-list/>
      </el-tab-pane>
      <el-tab-pane label="Заявки на целевое обучение" v-if="isSpo==0">
        <edu-request-list/>
      </el-tab-pane>

    </el-tabs>
  </section>
</template>

<script>
  import EduRequestList from "../forms/EduRequestList";
  import Vpo1List from "../forms/VPO1List";
  import Spo1List from "../forms/SPO1List";
  import KCPRequestList from "../forms/KCPRequestList";
  import GraduateEduList from "../forms/GraduateEduList";

  export default {
    name: 'CabinetEmployerEdu',
    components: {
      GraduateEduList,
      Spo1List,
      Vpo1List,
      EduRequestList,
      KCPRequestList
    },
    computed: {
          isSpo() {
              return this.$store.state.user.userData.is_spo;
          },
    },
  }
</script>
