<template>
  <section>
    <el-tabs type="card">
      <el-tab-pane label="Опрос о потребности в кадрах и дополнительном образовании">
        <poll-list/>
      </el-tab-pane>
      <el-tab-pane label="Заявки на целевое обучение">
        <edu-request-list/>
      </el-tab-pane>

    </el-tabs>
  </section>
</template>

<script>
  import EduRequestList from "../forms/EduRequestList";
  import PollList from "../forms/PollList";

  export default {
    name: 'CabinetEmployer',
    components: { EduRequestList, PollList },
  }
</script>
