<template>
  <section>
    <el-tabs type="card">
      <el-tab-pane label="ВПО-1">
        <vpo1-list/>
      </el-tab-pane>
      <el-tab-pane label="СПО-1">
        <spo1-list/>
      </el-tab-pane>
      <el-tab-pane label="Прогноз кадровой потребности">
        <prediction/>
      </el-tab-pane>
      <el-tab-pane label="Распределение КЦП">
        <process-kcp/>
      </el-tab-pane>
      <el-tab-pane label="Переходник классификаторов">
        <adapter-class-list/>
      </el-tab-pane>
      <el-tab-pane label="Вакансии и резюме">
        <vacs-resume/>
      </el-tab-pane>
      <el-tab-pane label="Результаты опроса обучающихся ВО и СПО">
        <poll-vo-spo-summary/>
      </el-tab-pane>
      <el-tab-pane label="Выпускники СПО">
        <graduate-edu-list/>
      </el-tab-pane>
      <el-tab-pane label="База выпускников">
        <graduate-edu-pivot/>
      </el-tab-pane>
      <el-tab-pane label="Заявки на целевое обучение">
        <edu-request-list/>
      </el-tab-pane>
    </el-tabs>
  </section>
</template>

<script>
  import Vpo1List from "../forms/VPO1List";
  import Spo1List from "../forms/SPO1List";
  import Prediction from "../forms/Prediction/PredictionMain";
  import ProcessKcp from "../forms/ProcessKcp";
  import AdapterClassList from "../forms/AdapterClassList";
  import AdapterSummary from "../forms/AdapterSummary";
  import PollVoSpoSummary from "../forms/PollVoSpoSummary";
  import GraduateEduList from "../forms/GraduateEduList";
  import GraduateEduPivot from "../forms/GraduateEduPivot";
  import VacsResume from "../forms/VacsResume";
  import EduRequestList from "../forms/EduRequestList"

  export default {
    name: 'CabinetMinEdu',
    components: {
      GraduateEduPivot,
      GraduateEduList,
      AdapterSummary,
      AdapterClassList,
      Spo1List,
      Vpo1List,
      Prediction,
      PollVoSpoSummary,
      ProcessKcp,
      VacsResume,
      EduRequestList
    },
  }
</script>
