<template>
  <section>
    <el-tabs type="card">
      <el-tab-pane label="Инвестиционные проекты">
        <item-list-f7/>
      </el-tab-pane>
      <el-tab-pane label="Опросы работодателей">
        <poll-list/>
      </el-tab-pane>
      <el-tab-pane label="Прогноз кадровой потребности">
        <prediction/>
      </el-tab-pane>
      <el-tab-pane label="Переходник классификаторов">
        <adapter-class-list/>
      </el-tab-pane>
      <el-tab-pane label="Вакансии и резюме">
        <vacs-resume/>
      </el-tab-pane>
      <el-tab-pane label="Данные статистики">
        <stat-data/>
      </el-tab-pane>
<!--      <el-tab-pane label="Планируемая потребность">-->
<!--        <okso-summary/>-->
<!--      </el-tab-pane>-->
<!--      <el-tab-pane label="Сответствие ОКВЭД и ОКСО по СПО">-->
<!--        <okved-spo-summary/>-->
<!--      </el-tab-pane>-->
<!--      <el-tab-pane label="Экспертные оценки">-->
<!--        <expert-values-list/>-->
<!--      </el-tab-pane>-->
    </el-tabs>
  </section>
</template>

<script>
  import ItemListC2 from "../forms/C2List";
  import ItemListF7 from "../forms/F7List";
  import PollList from "../forms/PollList";
  import Prediction from "../forms/Prediction/PredictionMain";
  import AdapterClassList from "../forms/AdapterClassList";
  import AdapterSummary from "../forms/AdapterSummary";
  import UgsList from "../forms/UgsList";
  import ExpertValuesList from "../forms/ExpertValuesList";
  import OkvedSpoSummary from "../forms/OkvedSpoSummary";
  import OksoSummary from "../forms/OksoSummary";
  import StatData from "../forms/StatData";
  import VacsResume from "../forms/VacsResume";

  export default {
    name: 'CabinetLaborSocialPolitic',
    components: {
      ExpertValuesList,
      UgsList,
      AdapterSummary,
      AdapterClassList,
      ItemListF7,
      ItemListC2,
      PollList,
      Prediction,
      OkvedSpoSummary,
      OksoSummary,
      StatData,
      VacsResume,
    },
  }
</script>
