<template>
  <section>
    <el-tabs type="card">
      <el-tab-pane label="Опрос о потребности в кадрах и дополнительном образовании">
        <poll-list/>
      </el-tab-pane>
      <el-tab-pane label="Загрузка данных">
      </el-tab-pane>
    </el-tabs>
  </section>
</template>

<script>
  import PollList from "../forms/PollList";
  export default {
    name: 'CabinetMunicipalAuthority',
    components: {PollList},
  }
</script>
