<template>
  <el-container direction="vertical">
    <el-header>
      <el-menu class="el-menu--main" mode="horizontal" default-active="nothing">
        <el-menu-item index="logo" class="no-active">
          <nuxt-link to="/" index="index"><i class="el-icon-s-home"/>АИС КП</nuxt-link>
        </el-menu-item>
        <el-menu-item index="link_cabinet" v-if="isLoggedIn">
          <nuxt-link to="/cabinet"><i class="el-icon-suitcase"/>Кабинет</nuxt-link>
        </el-menu-item>
        <el-menu-item index="link_logout" v-if="isLoggedIn" class="no-active right">
          <el-link @click="logout" :underline="false"><i class="el-icon-upload2"/>Выйти</el-link>
        </el-menu-item>
        <el-menu-item index="role" v-if="userRole" class="no-active right" :title="userName">
          <el-tag><i class="el-icon-user"/>{{userRoleStr}}</el-tag>
        </el-menu-item>
      </el-menu>
    </el-header>
    <el-main>
      <nuxt/>
    </el-main>
    <el-footer>&copy; {{(new Date()).getFullYear()}}
<!--      <nuxt-link to="/">Главная страница</nuxt-link>-->
<!--      <div>Поддержка пользователей</div>-->
<!--      <br/>-->
<!--      <div>e-mail: iaswork@corp.nstu.ru</div>-->
<!--      <br/>-->
<!--      <div>Телефон: 8 800-600-23-16</div>-->
      <el-menu class="el-menu--main" mode="horizontal" default-active="nothing">
        <el-menu-item>
          Поддержка пользователей
        </el-menu-item>
        <el-menu-item>
          e-mail: iaswork@corp.nstu.ru
        </el-menu-item>
        <el-menu-item>
          Телефон: 8 800-600-23-16
        </el-menu-item>
      </el-menu>
    </el-footer>
  </el-container>
</template>

<script>
  import { USER_ROLE } from "../interfaces/entities";
  import axios from "axios";

  export default {
    data: () => ({
      //
    }),
    computed: {
      isLoggedIn() {
        axios.defaults.headers.common['AUTH-TOKEN'] = this.$store.getters.iasToken;
        return this.$store.getters.isLoggedIn;
      },
      userRole() {
        return this.$store.state.user.userData.role;
      },
      userName() {
        return this.$store.state.user.userData.name;
      },
      userOrganization() {
            return this.$store.state.user.userData.organization;
      },
      userRoleStr() {
        switch (this.userRole) {
          case USER_ROLE.EMPLOYER:
            return this.$store.state.user.userData.organization;
          case USER_ROLE.MUNICIPAL_AUTHORITY:
            return 'Мун.орган власти';
          case USER_ROLE.EDU_ORGANIZATION:
            return this.$store.state.user.userData.organization;
          case USER_ROLE.MINISTRY_LABOR_SOCIAL_POLICY:
            return 'Мин.труда и соц.политики';
          case USER_ROLE.MINISTRY_EDU:
            return 'Мин.образования';
          case USER_ROLE.ADMIN:
                return 'Администратор';
          default:
            return 'Unknown role';
        }
      },
    },
    methods: {
      logout() {
        this.$store.dispatch('logout');
      },
    },
    watch: {
      isLoggedIn: {
        handler: function (newValue) {
          if (newValue === false && this.$route.name !== 'login') {
            this.$router.push('login');
          }
        },
        immediate: true
      },
    },
  }
</script>

<style lang="scss">
  .el-menu {
    &--main {
      .el-menu-item {
        &.no-active {
          border-bottom-color: transparent !important;
        }

        &.right {
          float: right !important;
        }
      }
    }
  }

  footer.el-footer {
    padding-top: 35px;
  }
</style>
