label.el-form-item__label {
  font-size: 12px;
  line-height: 40px;
  padding: 0 10px 0 0;
  box-sizing: border-box;
  color: $color-gray-2;
}

.el-form--label-top .el-form-item__label {
  line-height: 30px;
  padding: 0 0 0 !important;
}

.el-form-item__content {
  .el-select {
    width: 100%;
  }
}

.form-footer {
  padding-top: 15px;
}

.nav-filter {
  margin-bottom: 35px;
  label {
    text-align: left !important;
  }
}
