.el-input {
  &__inner {
    padding: 0 3px !important;
    min-width: 60px;
    background-color: $color-blue-7 !important;
  }

  &.readonly {
    .el-input__inner {
      border: 1px solid $color-gray-7;
      background-color: white !important;
    }
  }

  &--prefix {
    .el-input__inner {
      padding-left: 30px !important;
    }
  }
}
