.el-select {
  .el-tag.el-tag--info {
    position: relative;

    i {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  &__tags-text {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
  }
}

.el-select-dropdown {
  &__item {
    span {
      max-width: 90vw;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      vertical-align: middle;
    }

    &.hover {
    }
  }
}

.el-select-simple {
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  box-sizing: border-box;
  color: #606266;

  height: 40px;
  line-height: 40px;

  &.small {
    height: 32px;
    line-height: 32px;
  }
}

select {
  background-color: $color-blue-7;
}
