table {
  border-collapse: collapse;
  border-spacing: 0;
}

.el-table {
  margin-bottom: 25px;

  .cell {
    word-break: break-word !important;
  }

  th, th > .cell {
    font-size: 12px;
    line-height: 14px;
  }

  td, td > .cell {
    font-size: 14px;
    line-height: 16px;
  }

  thead.is-bordered {
    th {
      border: 1px solid $color-gray-7;
    }
  }

  tr.is-bordered {
    td {
      border: 1px solid $color-gray-7;
    }
  }

  tr.text-center {
    td {
      text-align: center;
    }
  }

  &.is-plain {
    margin: 5px 0 10px;

    td, th {
      padding: 3px 2px;
    }

    th {
      text-align: center;
    }

    td {
      vertical-align: top;
    }
  }

  &.vertical-middle {
    td {
      vertical-align: middle;
    }
  }

  .cell-small {
    .cell {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.table-scrollable-container {
  overflow: auto;
}

.result-table {
  td, th {
    word-break: normal;
    white-space: normal;
  }
}
