<template>
  <section class="container--wide">

    <cabinet-employer
      v-if="roles.EMPLOYER === userRole"/>

    <cabinet-labor-social-politic
      v-if="roles.MINISTRY_LABOR_SOCIAL_POLICY === userRole"/>

    <cabinet-employer-edu
      v-if="roles.EDU_ORGANIZATION === userRole"/>

    <cabinet-ministry-edu
      v-if="roles.MINISTRY_EDU === userRole"/>

    <cabinet-municipal-authority
      v-if="roles.MUNICIPAL_AUTHORITY === userRole"/>

    <cabinet-admin
      v-if="roles.ADMIN === userRole"/>

  </section>
</template>

<script>
  import { USER_ROLE } from "../interfaces/entities";
  import CabinetEmployer from "../components/cabinet/employer";
  import CabinetLaborSocialPolitic from "../components/cabinet/minLaborSocialPolitic";
  import CabinetMinistryEdu from "../components/cabinet/minEdu";
  import CabinetEmployerEdu from "../components/cabinet/employerEdu";
  import CabinetMunicipalAuthority from "../components/cabinet/municipalAuthority";
  import CabinetAdmin from "../components/cabinet/admin";

  export default {
    components: { CabinetLaborSocialPolitic, CabinetEmployer, CabinetMinistryEdu, CabinetEmployerEdu, CabinetMunicipalAuthority, CabinetAdmin },
    data: () => ({
      roles: USER_ROLE,
    }),
    computed: {
      userRole() {
        return this.$store.state.user.userData.role;
      },
    },
  }
</script>

<style>

</style>

