<template>
  <section class="container">
    <div class="logo-container">
      <img class="logo" src="~assets/images/gerb_nso.png" alt="Новосибирская область">
      <h1 class="title">
        АИС
      </h1>
      <h2 class="subtitle">
        Мониторинг и прогнозирование кадровой потребности Новосибирской области
      </h2>
      <div class="links">
        <nuxt-link to="/cabinet" class="el-button" v-if="isLoggedIn">Личный кабинет</nuxt-link>
        <nuxt-link to="/login" class="el-button" v-else>Войти</nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    computed: {
      isLoggedIn() {
        return this.$store.getters.isLoggedIn;
      },
      token() {
        return this.$store.getters.iasToken;
      },
    },
  }
</script>

<style lang="scss" scoped>
  .logo-container {
    padding-left: 130px;
    position: relative;

    .logo {
      position: absolute;
      left: 0;
      top: 30px;
      width: 100px;
    }

    @media (max-width: 600px) {
      padding-left: 0;
      .logo {
        display: none;
      }
    }
  }

  .container {
    .links {
      padding: 35px 0 45px;
    }
  }
</style>

