<template>
  <section class="container" v-loading="isLoading">
    <div>
      <h1 class="title">
        Добро пожаловать
      </h1>
      <login-page/>
    </div>
  </section>
</template>

<script>
  import LoginPage from "../components/screens/LoginPage";

  export default {
    data: () => ({
      isLoading: true,
    }),
    components: {
      LoginPage,
    },
    computed: {
      // Потому что getter срабатывает не одновременно с инициализация store
      isLoggedIn() {
        return this.$store.getters.isLoggedIn;
      },
    },
    watch: {
      isLoggedIn: {
        handler(isLoggedInStatus) {
          if (isLoggedInStatus) {
            this.$router.push('/cabinet');
          }
          this.$nextTick(() => {
            this.isLoading = false;
          });
        },
        immediate: true,
      }
    },
    mounted() {
      this.isLoading = true;
    }
  }
</script>

<style>

</style>

