<template>
  <el-form label-position="top">
    <div>
        <el-form-item label="ОКПДТР">
            <el-select v-model="form.id_okpdtr" placeholder="Выберите" filterable>
                <el-option
                        v-for="item in professionClassifierList"
                        :key="item.id"
                        :label="`${item.code} - ${item.name}`"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="ОКЗ">
            <el-select v-model="form.id_okz" placeholder="Выберите" filterable>
                <el-option
                        v-for="item in occupationClassifierList"
                        :key="item.id"
                        :label="`${item.code} - ${item.name}`"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="ОКВЭД">
            <el-select v-model="form.id_okved" placeholder="Выберите" filterable>
                <el-option
                        v-for="item in economicCodeList"
                        :key="item.id"
                        :label="`${item.code} - ${item.name}`"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="ОКСО">
            <el-select v-model="form.id_okso" placeholder="Выберите" filterable>
                <el-option
                        v-for="item in specialtyList"
                        :key="item.id"
                        :label="`${item.code.substring(2)} - ${item.name}`"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
     <el-form-item label="WorldSkills">
      <el-select v-model="form.id_world_skills" placeholder="Выберите" filterable clearable>
        <el-option
          v-for="item in worldSkillsList"
          :key="item.id"
          :label="`${item.code} - ${item.name}`"
          :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="Не использовать">
        <el-input size="small">{{form.not_used}}}</el-input>
    </el-form-item>

    </div>
    <el-form-item class="text-right">
      <el-button @click="close()">Отмена</el-button>
      <el-button @click="save()" type="primary">Сохранить</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
    import FormModalMixin from "../../mixins/FormModalMixin";
    import { LOT } from "../../interfaces/entities";

    export default {
        name: "AdapterEdit",
        mixins: [FormModalMixin],
        data: () => ({
            isLoading: false,
            form: {
                id: '',
                id_okpdtr: '',
                id_okso: '',
                id_okved: '',
                id_okz: '',
                id_world_skills: '',
                not_used: 0,
            },
            isNew: false,
        }),
        methods: {
            async init(data) { // public external function
                this.isLoading = true;
                this.form.id = data.id;
                this.form.id_okpdtr = data.id_okpdtr;
                this.form.id_okso = data.id_okso;
                this.form.id_okved = data.id_okved;
                this.form.id_okz = data.id_okz;
                this.form.id_world_skills = data.id_world_skills;
                this.form.not_used = data.not_used;
                this.isLoading = false;
            },
        }
    }
</script>

<style scoped>

</style>
