<template>


  <section class="item-list">

    <el-row class="nav-filter">
      <el-col :xs="24" :sm="24" :md="8">
        <el-form label-width="100px">
          <el-form-item label="Сценарий">
            <el-select class="width-full" filterable placeholder="Выберите из списка" v-model="adapterScenarioId">
              <el-option
                      v-for="item in scenarioList"
                      :key="item.id"
                      :label="`${item.name}`"
                      :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>

    <el-alert v-if="isLoading"
              title="Загрузка..."
              description="Для формирования сводного отчета нужно некоторое время"
              type="info" :closable="false">
    </el-alert>

    <div class="table-scrollable-container" v-loading="isLoading">
      <vue-pivottable-ui v-if="pivotData.data.length > 0"
                         :aggregatorName="pivotData.aggregatorName"
                         :cols="pivotData.cols"
                         :data="pivotData.data"
                         :disabledFromDragDrop="pivotData.disabledFromDragDrop"
                         :hiddenFromDragDrop="pivotData.hiddenFromDragDrop"
                         :rendererName="pivotData.rendererName"
                         :rows="pivotData.rows"
                         :vals="pivotData.vals"
      >
      </vue-pivottable-ui>
    </div>

  </section>
</template>

<script>
  import { LOT } from "../../interfaces/entities";
  import Vue from 'vue'
  import VuePivottable from 'vue-pivottable'
  import 'vue-pivottable/dist/vue-pivottable.css'

  Vue.use(VuePivottable);

  export default {
    name: 'AdapterSummary',
    data: () => ({
      isLoading: false,
      pivotData: {
        data: [],
        cols: [],
        rows: [],
        vals: [],
        disabledFromDragDrop: [],
        hiddenFromDragDrop: [],
        aggregatorName: '',
        rendererName: '',
      },
    }),
    computed: {
      scenarioList() {
        return this.$store.state.lot.lists.scenario;
      },
      adapterScenarioId: {
        get: function () {
          return this.$store.state.lot.adapterScenarioId
        },
        set: function (newScenarioId) {
          this.$store.commit('lot/setAdapterScenario', newScenarioId);
        },
      },
    },
    methods: {
      async getData() {
        this.isLoading = true;
        const response = await this.$store.dispatch('lot/getList', { entityType: LOT.ADAPTER_PIVOT_BY_SCENARIO, scenarioId: 1 });
        this.pivotData = {
          ...response.data,
        };
        this.isLoading = false;
      },
      async getNewData() {
        //this.isLoading = true;
        //const response = await this.$store.dispatch('lot/getList', { entityType: LOT.ADAPTER_PIVOT_BY_SCENARIO, scenarioId: 1 });
        //this.isLoading = false;
      },
    },
    mounted() {
      this.getData();
      //this.getNewData();
    },
    watch: {
      adapterScenarioId(newScenarioId) {
        console.log('scenario changed to ' + newScenarioId);
        this.getNewData();
      }
    }
  }
</script>

<style>
  .table-scrollable-container {
    min-height: 300px;
  }
</style>
