<template>
  <section class="item-list">
    <el-row :gutter="30" class="nav-filter">
      <el-col :xs="12" :sm="12" :md="8">
        <el-input v-model="filterStr" placeholder="Введите поисковый фрагмент" prefix-icon="el-icon-search"/>
      </el-col>
      <el-col :xs="24" :sm="12" :md="16" class="text-right">
        <el-pagination
          background
          layout="prev, pager, next"
          :current-page.sync="page"
          :page-count="pagesTotal">
        </el-pagination>
      </el-col>
    </el-row>

    <el-button size="small" @click="handleClick({})"><i class="el-icon-plus"/>Добавить</el-button>


    <el-table v-loading="isLoading"
              empty-text="Данных нет"
              :data="tableData"
              style="width: 100%">
      <el-table-column
        prop="okpdtr"
        width="300"
        label="ОКПДТР">
      </el-table-column>
      <el-table-column
        prop="okz"
        width="300"
        label="ОКЗ">
      </el-table-column>
      <el-table-column
        prop="okved"
        width="400"
        class-name="cell-small"
        label="ОКВЭД">
      </el-table-column>
      <el-table-column
        prop="okso"
        width="300"
        class-name="cell-small"
        label="Направление/специальность/профессия">
      </el-table-column>
<!--      <el-table-column
        prop="level"
        width="100"
        class-name="cell-small"
        label="Уровень">
      </el-table-column>-->
      <el-table-column
        prop="world_skill"
        label="WorldSkills">
      </el-table-column>
      <el-table-column
        prop="not_used"
        label="Не использовать">
      </el-table-column>

<!--      <el-table-column-->
<!--        label="Коэффициент"-->
<!--        fixed="right"-->
<!--        width="100">-->
<!--        <template slot-scope="scope">-->
<!--          <el-input v-model="scope.row['cnt']" size="small"/>-->
<!--        </template>-->
<!--      </el-table-column>-->
      <el-table-column
        fixed="right"
        label="Действия"
        width="120">
        <template slot-scope="scope">
          <el-link @click="handleClick(scope.row)" icon="el-icon-edit">Редактировать</el-link>
        </template>
      </el-table-column>

    </el-table>

    <el-row :gutter="30" class="nav-filter">
      <el-col :xs="24" class="text-right">
        <el-pagination
          background
          layout="prev, pager, next"
          :current-page.sync="page"
          :page-count="pagesTotal">
        </el-pagination>
      </el-col>
    </el-row>

    <el-dialog
      title="Элемент переходника"
      :closeOnClickModal=false
      :visible.sync="dialogVisible"
      :before-close="handleClose"
    >
      <adapter-edit ref="editForm" @save="handleSave" @close="dialogVisible = false"/>
    </el-dialog>

  </section>
</template>

<script>
  import { LOT } from "../../interfaces/entities";
  import AdapterEdit from "./AdapterEdit";

  let timeout = null;

  export default {
    name: 'AdapterClassList',
      components: {AdapterEdit},
      data: () => ({
      isLoading: false,
      tableData: [],
      page: 1,
      pagesTotal: 1,
      filterStr: "",
      dialogVisible: false,
    }),
    methods: {
      async getList() {
        this.isLoading = true;
        const response = await this.$store.dispatch('lot/getList', {
          entityType: LOT.ADAPTER_CLASS_LIST,
          page: this.page - 1,
          filter_str: this.filterStr,
        });

        this.tableData = response.data;
        this.pagesTotal = response.pagesTotal;

        this.isLoading = false;
      },
      async handleSave(entry) {
        if ((entry.id_okso === undefined || entry.id_okso === null) ||
                      ((entry.id_okpdtr === null || entry.id_okpdtr === undefined) &&
                        (entry.id_okved === null || entry.id_okved === undefined) &&
                        (entry.id_okz === null || entry.id_okz === undefined))) {
          this.$message({
            message: 'Не заполнены все обязательные поля',
            type: 'error'
          });
          return;
        }

        // save
        const result = await this.$store.dispatch('lot/saveEntity', {
          entityType: LOT.ADAPTER_CLASS,
          id: (entry.id !== undefined ? entry.id : 0),
          form: entry,
        });
        if (!result.data.error) {
          this.$message({
            message: 'Успешно сохранено',
            type: 'success'
          });
        } else {
          this.$message({
            message: 'Сохранение не удалось',
            type: 'error'
          });
        }
        this.dialogVisible = false;
        await this.getList();
      },
      async handleClick(row) {
          // открываем диалог редактирования
          console.log('Открываем!');
          this.isLoading = true;
          this.dialogVisible = true;
          this.$nextTick(() => {
              this.$refs.editForm.init(row);
              this.isLoading = false;
          });

      },
      handleClose(done) {
            done();
      },
    },
    mounted() {
      this.getList();
    },
    watch: {
      page() {
        this.getList();
      },
      filterStr() {
        // Сделать задержку перед вводом
        clearTimeout(timeout);
        timeout = setTimeout(() => {
          this.getList();
        }, 800);
      },
    },
  }
</script>
