<template>
  <el-form label-position="top">
    <el-form-item label="Наименование предприятия работодателя">
      <el-input v-model="form.organisationName"></el-input>
    </el-form-item>
    <el-form-item label="Регион, в котором находится предприятие">
      <el-input v-model="form.organisationRegion"></el-input>
    </el-form-item>
    <el-row :gutter="30">
      <el-col :xs="24" :sm="12">
        <el-form-item label="Организационно-правовая форма">
          <el-input v-model="form.organisationForm"></el-input>
        </el-form-item>
      </el-col>
      <el-col :xs="24" :sm="12">
        <el-form-item label="Вид деятельности">
          <el-select v-model="form.activityType" multiple placeholder="Выберите одну или несколько">
            <el-option
              v-for="item in specialtyList"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>

    <h4>Требования к студенту-целевику</h4>
    <el-row :gutter="30">
      <el-col :xs="24" :sm="12">
        <el-form-item label="Вуз">
          <el-select v-model="form.university" placeholder="Выберите вуз">
            <el-option
              v-for="item in organizationList"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :xs="24" :sm="12">
        <el-form-item label="Специальность">
          <el-select v-model="form.specialty" placeholder="Специальности">
            <el-option
              v-for="item in specialtyList"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-form-item label="Предполагаемая должность на предприятии">
      <el-input v-model="form.post"></el-input>
    </el-form-item>
    <el-form-item label="Краткое описание должностных обязанностей целевика">
      <el-input v-model="form.jobFunctions" type="textarea" autosize></el-input>
    </el-form-item>
    <el-form-item label="Предполагаемая З/П">
      <el-input v-model="form.jobSalary"></el-input>
    </el-form-item>
    <el-form-item label="Дополнительная информация о работодателе">
      <el-input v-model="form.employerAdvInfo" type="textarea" autosize></el-input>
    </el-form-item>
    <el-form-item label="Готовность к ответственности по принятым обязательствам">
      <el-input v-model="form.readinessForResponsibility" type="textarea" autosize></el-input>
      <p>(меры поддержки, организация практики, гарантия трудоустройства)</p>
    </el-form-item>
    <el-form-item label="Контакты для взаимодействия">
      <el-input v-model="form.contacts" type="textarea" autosize></el-input>
    </el-form-item>
    <el-form-item class="text-right">
      <el-button @click="close()">Отмена</el-button>
      <el-button @click="save()" type="primary">Сохранить</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  import FormModalMixin from "../../mixins/FormModalMixin";

  export default {
    name: 'FormC1',
    mixins: [FormModalMixin],
    data: () => ({
      form: {
        organisationName: '',
        organisationForm: '',
        organisationRegion: '',
        activityType: '',
        specialty: '',
        university: '',
        post: '',
        jobFunctions: '',
        jobSalary: '',
        employerAdvInfo: '',
        readinessForResponsibility: '',
        contacts: '',
      },
    }),
  }
</script>
