<template>
  <section class="item-list" v-loading="isLoading">
    <h2>Работодатели</h2>
    <el-table
      empty-text="Данных нет"
      :data="tableData"
      style="width: 100%">
      <el-table-column
        prop="name"
        label="Предприятие">
      </el-table-column>
      <el-table-column
        prop="address"
        label="Адрес">
      </el-table-column>
      <el-table-column
        prop="post"
        label="Должность">
      </el-table-column>
      <el-table-column
        fixed="right"
        label="Действия"
        width="120">
        <template slot-scope="scope">
          <el-link @click="handleClick(scope.row)" icon="el-icon-edit">Изменить</el-link>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      title="Форма Ц1"
      :visible.sync="dialogVisible"
      :before-close="handleClose"
      width="900px"
    >
      <form-c1 @save="handleSave" @close="dialogVisible = false"/>
    </el-dialog>
  </section>
</template>

<script>
  import FormC1 from "./C1";
  import { ORGANIZATION_TYPE } from "../../interfaces/entities";

  export default {
    name: 'ItemListC1',
    components: { FormC1 },
    data: () => ({
      isLoading: false,
      dialogVisible: false,
    }),
    computed: {
      tableData() {
        return this.$store.state.employer.lists.employers;
      }
    },
    methods: {
      getList() {
        this.$store.dispatch('employer/getList', { entityType: ORGANIZATION_TYPE.EMPLOYER });
      },
      handleClick(row) {
        this.dialogVisible = true;
      },
      handleClose(done) {
        done();
      },
      handleSave(form) {
        this.isLoading = true;
        // save form
        this.$store.dispatch('employer/saveEntity', { form: this.form, entityType: ORGANIZATION_TYPE.EMPLOYER })
          .then(() => {
            this.getList();
          })
          .then(() => {
            this.isLoading = false;
            this.dialogVisible = false;
          });
      }
    },
    mounted() {
      this.getList();
    }
  }
</script>
