<template>
  <section class="item-list" v-loading="isLoading">
    <h2>Заявки на целевое обучение</h2>

    <el-table
      empty-text="Данных нет"
      :data="tableData"
      style="width: 100%">

      <el-table-column
        prop="organization"
        label="Организация">
      </el-table-column>

      <el-table-column
        prop="organization_educ"
        label="В образовательную организацию">
      </el-table-column>

      <el-table-column
        label="."
        fixed="right"
        width="120">
        <template slot-scope="scope">
          <el-button @click="handleClickOnOpenRequest(scope.row)" icon="el-icon-tickets" round size="mini">В заявку
          </el-button>
        </template>
      </el-table-column>

      <el-table-column
        label=".."
        fixed="right"
        width="180">
        <template slot-scope="scope">
          <el-button @click="handleClickOnNewRequest(scope.row, 1)" icon="el-icon-tickets" round size="mini">Добавить
            заявку <br/>работодателя
          </el-button>
        </template>
      </el-table-column>

      <el-table-column
        label="..."
        fixed="right"
        width="180">
        <template slot-scope="scope">
          <el-button @click="handleClickOnNewRequest(scope.row, 2)" icon="el-icon-tickets" round size="mini">Добавить
            заявку <br/>заказчика
          </el-button>
        </template>
      </el-table-column>

    </el-table>

    <el-dialog
      title="Заявка на целевое обучение"
      :visible.sync="dialogVisibleEduRequest"
      :before-close="handleClose"
      :closeOnClickModal=false
      v-loading="isLoading"
      width="900px"
    >
      <edu-request ref="editEduRequest" @save="handleSaveEduRequest" @close="dialogVisibleEduRequest = false"/>
    </el-dialog>

  </section>
</template>

<script>
  import { EDU_TYPE } from "../../interfaces/entities";
  import EduRequest from "./EduRequest";

  export default {
    name: 'EduRequestList',
    components: { EduRequest },
    data: () => ({
      isLoading: false,
      dialogVisibleEduRequest: false,
      tableData: [],
    }),
    methods: {
      async getList() {
        this.isLoading = true;
        this.tableData = await this.$store.dispatch('education/getList', { entityType: EDU_TYPE.TARGET_STUDY });
        this.isLoading = false;
      },
      handleClickOnOpenRequest(row) {
        this.dialogVisibleEduRequest = true;
        this.$nextTick(() => {
          this.$refs.editEduRequest.init(row);
          this.isLoading = false;
        });
      },
      handleClickOnNewRequest(row, type) {
        this.dialogVisibleEduRequest = true;
        this.$nextTick(() => {
          this.$refs.editEduRequest.init({
            id_organization: row.id_organization,
            id_type_target_request: type
          });
          this.isLoading = false;
        });
      },
      handleClose(done) {
        done();
      },
      async handleSaveEduRequest(form) {
        console.log('HandleSave', form);
        this.isLoading = true;
        await this.$store.dispatch('education/saveEntity', {
          form: form,
          entityType: EDU_TYPE.TARGET_STUDY,
          requestId: (form.id !== undefined ? form.id : 0),
        });
        this.isLoading = false;
        this.dialogVisibleEduRequest = false;
      },
    },
    async mounted() {
      await this.getList();
    },
  }
</script>
