<template>
  <el-form label-position="top">

    <el-form-item label="Наименование предприятия работодателя">
      <el-select v-model="form.organisationId" filterable placeholder="Выберите">
        <el-option
                v-for="item in organizationList"
                :key="item.id"
                :label="`${item.name}`"
                :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>

    <el-row :gutter="30">
      <el-col :xs="24" :sm="12">
        <el-form-item label="Организационно-правовая форма" v-if="requestType === 1">
          <el-select v-model="form.organisationForm" placeholder="Выберите" filterable>
            <el-option
                    v-for="item in opfList"
                    :key="item.id"
                    :label="`${item.code} - ${item.name}`"
                    :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Организационно-правовая форма заказчика" v-if="requestType === 2">
          <el-select v-model="form.organisationFormCustomer" placeholder="Выберите" filterable>
            <el-option
                    v-for="item in opfList"
                    :key="item.id"
                    :label="`${item.code} - ${item.name}`"
                    :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :xs="24" :sm="12">
        <el-form-item label="Вид деятельности" v-if="requestType === 1">
          <el-select v-model="form.activityType" placeholder="Выберите" filterable>
            <el-option
                    v-for="item in employerActivityList"
                    :key="item.id"
                    :label="`${item.name}`"
                    :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Вид деятельности" v-if="requestType === 2">
          <el-select v-model="form.activityTypeCustomer" placeholder="Выберите" filterable>
            <el-option
                    v-for="item in employerActivityList"
                    :key="item.id"
                    :label="`${item.name}`"
                    :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>

    <el-form-item label="Регион, в котором находится предприятие">
      <el-select v-model="form.organisationRegion" filterable placeholder="Выберите">
        <el-option
                v-for="item in regionList"
                :key="item.id"
                :label="`${item.name}`"
                :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>

    <el-form-item label="Район, город">
      <el-select v-model="form.organisationDistrict" filterable placeholder="Выберите">
        <el-option
                v-for="item in districtList"
                :key="item.id"
                :label="`${item.name}`"
                :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>

    <span v-if="requestType === 2">
    <h4>Требования к организации-работодателю</h4>
      <el-row :gutter="30">
      <el-col :xs="24" :sm="12">
        <el-form-item label="Организационно-правовая форма">
          <el-select v-model="form.organisationForm" placeholder="Выберите" filterable>
            <el-option
                    v-for="item in opfList"
                    :key="item.id"
                    :label="`${item.code} - ${item.name}`"
                    :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :xs="24" :sm="12">
        <el-form-item label="Вид деятельности">
          <el-select v-model="form.activityType" placeholder="Выберите" filterable>
            <el-option
                    v-for="item in employerActivityList"
                    :key="item.id"
                    :label="`${item.name}`"
                    :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    </span>

    <h4>Требования к студенту-целевику</h4>
    <el-row :gutter="30">
      <el-col :xs="24" :sm="12">
        <el-form-item label="Вуз">
          <el-select v-model="form.university" placeholder="Выберите вуз" filterable>
            <el-option
              v-for="item in universityList"
              :key="item.id"
              :label="`${item.name}`"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :xs="24" :sm="12">
        <el-form-item label="Направление подготовки">
          <el-select v-model="form.specialty" placeholder="Специальности" filterable>
            <el-option
              v-for="item in specialtyVOList"
              :key="item.id"
              :label="`${item.code} - ${item.name}`"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>

    <el-form-item label="Сроки отработки после окончания вуза">
      <el-input v-model="form.workDuration"></el-input>
    </el-form-item>

    <span v-if="requestType === 1">
      <el-form-item label="Предполагаемая должность на предприятии">
        <el-input v-model="form.post"></el-input>
      </el-form-item>

      <el-form-item label="Краткое описание должностных обязанностей целевика">
        <el-input v-model="form.jobFunctions" type="textarea" autosize></el-input>
      </el-form-item>

      <el-row :gutter="30">
        <el-col>
          <p>Предполагаемая З/П</p>
        </el-col>
        <el-col :xs="24" :sm="8">
          <el-form-item label="от">
            <el-input type="number" v-model="form.jobSalaryMin"></el-input>
          </el-form-item>
        </el-col>
        <el-col :xs="24" :sm="8">
          <el-form-item label="до">
            <el-input type="number" v-model="form.jobSalaryMax"></el-input>
          </el-form-item>
        </el-col>
        <el-col :xs="24" :sm="8">
          <el-form-item label="Комментарий">
            <el-input v-model="form.jobSalaryComment"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </span>

    <el-form-item label="Дополнительная информация о работодателе">
      <el-input v-model="form.employerAdvInfo" type="textarea" autosize></el-input>
    </el-form-item>

    <el-row :gutter="30">
      <el-col>
        <p>Готовность к ответственности по принятым обязательствам</p>
      </el-col>
      <el-col :xs="24" :sm="8">
        <el-form-item label="Меры поддержки">
          <el-input v-model="form.supportInfo"></el-input>
        </el-form-item>
      </el-col>
      <el-col :xs="24" :sm="8">
        <el-form-item label="Организация практики">
          <el-input v-model="form.practiceInfo"></el-input>
        </el-form-item>
      </el-col>
      <el-col :xs="24" :sm="8">
        <el-form-item label="Гарантия трудоустройства">
          <el-input v-model="form.jobGaranty"></el-input>
        </el-form-item>
      </el-col>
    </el-row>

    <el-row :gutter="30">
      <el-col>
        <p>Контакты для взаимодействия</p>
      </el-col>
      <el-col :xs="24" :sm="12">
        <el-form-item label="Email">
          <el-input v-model="form.contactsEmail"></el-input>
        </el-form-item>
      </el-col>
      <el-col :xs="24" :sm="12">
        <el-form-item label="Телефон">
          <el-input v-model="form.contactsPhone"></el-input>
        </el-form-item>
      </el-col>
    </el-row>

    <el-form-item label="Состояние заявки">
      <el-select v-model="form.requestStatus" filterable placeholder="Выберите">
        <el-option
                v-for="item in requestStatusList"
                :key="item.id"
                :label="`${item.name}`"
                :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>

    <el-form-item class="text-right">
      <el-button @click="close()">Отмена</el-button>
      <el-button @click="save()" type="primary">Сохранить</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  import FormModalMixin from "../../mixins/FormModalMixin";
  import { EDU_TYPE } from "../../interfaces/entities";

  export default {
    name: 'EduRequest',
    mixins: [FormModalMixin],
    data: () => ({
      form: {
        organisationId: '',
        organisationName: '',
        organisationForm: '',
        organisationRegion: '',
        organisationDistrict: '',
        activityType: '',
        specialty: '',
        university: '',
        workDuration: '',
        post: '',
        jobFunctions: '',
        jobSalaryMax: '',
        jobSalaryMin: '',
        jobSalaryComment: '',
        employerAdvInfo: '',
        contactsEmail: '',
        contactsPhone: '',
        requestStatus: '',
        supportInfo: '',
        practiceInfo: '',
        jobGaranty: '',
        id: '',
        requestType: '',
        organisationFormCustomer: '',
        activityTypeCustomer: '',
      },
      requestType: '',
    }),
    computed: {
      isReadOnly() {
        return true;
      },
    },
    mounted() {
    },
    methods: {
      async init(data) { // public external function
        this.isLoading = true;
        this.form.organisationId = data.id_organization;
        this.form.organisationName = data.organization;
        this.form.organisationForm = data.id_okopf_employer;
        this.form.organisationRegion = data.id_region;
        this.form.organisationDistrict = data.id_mrigo;
        this.form.activityType = data.id_type_activity_employer;
        this.form.specialty = data.id_okso;
        this.form.university = data.id_educ_organization;
        this.form.workDuration = data.work_duration;
        this.form.post = data.job_name;
        this.form.jobFunctions = data.job_descr;
        this.form.jobSalaryMax = data.salary_max;
        this.form.jobSalaryMin = data.salary_min;
        this.form.jobSalaryComment = data.salary_comment;
        this.form.employerAdvInfo = data.additional_info;
        this.form.contactsEmail = data.email;
        this.form.contactsPhone = data.phone;
        this.form.requestStatus = data.id_target_study_request_status;
        this.form.supportInfo = data.support_info;
        this.form.practiceInfo = data.practice_info;
        this.form.jobGaranty = data.job_garanty;
        this.form.id = data.id;

        this.form.organisationFormCustomer = data.id_okopf_customer;
        this.form.activityTypeCustomer = data.id_type_activity_customer;
        this.form.requestType = data.id_type_target_request;

        if ( this.form.requestType === EDU_TYPE.REQUEST_TYPE_EMPLOYER ) {
          this.requestType = 1;
        }
        if ( this.form.requestType === EDU_TYPE.REQUEST_TYPE_CUSTOMER ) {
          this.requestType = 2;
        }

        console.log('init', data, 'type = ' + this.requestType);
      }
    },
  }
</script>
