<template>
  <section class="item-list" v-loading="isLoading">
    <h2>Таблица №1</h2>
    <table class="el-table is-plain">
      <thead>
      <tr>
        <th>Показатель</th>
        <th v-for="(year, k) in yearList" :key="`head_vo_${k}`">
          {{year}}
        </th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(entry, key) in tableData1" :key="key">
        <td>{{entry.type_experts_val}}</td>
        <td v-for="(year, yearCode) in yearList" :key="yearCode">
          <el-input v-model="entry[yearCode]" size="small"/>
        </td>
        <td>
          <el-link @click="handleSaveClick1(entry)" icon="el-icon-edit">Сохранить</el-link>
        </td>
      </tr>
      </tbody>
    </table>

    <h2>Таблица №2</h2>
    <table class="el-table is-plain">
      <thead>
      <tr>
        <th>Раздел ОКВЭД</th>
        <th v-for="(year, k) in yearList" :key="`head_vo_${k}`">
          {{year}}
        </th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(entry, key) in tableData2" :key="key">
        <td>{{entry.okved_partition}}</td>
        <td v-for="(year, yearCode) in yearList" :key="yearCode">
          <el-input v-model="entry[yearCode]" size="small"/>
        </td>
        <td>
          <el-link @click="handleSaveClick2(entry)" icon="el-icon-edit">Сохранить</el-link>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
  import { LOT } from "../../interfaces/entities";

  export default {
    name: 'ExpertValuesList',
    data: () => ({
      isLoading: false,
      tableData1: [],
      tableData2: [],
    }),
    computed: {
      yearList() {
        let result = {};
        if (this.tableData1.length === 0) return [];

        const dataWithYears = Object.keys(this.tableData1[0]);
        for (let i = 0; i < dataWithYears.length; i++) {
          let valYear = dataWithYears[i].split('_');
          if (valYear[0] === 'val') {
            result[`val_${valYear[1]}`] = valYear[1];
          }
        }
        return result;
      },
    },
    methods: {
      async getList() {
        this.isLoading = true;
        this.tableData1 = await this.$store.dispatch('lot/getList',
          { entityType: LOT.EXPERT_VALS });
        this.tableData2 = await this.$store.dispatch('lot/getList',
          { entityType: LOT.EXPERT_VALS_OKVED });
        this.isLoading = false;
      },
      async handleSaveClick1(entry) {
        await this.$store.dispatch('lot/saveEntity',
          { entityType: LOT.EXPERT_VALS, id: entry.id, form: entry });
        //await this.getList();
      },
      async handleSaveClick2(entry) {
        await this.$store.dispatch('lot/saveEntity',
          { entityType: LOT.EXPERT_VALS_OKVED, id: entry.id, form: entry });
        //await this.getList();
      },
    },
    mounted() {
      this.getList();
    }
  }
</script>
