<template>
  <el-form label-position="top" v-loading="isLoading">
    <el-form-item label="Наименование организации (предприятия)">
      <el-input v-model="form.organisationName" readonly/>
    </el-form-item>
    <el-form-item label="Код по ОКВЭД">
      <el-select v-model="form.organisationEconomicCode" placeholder="Выберите" filterable multiple readonly>
        <el-option
          v-for="item in economicCodeList"
          :key="item.id"
          :label="`${item.code} - ${item.name}`"
          :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>

<!--    <el-form-item label="Форма собственности организации (ОКФС)">-->
<!--      <el-select v-model="form.organisationOwnershipForm" placeholder="Выберите" filterable>-->
<!--        <el-option-->
<!--          v-for="item in organisationOwnershipFormList"-->
<!--          :key="item.id"-->
<!--          :label="`${item.code} - ${item.name}`"-->
<!--          :value="item.id">-->
<!--        </el-option>-->
<!--      </el-select>-->
<!--    </el-form-item>-->
<!--    <el-form-item label="Среднесписочная численность работающих в организации">-->
<!--      <el-input v-model="form.organisationPeoples" placeholder="человек"/>-->
<!--    </el-form-item>-->
<!--    <el-form-item label="Среднемесячная заработная плата">-->
<!--      <el-input v-model="form.organisationMonthSalary" placeholder="рублей"/>-->
<!--    </el-form-item>-->

    <h4>Программы профессионального обучения </h4>
    <p>(профессиональной подготовки, повышения квалификации, профессиональной переподготовки)</p>

    <el-form-item>
      <div class="table-scrollable-container">
        <table class="el-table is-plain edu-table">
          <thead>
          <tr>
            <th>ОКВЭД</th>
            <th>Наименование профессий</th>
            <th>Наименование профессий, <br>
              по&nbsp;которым осуществляется <br>
              профессиональное обучение
            </th>
            <th>Тип программы</th>
            <th :colspan="6">Заказ на подготовку</th> <!-- yearList.length не работает -->
            <th>&nbsp;</th>
          </tr>
          <tr>
            <th colspan="4">&nbsp;</th>
            <th v-for="(year, yearCode) in yearListWS" :key="yearCode">{{year}}</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tr v-for="(entry, key) in form.organisationEducationLines" :key="key">
            <td>
              <select class="el-select-simple small" v-model="entry.id_okved" size="small"
                      placeholder="Выберите"
                      filterable style="width:300px">
                <option
                  v-for="item in economicCodeList"
                  :key="item.id"
                  :label="`${item.code} - ${item.name}`"
                  :value="item.id">
                </option>
              </select>
            </td>
            <td>
              <select class="el-select-simple small" v-model="entry.id_okpdtr" size="small"
                      placeholder="Выберите"
                      filterable style="width:300px">
                <option
                  v-for="item in professionClassifierList"
                  :key="item.id"
                  :label="`${item.code} - ${item.name}`"
                  :value="item.id">
                </option>
              </select>
            </td>
            <td>
              <select class="el-select-simple small" v-model="entry.id_okso" size="small"
                      placeholder="Выберите"
                      filterable
                      style="width:300px">
                <option
                  v-for="item in specialtyList"
                  :key="item.id"
                  :label="`${item.code} - ${item.name}`"
                  :value="item.id">
                </option>
              </select>
            </td>
            <td>
              <select class="el-select-simple small" v-model="entry.id_educ_program_type" size="small"
                      placeholder="Выберите"
                      filterable
                      style="width:300px">
                <option
                  v-for="item in eduTypeList"
                  :key="item.id"
                  :label="`${item.name}`"
                  :value="item.id">
                </option>
              </select>
            </td>
            <td v-for="(year, yearCode) in yearListWS" :key="yearCode">
              <el-input v-model="entry[yearCode]" size="small"/>
            </td>
            <td>
              <el-button type="danger" icon="el-icon-delete" circle size="small"
                         @click="removeLineEdu(key)"/>
            </td>
          </tr>
        </table>
      </div>
      <el-button size="small" @click="addEduLine"><i class="el-icon-plus"/>Добавить строку</el-button>
    </el-form-item>

    <h4>Программы дополнительного профессионального образования </h4>
    <p>(повышения квалификации и профессиональной переподготовки)</p>

    <el-form-item>
      <div class="table-scrollable-container">
        <table class="el-table is-plain edu-table">
          <thead>
          <tr>
            <th>ОКВЭД</th>
            <th>Наименование профессионального стандарта<br/> / компетенции Ворлдскиллс Россия</th>
            <th>Тип программы</th>
            <th :colspan="6">Заказ на подготовку</th> <!-- yearList.length не работает -->
            <th>&nbsp;</th>
          </tr>
          <tr>
            <th colspan="3">&nbsp;</th>
            <th v-for="(year, yearCode) in yearListWS" :key="yearCode">{{year}}</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tr v-for="(entry, key) in form.organisationWorldskillsLines" :key="key">
            <td>
              <select class="el-select-simple small" v-model="entry.id_okved" size="small"
                      placeholder="Выберите"
                      filterable style="width:300px">
                <option
                        v-for="item in economicCodeList"
                        :key="item.id"
                        :label="`${item.code} - ${item.name}`"
                        :value="item.id">
                </option>
              </select>
            </td>
            <td>
              <select class="el-select-simple small" v-model="entry.id_world_skills" size="small"
                      placeholder="Выберите"
                      filterable
                      style="width:300px">
                <option
                        v-for="item in worldSkillsList"
                        :key="item.id"
                        :label="`${item.name}`"
                        :value="item.id">
                </option>
              </select>
            </td>
            <td>
              <select class="el-select-simple small" v-model="entry.id_educ_program_type" size="small"
                      placeholder="Выберите"
                      filterable
                      style="width:300px">
                <option
                        v-for="item in eduTypeWSList"
                        :key="item.id"
                        :label="`${item.name}`"
                        :value="item.id">
                </option>
              </select>
            </td>
            <td v-for="(year, yearCode) in yearList" :key="yearCode">
              <el-input v-model="entry[yearCode]" size="small"/>
            </td>
            <td>
              <el-button type="danger" icon="el-icon-delete" circle size="small"
                         @click="removeLineEduWS(key)"/>
            </td>
          </tr>
        </table>
      </div>
      <el-button size="small" @click="addEduWSLine"><i class="el-icon-plus"/>Добавить строку</el-button>
    </el-form-item>


    <el-form-item class="text-right">
      <el-button @click="close()">Отмена</el-button>
      <el-button @click="save()" type="primary">Сохранить</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  import FormModalMixin from "../../mixins/FormModalMixin";
  import { ORGANIZATION_TYPE } from "../../interfaces/entities";

  export default {
    name: 'FormF11',
    mixins: [FormModalMixin],
    data: () => ({
      isLoading: false,
      form: {
        formId: '',
        organisationId: '',
        organisationName: '',
        organisationEconomicCode: '',
        organisationOwnershipForm: '',
        organisationPeoples: '',
        organisationMonthSalary: '',
        //
        organisationEducationLines: [],
        organisationWorldskillsLines: [],
      },
      okved: [],
      years: [],
    }),
    methods: {
      async init(data) {
        console.log('INIT', data, this.yearList);
        this.isLoading = true;
        this.form.organisationId = data.id_organization;
        this.form.organisationName = data.organization_name;
        this.form.organisationOwnershipForm = data.id_okfs;
        this.form.organisationPeoples = data.cnt;
        this.form.organisationMonthSalary = data.salary;
        this.form.formId = data.id_form;

        this.okved = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_LINE_OKVED, formId: data.id_organization });
        this.years = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_YEARS, formId: data.id_form });
        this.form.peopleProfessionLines = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_PROFESSION_PEOPLES, formId: data.id_form });
        this.form.organisationEducationLines = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_ORGANIZATION_EDU, formId: data.id_form });
        this.form.organisationWorldskillsLines = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_ORGANIZATION_EDU_WORLDSKILLS, formId: data.id_form });

        this.form.organisationEconomicCode = [];
        if (this.okved.length > 0) {
          for (let [key, value] of Object.entries(this.okved)) {
            this.form.organisationEconomicCode.push(value['id_okved']);
          }
        }

        this.isLoading = false;
      },
      addEduLine() {
        this.form.organisationEducationLines.push({
            year_start: new Date().getFullYear() - 1,
            id_form: this.form.formId,
            id_type: 8,
            id_okved: this.form.organisationEconomicCode[0] || '',
            y_0: 0,
            y_1: 0,
            y_2: 0
        });
      },
      removeLineEdu(index) {
          console.log(this.form.organisationEducationLines);
          this.form.organisationEducationLines.splice(index, 1);
      },
      addEduWSLine() {
        this.form.organisationWorldskillsLines.push({
            year_start: new Date().getFullYear() - 1,
            id_form: this.form.formId,
            id_type: 9,
            id_okved: this.form.organisationEconomicCode[0] || '',
            y_0: 0,
            y_1: 0,
            y_2: 0
        });
      },
      removeLineEduWS(index) {
          console.log(this.form.organisationWorldskillsLines);
          this.form.organisationWorldskillsLines.splice(index, 1);
      },
    },
    computed:{
        yearListWS() {
            let result = {};
            let years = this.years.slice(0,3) || [];
            if (years.length > 0) {
                for (let [key, value] of Object.entries(years[0])) {
                    if (key !== 'id_form') {
                        result[key] = value;
                    }
                }
            }
            return result;
        },
    }
  }
</script>

<style lang="scss" scoped>
  .edu-table {
    td {
      vertical-align: bottom;
    }
  }
</style>
