<template>
  <el-form label-position="top" v-loading="isLoading">
    <el-form-item label="Наименование инвестиционного проекта">
      <el-input v-model="form.projectName"/>
    </el-form-item>
    <el-form-item label="Наименование инвестора">
      <el-input v-model="form.organization_name"/>
<!--      <el-select v-model="form.projectInvestorId" placeholder="Выберите" filterable>-->
<!--        <el-option-->
<!--          v-for="item in organizationList"-->
<!--          :key="item.id"-->
<!--          :label="`${item.name}`"-->
<!--          :value="item.id">-->
<!--        </el-option>-->
<!--      </el-select>-->
    </el-form-item>
    <el-form-item label="ИНН">
      <el-input v-model="form.organization_inn"/>
    </el-form-item>
    <el-form-item label="ОГРН">
      <el-input v-model="form.organization_ogrn"/>
    </el-form-item>
    <el-form-item label="Код по ОКВЭД" v-if="form.projectId">
      <el-select v-model="form.organisationEconomicCode" placeholder="Выберите" filterable multiple>
        <el-option
          v-for="item in economicCodeList"
          :key="item.id"
          :label="`${item.code} - ${item.name}`"
          :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>

    <h4>Срок реализации инвестиционного проекта</h4>
    <el-row :gutter="30">
      <el-col :xs="24" :sm="12">
        <el-form-item>
          <el-input v-model="form.projectRealizationFrom" placeholder="От"/>
        </el-form-item>
      </el-col>
      <el-col :xs="24" :sm="12">
        <el-form-item>
          <el-input v-model="form.projectRealizationTo" placeholder="До"/>
        </el-form-item>
      </el-col>
    </el-row>

<!--    <el-form-item>-->
<!--      <el-form-item label="Получено финансирование">-->
<!--        <el-input v-model="form.projectFinancing" placeholder="Рублей"/>-->
<!--      </el-form-item>-->
<!--    </el-form-item>-->

    <h4 v-if="form.projectId">Показатели</h4>
    <table class="el-table is-plain" v-if="form.projectId">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th v-for="(year, yearCode) in yearListM" :key="yearCode">{{year}}</th>
      </tr>
      </thead>
      <tr v-for="(entry, key) in indicatorLines" :key="key">
        <td>{{entry.type_name}}</td>
        <td v-for="(year, yearCode) in yearListM" :key="yearCode">
          <el-input v-model="entry[yearCode]" size="small"/>
        </td>
      </tr>
    </table>

    <h4 v-if="form.projectId">Дополнительная перспективная потребность в кадрах</h4>
    <div class="table-scrollable-container" v-if="form.projectId">
      <table class="el-table is-plain">
        <thead>
        <tr>
          <th>Профессия по ОКПДТР</th>
          <th>ОКЗ</th>
          <th>ОКВЭД</th>
          <th v-for="(year, yearCode) in yearListM" :key="yearCode">{{year}}</th>
        </tr>
        </thead>
        <tr v-for="(entry, key) in peopleLines" :key="key">
          <td>
            <el-select v-model="entry.id_okpdtr" size="small" placeholder="Выберите" filterable style="width:300px"
                       no-data-text="Введите текст для поиска"
                       no-match-text="Профессия не найдена"
                       allow-create
                       remote :remote-method="professionClassifierFilterHandler"
                       @focus="professionClassifierListFocused = key"
                       @change="professionClassifierChangeHandler"
            >
              <el-option
                v-for="item in professionClassifierListFiltered[`key_${key}`]"
                :key="`s_${key}_${item.id}`"
                :label="`${item.code} - ${item.name}`"
                :value="item.id">
              </el-option>
            </el-select>
          </td>
          <td>
            <select class="el-select-simple small" v-model="entry.id_okz" size="small" placeholder="Выберите" filterable
                    style="width:300px"  @change="addRequireChangeHandler">
              <option
                v-for="item in occupationClassifierList"
                :key="item.id"
                :label="`${item.code} - ${item.name}`"
                :value="item.id">
              </option>
            </select>
          </td>
          <td>
            <!--            <select class="el-select-simple small" v-model="entry.id_okved" size="small" placeholder="Выберите"-->
            <!--                    filterable style="width:300px">-->
            <!--              <option-->
            <!--                v-for="item in economicCodeList"-->
            <!--                :key="item.id"-->
            <!--                :label="`${item.code} - ${item.name}`"-->
            <!--                :value="item.id">-->
            <!--              </option>-->
            <!--            </select>-->
            <el-select v-model="entry.id_okved" size="small" placeholder="Выберите" filterable clearable style="width:300px"
                       no-data-text="Введите текст для поиска"
                       no-match-text="Класс ОКВЭД не найден"
                       remote :remote-method="OkvedFilterHandler"
                       @focus="OkvedListFocused = key"
                       @change="addRequireChangeHandler(key)"
            >
              <el-option
                v-for="item in OkvedListFiltered[`key_${key}`]"
                :key="`s_${key}_${item.id}`"
                :label="`${item.code} - ${item.name}`"
                :value="item.id">
              </el-option>
            </el-select>
          </td>
          <td v-for="(year, yearCode) in yearListM" :key="yearCode">
            <el-input v-model="entry[yearCode]" size="small" @change="addRequireChangeHandler(key)"/>
          </td>
          <td>
            <el-button type="danger" icon="el-icon-delete" circle size="small"
                       @click="removeLine(key)"/>
          </td>
        </tr>
      </table>
    </div>
    <el-button size="small" @click="addNewLineForPeoples" v-if="form.projectId"><i class="el-icon-plus"/>Добавить запись</el-button>

    <el-form-item class="text-right">
      <el-button @click="close()">Отмена</el-button>
      <el-button @click="save()" type="primary">Сохранить</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  import FormModalMixin from "../../mixins/FormModalMixin";
  import { INVESTING_TYPE } from "../../interfaces/entities";

  export default {
    name: 'FormF7',
    mixins: [FormModalMixin],
    data: () => ({
      isLoading: false,
      form: {
        projectId: '',
        projectName: '',
        projectInvestorId: '',
        projectRealizationFrom: '',
        projectRealizationTo: '',
        projectFinancing: '',
        organization_name: '',
        organization_inn: '',
        organization_ogrn: '',
        //
        organisationEconomicCode: [],
      },
      years: [],
      okved: [],
      indicatorLines: [],
      peopleLines: [],
      deletedPeopleLines: [],
      // form filtered ОКПДТР
      professionClassifierListFiltered: {}, // key_{$i} => filtered list[]
      professionClassifierListFocused: null,
      // ОКВЭД
      OkvedListFiltered: {}, // key_{$i} => filtered list[]
      OkvedListFocused: null,
    }),
    computed: {
      //список годов из первой строки представления vw_invest_proj_years
      yearListM() {
         function yadd0(str){
              if (str.length==3 && str.substr(0,2)=='y_')
                  return str.substr(0,2)+'0'+str.substr(2,1);
              return str;
         }

          function yrem0(str){
              if (str.length==4 && str.substr(0,3)=='y_0')
                  return str.substr(0,2)+str.substr(3,1);
              return str;
          }

        let result = {};
        if (this.years.length > 0) {
          for (let [key, value] of Object.entries(this.years[0])) {
            if (key !== 'id_invest_proj' && key !== 'y_last') {
                if (value <= this.years[0]['y_last']) {
                    let keyn = yadd0(key);
                    result[keyn] = value;
                }
            }
          }
        }
        let keys = [];
        for (let [key, value] of Object.entries(result)) {
            keys.push(key)
        }
        let sresult = {};
        for (var i in keys.sort()){
            sresult[yrem0(keys[i])] = result[keys[i]];
        }
        return sresult;
      },
    },
    mounted() {
    },
    methods: {
      async init(data) { // public external function
        this.isLoading = true;
        this.form.projectId = data.id;
        this.form.projectName = data.name;
        this.form.projectInvestorId = data.id_organization;
        this.form.projectFinancing = data.invest_sum;
        try {
            this.form.projectRealizationFrom = data.date_start.length == 4 ? data.date_start : data.date_start.substring(0, 4);
            this.form.projectRealizationTo = data.date_start.finish == 4 ? data.date_finish : data.date_finish.substring(0, 4);
        }
        catch(e){

        }
        //устанавливаем из функций
        this.form.organization_name = this.organizationName(data.id_organization);
        this.form.organization_inn = this.organizationINN(data.id_organization);
        this.form.organization_ogrn = this.organizationOGRN(data.id_organization);
        if (this.form.projectId) {
            await this.getLines(data.id);
            console.log(this.okved);
            this.form.organisationEconomicCode = [];
            if (this.okved.length > 0) {
                for (let [key, value] of Object.entries(this.okved)) {
                    this.form.organisationEconomicCode.push(value['id_okved']);
                }
            }
        }
        this.isLoading = false;
      },
      async getLines(id){
          // Получить дополнительные строки
          this.form.projectId = id;
          this.form.projectRealizationFrom = this.form.projectRealizationFrom==4?this.form.projectRealizationFrom:this.form.projectRealizationFrom.substring(0,4);
          this.form.projectRealizationTo = this.form.projectRealizationTo==4?this.form.projectRealizationTo:this.form.projectRealizationTo.substring(0,4);
          this.years = await this.$store.dispatch('invest/getLines',
              { entityType: INVESTING_TYPE.PROJECT_LINE_YEARS, projectId: id });
          console.log(this.years);
          this.okved = await this.$store.dispatch('invest/getLines',
              { entityType: INVESTING_TYPE.PROJECT_LINE_OKVED, projectId: id });
          console.log(this.okved);
          this.indicatorLines = await this.$store.dispatch('invest/getLines',
              { entityType: INVESTING_TYPE.PROJECT_LINE_INDICATORS, projectId: id });
          this.peopleLines = await this.$store.dispatch('invest/getLines',
              { entityType: INVESTING_TYPE.PROJECT_LINE_PEOPLES, projectId: id });


          function isInt(n){
              return Number(n) === n && n % 1 === 0;
          };

          function isZero(n){
              return Number(n) === 0;
          };

          for (let i = 0; i < this.indicatorLines.length; i++) {
              for (var key in this.indicatorLines[i]) {
                  if (this.indicatorLines[i].hasOwnProperty(key)) {
                      if (key.substr(0, 2) == 'y_') {
                          if (isZero(this.indicatorLines[i][key]))
                              this.indicatorLines[i][key] = '';
                      }
                  }
              }
          };


          for (let i = 0; i < this.peopleLines.length; i++) {
              this.peopleLines[i].id_okpdtr_src = this.peopleLines[i].id_okpdtr;
              for (var key in this.peopleLines[i]) {
                  if (this.peopleLines[i].hasOwnProperty(key)) {
                      if (key.substr(0, 2) == 'y_') {
                          if (isZero(this.peopleLines[i][key]))
                              this.peopleLines[i][key] = '';
                      }
                  }
              }
          };

          for (var key in this.indicatorLines[0]) {
              if (this.indicatorLines[0].hasOwnProperty(key)) {
                  if (key.substr(0,2) == 'y_') {
                      if (isInt(this.indicatorLines[0][key])  )
                          this.indicatorLines[0][key] = this.indicatorLines[0][key]+'.0';
                  }
              }
          };

          for (var key in this.indicatorLines[4]) {
              if (this.indicatorLines[4].hasOwnProperty(key)) {
                  if (key.substr(0,2) == 'y_') {
                      if (isInt(this.indicatorLines[4][key])  )
                          this.indicatorLines[4][key] = this.indicatorLines[4][key]+'.0';
                  }
              }
          };

          for (var key in this.indicatorLines[5]) {
              if (this.indicatorLines[5].hasOwnProperty(key)) {
                  if (key.substr(0,2) == 'y_') {
                      if (isInt(this.indicatorLines[5][key])  )
                          this.indicatorLines[5][key] = this.indicatorLines[5][key]+'.0';
                  }
              }
          };

      },
      organizationName(organizationId) {
            const foundOrganizations = this.$store.getters['dictionary/organization'](organizationId);
            if (foundOrganizations.length > 0) return foundOrganizations[0].name;
            return '';
      },
      organizationINN(organizationId) {
            const foundOrganizations = this.$store.getters['dictionary/organization'](organizationId);
            if (foundOrganizations.length > 0) return foundOrganizations[0].inn;
            return '';
      },
      organizationOGRN(organizationId) {
            const foundOrganizations = this.$store.getters['dictionary/organization'](organizationId);
            if (foundOrganizations.length > 0) return foundOrganizations[0].ogrn;
            return '';
      },
      removeLine(index) {
          this.$confirm('Вы хотите удалить строку?', 'Внимание', {
              confirmButtonText: 'Да',
              cancelButtonText: 'Нет',
              type: 'warning'
          }).then(() => {
              this.deletedPeopleLines.push({id_okpdtr: this.peopleLines[index].id_okpdtr, id_type: this.peopleLines[index].id_type})
              this.peopleLines.splice(index, 1);
              console.log(this.deletedPeopleLines);
          }).catch(() => {
            this.$message({
                type: 'info',
                message: 'Удаление отменено'
            });
        });
      },
      addNewLineForPeoples() {
        console.log(this.projectRealizationFrom);
        this.peopleLines.push({
          // empty line
          year_start: this.form.projectRealizationFrom, //точно этот?
          id_invest_proj: this.form.projectId,
          id_type: 7,
          modified: 1,
          id_okpdtr_src: null,
        });
      },
      //фильтрация ОКПДТР
      professionClassifierFilterHandler(query) {
        if (this.professionClassifierListFocused === null) return;
        // destroy & create again
        this.professionClassifierListFiltered = {};
        if (query !== '' && query.length > 2) {
          const newList =
            [...this.professionClassifierList].filter((entry) => (entry.name).indexOf(query) !== -1);
          this.professionClassifierListFiltered[`key_${this.professionClassifierListFocused}`] = newList.slice(0, 30);
        }
      },
      //фильтрация ОКВЭД
      OkvedFilterHandler(query) {
        if (this.OkvedListFocused === null) return;
        // destroy & create again
        this.OkvedListFiltered = {};
        if (query !== '' && query.length > 0) {
          const newList =
            [...this.economicCodeList].filter((entry) => (entry.part_name).indexOf(query) !== -1  ||
                                                         (entry.part_code).indexOf(query) !== -1  ||
                                                         (entry.name).indexOf(query) == 0  ||
                                                         (entry.code).indexOf(query) !== -1
            );
          this.OkvedListFiltered[`key_${this.OkvedListFocused}`] = newList.slice(0, 60);
        }
      },
      //устанавливаем ОКЗ по выбранному ОКПДТР
      professionClassifierChangeHandler(entryID) {
        this.addRequireChangeHandler(this.professionClassifierListFocused);
        const professionItems = this.professionClassifierList.filter((entry) => entry.id === entryID);
        if (this.professionClassifierListFocused !== null && professionItems.length > 0) {
          this.peopleLines[this.professionClassifierListFocused].id_okz = professionItems[0].id_okz;
        }
      },
      //отмечаем, как отредактированную
      addRequireChangeHandler(index){
        console.log(index);
        if (!this.peopleLines[index].inserted)
             this.peopleLines[index].modified = 1;
             console.log(this.peopleLines);
      },
      // @override FormModalMixin save() function
      save() {
          function isInt(n){
              return Number(n) == n && n % 1 === 0;
          };

          function isFloat(n){
              return Number(n) == n && n % 1 !== 0;
          };

          function isNull(n){
              return n == null;
          };

          function isCorrectIFN(n){
              return isInt(n) || isFloat(n) || isNull(n);
          };

          function isCorrectIN(n){
              return isInt(n) || isNull(n);
          };

          let is_bad = false;
          let bad_value = '';
          for (let i = 0; i < this.indicatorLines.length; i++) {
              for (var key in this.indicatorLines[i]) {
                  if (this.indicatorLines[i].hasOwnProperty(key)) {
                      if (key.substr(0,2) == 'y_') {
                          const val = this.indicatorLines[i][key];
                          if (!isCorrectIFN(val)) {
                              bad_value = val;
                              is_bad = true;
                              break;
                          }
                          if (val==''){
                              this.indicatorLines[i][key] = 0;
                          }
                      }
                  }
              }
              if (is_bad)
                  break;
          }
          if (is_bad) {
              this.$message({
                  message: `Некорректное значение ${bad_value}`,
                  type: 'error'
              });
              return;
          }

          for (let i = 0; i < this.peopleLines.length; i++) {
              for (var key in this.peopleLines[i]) {
                  if (this.peopleLines[i].hasOwnProperty(key)) {
                      if (key == 'id_okved') {
                          if (this.peopleLines[i][key] == ''){
                              this.peopleLines[i][key] = -1;
                          }
                      }
                      if (key.substr(0,2) == 'y_') {
                          const val = this.peopleLines[i][key];
                          if (!isCorrectIN(val)) {
                              bad_value = val;
                              is_bad = true;
                              break;
                          }
                          if (val==''){
                              this.peopleLines[i][key] = 0;
                          }
                      }
                  }
              }
              if (is_bad)
                  break;
          }
          if (is_bad) {
              this.$message({
                  message: `Некорректное значение ${bad_value}`,
                  type: 'error'
              });
              return;
          }

        this.$emit('save', {
          form: this.form,
          indicators: this.indicatorLines,
          peoples: this.peopleLines,
          peoplesDeleted: this.deletedPeopleLines,
        });
      },
    },
    watch: {
      // fill professionClassifierListFiltered
      peopleLines(newList) {
        this.professionClassifierListFiltered = {};
        newList.map((entry, key) => {
          this.professionClassifierListFiltered[`key_${key}`] = [...this.professionClassifierList]
            .filter((profession) => {
              return +profession.id === +entry.id_okpdtr;
            });
          // entry.id_okpdtr
        });
        //Устанавливаем выбранный ОКВЭД
        newList.map((entry, key) => {
          this.OkvedListFiltered[`key_${key}`] = [...this.economicCodeList]
            .filter((okved) => {
              return +okved.id === +entry.id_okved;
            });
          // entry.id_okpdtr
        });
      },

    },
  }
</script>
