<template>
  <section class="item-list" v-loading="isLoading">
    <h2>Инвестиционные проекты</h2>
    <el-table
      empty-text="Данных нет"
      :data="tableData"
      style="width: 100%">
      <el-table-column
        prop="_rownum"
        label="№"
        width="50">
      </el-table-column>
      <el-table-column
        prop="name"
        label="Проект">
      </el-table-column>
      <el-table-column
        label="Организация">
        <template slot-scope="scope">
          {{organizationName(scope.row.id_organization) || 'Неизвестная организация'}}
        </template>
      </el-table-column>
      <el-table-column
        label="ИНН">
        <template slot-scope="scope">
          {{organizationINN(scope.row.id_organization) || '-'}}
        </template>
      </el-table-column>
      <el-table-column
        label="Срок реализации">
        <template slot-scope="scope">
          <span>{{scope.row.period}}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Дата загрузки">
        <template slot-scope="scope">
          <span>{{scope.row.dateadd}}</span>
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="Действия"
        width="120">
        <template slot-scope="scope">
          <el-link @click="handleClick(scope.row)" icon="el-icon-edit">Изменить</el-link>
          <el-link @click="handleDel(scope.row.id)" icon="el-icon-delete" v-if="scope.row.can_del">Удалить</el-link>
        </template>
      </el-table-column>
    </el-table>
    <el-row>
      <el-button size="small" @click="addProj"><i class="el-icon-plus"/>Добавить проект</el-button>
    </el-row>
    <el-dialog
      title="Карточка инвестиционного проекта"
      :closeOnClickModal=false
      :visible.sync="dialogVisible"
      :before-close="handleClose"
      fullscreen
    >
      <form-f7 ref="editForm" @save="handleSave" @close="dialogVisible = false"/>
    </el-dialog>
    <el-form>
      <el-form-item>
        <el-tabs>
          <el-tab-pane label="Загрузка файла с данными">
            <el-row :gutter="20">
              <el-col :span="12">
                <el-upload
                  class="upload-demo"
                  action="../posts/"
                  :auto-upload="false"
                  :file-list="form.fileList"
                  :on-change="handleChangeFL"
                  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                  <el-button size="small" slot="trigger" type="primary">Выбрать</el-button>

                  <div slot="tip" class="el-upload__tip"></div>
                  <el-button v-if="form.fileList.length" size="small" type="primary" @click="upload()">Загрузить</el-button>
                </el-upload>
              </el-col>
            </el-row>
          </el-tab-pane>
          <el-tab-pane label="Выгрузка">
            <el-row :gutter="20">
              <el-col :span="12">
                <el-button size="small" type="primary" @click="handleDownload()">Сохранить</el-button>
              </el-col>
            </el-row>
          </el-tab-pane>
        </el-tabs>
      </el-form-item>
    </el-form>
  </section>

</template>

<script>
  import FormF7 from "./F7";
  import CurrencyMixin from "../../mixins/CurrencyMixin";
  import {INVESTING_TYPE, ORGANIZATION_TYPE} from "../../interfaces/entities";

  export default {
    name: 'ItemListF7',
    components: { FormF7 },
    mixins: [CurrencyMixin],
    data: () => ({
      isLoading: false,
      dialogVisible: false,
      dialogInitForm: {},
      form:{
          fileList: [],

      }
    }),
    computed: {
      tableData() {
        return this.$store.state.invest.lists.projects;
      },
      fileList(){
        return  this.form.fileList;
      },
    },
    methods: {
      getList() {
        this.$store.dispatch('invest/getList', {});
      },
      organizationName(organizationId) {
        const foundOrganizations = this.$store.getters['dictionary/organization'](organizationId);
        if (foundOrganizations.length > 0) return foundOrganizations[0].name;
        return '';
      },
      organizationINN(organizationId) {
            const foundOrganizations = this.$store.getters['dictionary/organization'](organizationId);
            if (foundOrganizations.length > 0) return foundOrganizations[0].inn;
            return '';
      },
      organizationOGRN(organizationId) {
            const foundOrganizations = this.$store.getters['dictionary/organization'](organizationId);
            if (foundOrganizations.length > 0) return foundOrganizations[0].ogrn;
            return '';
      },
      handleClick(row) {
        this.isLoading = true;
        this.dialogVisible = true;
        this.$nextTick(() => {
          this.$refs.editForm.init(row);
          this.isLoading = false;
        });
      },
      addProj(){
          this.isLoading = true;
          this.dialogVisible = true;
          this.$nextTick(() => {
              this.$refs.editForm.init({});
              this.isLoading = false;
          });
      },
      async handleDel(id) {
          console.log(id);
          this.$confirm('Инвестиционный проект будет удален! Продолжить?', 'Внимание', {
              confirmButtonText: 'Да',
              cancelButtonText: 'Нет',
              type: 'warning'
          }).then(() => {
              this.$store.dispatch('invest/delEntity', {
                   projectId: id
              }).then(()=>{
                  this.getList();
              }).then(()=>{
                  this.$message({
                      type: 'success',
                      message: 'Удалено'
                  });
              });
          }).catch(() => {
              this.$message({
                  type: 'info',
                  message: 'Удаление отменено'
              });
          });
      },
      handleClose(done) {
        done();
      },
      async handleSave({form, indicators, peoples, peoplesDeleted}) {
        function check_year(y) {
              return (y > 1999 && y < 2040);
        };
        var new_id = 0;
        var new_org_id = 0;
        this.isLoading = true;
        // save form
        if (!form.projectRealizationFrom || !form.projectRealizationTo) {
            this.$message.error('Установите сроки реализации проекта!');
            return;
        };
        if (!check_year(form.projectRealizationFrom) ||
            !check_year(form.projectRealizationTo) ||
             form.projectRealizationTo < form.projectRealizationFrom) {
              this.$message.error('Установите корректные сроки реализации проекта!');
              return;
        };
        if (form.projectRealizationFrom.length == 4) {
            form.projectRealizationFrom += '-01-01';
        };
        if (form.projectRealizationTo.length == 4) {
            form.projectRealizationTo += '-12-31';
        };
        if (form.projectId) {
            await this.$store.dispatch('invest/saveEntity', {
                entityType: INVESTING_TYPE.PROJECT,
                projectId: form.projectId,
                form
            });
        }
        else {
            //сперва организацию
            const res2 = await this.$store.dispatch('employer/saveEntity', {
                entityType: ORGANIZATION_TYPE.ORGANIZATION_NAME,
                formId: 0,
                form
            });
            new_org_id = res2.data.id;
            form.projectInvestorID = new_org_id;
            //затем проект
            const res1 = await this.$store.dispatch('invest/saveEntity', {
                entityType: INVESTING_TYPE.PROJECT,
                projectId: 0,
                form
            });
            console.log(res1);
            new_id = res1.data.id;
            console.log(new_id);

        };
        //сохранение реквизитов организации (м.б. новая организация)
        if (form.projectId) {
            await this.$store.dispatch('employer/saveEntity', {
                entityType: ORGANIZATION_TYPE.ORGANIZATION_NAME,
                formId: form.projectInvestorId,
                form
            });
        }
        else {
            //
        }
        if (form.projectId) {
            await this.$store.dispatch('invest/saveEntity', {
                entityType: INVESTING_TYPE.PROJECT_LINE_OKVED,
                projectId: form.projectId,
                form
            });
        };

        if (form.projectId) {
            //сохраняем только если есть идентификатор
            await this.$store.dispatch('invest/saveEntity', {
                entityType: INVESTING_TYPE.PROJECT_LINE_INDICATORS,
                projectId: form.projectId,
                form: indicators
            });
            await this.$store.dispatch('invest/saveEntity', {
                entityType: INVESTING_TYPE.PROJECT_LINE_PEOPLES,
                projectId: form.projectId,
                form: peoples,
                deleted: peoplesDeleted,
            });
        };
        this.$store.dispatch('dictionary/initOrganizationsList', {});
        this.getList();
        this.isLoading = false;
        if  (form.projectId)
          if (false)
            this.dialogVisible = false;
          else
            this.$refs.editForm.getLines(form.projectId);
        else{
            this.$refs.editForm.getLines(new_id);
        }
      },
      handleChangeFL(file, fileList) {
          this.form.fileList = fileList.slice(-1);
      },
      async upload(){
          this.isLoading = true;
          const response =  await this.$store.dispatch('invest/saveFile',
              { entityType: INVESTING_TYPE.PROJECT ,
                      file: this.form.fileList[0].raw
              });
          this.$store.dispatch('dictionary/initOrganizationsList', {});
          this.getList();

          this.form.fileList = [];
          this.isLoading = false;
      },
      async handleDownload(row) {
            this.isLoading = true;
            const response = await this.$store.dispatch('invest/getDownloadInvProj');
            // Download to client
            let link = document.createElement('a');
            link.href = response.data;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            this.isLoading = false;
      },
    },
    mounted() {
      this.getList();
    },
    watch:{
      fileList(){
          console.log(this.fileList);
      },
  },
  }
</script>
