<template>
  <el-form label-position="top" v-loading="isLoading">
    <el-form-item label="Наименование организации (предприятия)">
      <el-input v-model="form.a"/>
    </el-form-item>
    <el-form-item label="ИНН">
      <el-input v-model="form.b"/>
    </el-form-item>
    <el-form-item label="ОГРН">
      <el-input v-model="form.c"/>
    </el-form-item>
    <el-form-item label="Код по ОКВЭД">
      <el-select v-model="form.organisationEconomicCode" placeholder="Выберите" filterable multiple>
        <el-option
          v-for="item in economicCodeList"
          :key="item.id"
          :label="`${item.code} - ${item.name}`"
          :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>

    <el-form-item label="Форма собственности организации (ОКФС)">
      <el-select v-model="form.organisationOwnershipForm" placeholder="Выберите" filterable>
        <el-option
          v-for="item in organisationOwnershipFormList"
          :key="item.id"
          :label="`${item.code} - ${item.name}`"
          :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="Среднесписочная численность работающих в организации">
      <el-input v-model="form.organisationPeoples" placeholder="человек"/>
    </el-form-item>
    <el-form-item label="Среднемесячная заработная плата">
      <el-input v-model="form.organisationMonthSalary" placeholder="рублей"/>
    </el-form-item>

    <h4>Дополнительная перспективная потребность в кадрах</h4>
    <div class="table-scrollable-container">
      <table class="el-table is-plain">
        <thead>
        <tr>
          <th>Профессия по ОКПДТР</th>
          <th>ОКЗ</th>
          <th>ОКВЭД</th>
          <th v-for="(year, yearCode) in yearList1" :key="yearCode">{{year}}</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tr v-for="(entry, key) in form.peopleLines" :key="key">
          <td>
            <el-select v-model="entry.id_okpdtr" size="small" placeholder="Выберите" filterable style="width:300px"
                       no-data-text="Введите текст для поиска"
                       no-match-text="Профессия не найдена"
                       remote :remote-method="professionClassifierFilterHandler"
                       @focus="professionClassifierListFocused = key"
                       @change="professionClassifierChangeHandler"
            >
<!--              allow-create-->
              <el-option
                v-for="item in professionClassifierListFiltered[`key_${key}`]"
                :key="`s_${key}_${item.id}`"
                :label="`${item.code} - ${item.name}`"
                :value="item.id">
              </el-option>
            </el-select>
          </td>
          <td>
            <select class="el-select-simple small" v-model="entry.id_okz" size="small" placeholder="Выберите" filterable
                    style="width:300px">
              <option
                v-for="item in occupationClassifierList"
                :key="item.id"
                :label="`${item.code} - ${item.name}`"
                :value="item.id">
              </option>
            </select>
          </td>
          <td>
            <select class="el-select-simple small" v-model="entry.id_okved" size="small"
                    placeholder="Выберите"
                    filterable style="width:300px">
              <option
                v-for="item in economicCodeList"
                :key="item.id"
                :label="`${item.code} - ${item.name}`"
                :value="item.id">
              </option>
            </select>
          </td>
          <td v-for="(year, yearCode) in yearList1" :key="yearCode">
            <el-input v-model="entry[yearCode]" size="small"/>
          </td>
          <td>
            <el-button type="danger" icon="el-icon-delete" circle size="small" @click="removeLineFromPeople(key)"/>
          </td>
        </tr>
      </table>
    </div>
    <el-button size="small" @click="addNewLineForPeoples"><i class="el-icon-plus"/>Добавить запись</el-button>

    <h5>в том числе дополнительная перспективная потребность в кадрах на вновь создаваемые<br/>
      рабочие места и на рабочие места, создаваемые в рамках реализации инвестиционных проектов:</h5>

    <div class="table-scrollable-container">
      <table class="el-table is-plain">
        <thead>
        <tr>
          <th>Профессия по ОКПДТР</th>
          <th>ОКЗ</th>
          <th>ОКВЭД</th>
          <th>Наименование инвестиционного проекта</th>
          <th v-for="(year, yearCode) in yearList1" :key="yearCode">{{year}}</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tr v-for="(entry, key) in form.peopleLinesInvest" :key="key">
          <td>
                        <el-select v-model="entry.id_okpdtr" size="small" placeholder="Выберите" filterable style="width:300px"
                                   no-data-text="Введите текст для поиска"
                                   no-match-text="Профессия не найдена"
                                   allow-create
                                   remote :remote-method="professionClassifierFilterHandler2"
                                   @focus="professionClassifierListFocused2 = key"
                                   @change="professionClassifierChangeHandler2"
                        >
                          <el-option
                            v-for="item in professionClassifierListFiltered[`key2_${key}`]"
                            :key="`s_${key}_${item.id}`"
                            :label="`${item.code} - ${item.name}`"
                            :value="item.id">
                          </el-option>
                        </el-select>
          </td>
          <td>
            <select class="el-select-simple small" v-model="entry.id_okz" size="small" placeholder="Выберите" filterable
                    style="width:300px">
              <option
                v-for="item in occupationClassifierList"
                :key="item.id"
                :label="`${item.code} - ${item.name}`"
                :value="item.id">
              </option>
            </select>
          </td>
          <td>
            <select class="el-select-simple small" v-model="entry.id_okved" size="small" placeholder="Выберите"
                    filterable style="width:300px">
              <option
                v-for="item in economicCodeList"
                :key="item.id"
                :label="`${item.code} - ${item.name}`"
                :value="item.id">
              </option>
            </select>
          </td>
          <td>
            <select class="el-select-simple small" v-model="entry.id_invest_proj" size="small" placeholder="Выберите"
                    filterable style="width:300px">
              <option
                v-for="item in investProjectList"
                :key="item.id"
                :label="`${item.name}`"
                :value="item.id">
              </option>
            </select>
          </td>
          <td v-for="(year, yearCode) in yearList" :key="yearCode">
            <el-input v-model="entry[yearCode]" size="small"/>
          </td>
          <td>
            <el-button type="danger" icon="el-icon-delete" circle size="small"
                       @click="removeLineFromPeoplesInvest(key)"/>
          </td>
        </tr>
      </table>
    </div>
    <el-button size="small" @click="addNewLineForPeoplesInvest"><i class="el-icon-plus"/>Добавить запись</el-button>

    <el-form-item class="text-right">
      <el-button @click="close()">Отмена</el-button>
      <el-button @click="save()" type="primary">Сохранить</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  import FormModalMixin from "../../mixins/FormModalMixin";
  import { ORGANIZATION_TYPE } from "../../interfaces/entities";

  export default {
    name: 'FormF8',
    mixins: [FormModalMixin],
    data: () => ({
      isLoading: false,
      form: {
        formId: '',
        organisationId: '',
        organisationEconomicCode: [],
        organisationOwnershipForm: '',
        organisationPeoples: '',
        organisationMonthSalary: '',
        a:'',
        b:'',
        c:'',
        //
        peopleLines: [],
        peopleLinesInvest: [],
      },
      professionClassifierListFiltered: {}, // key_{$i} => filtered list[]
      professionClassifierListFocused: null,
      OkvedListFiltered: {}, // key_{$i} => filtered list[]
      OkvedListFocused: null,

      professionClassifierListFocused2: null,
      OkvedListFiltered2: {}, // key_{$i} => filtered list[]
      OkvedListFocused2: null,

      okved: [],
      years: [],
    }),
    computed: {
      peopleLines() {
        return this.form.peopleLines;
      },
      peopleLinesInvest() {
        return this.form.peopleLinesInvest;
      }
    },
    methods: {
      async init(data) {
        console.log('INIT', data);
        this.isLoading = true;
        this.form.organisationId = data.id_organization;
        //TODO:не редактировалось, в чем проблема?
        //this.form.organization2Name = data.organization_name;
        //this.form.organization2Inn = this.organizationINN(data.id_organization);
        //this.form.organization2Ogrn = this.organizationOGRN(data.id_organization);

        this.form.organisationOwnershipForm = data.id_okfs;
        this.form.organisationPeoples = data.cnt;
        this.form.organisationMonthSalary = data.salary;
        this.form.a = data.organization_name;
        this.form.b = this.organizationINN(data.id_organization);
        this.form.c = this.organizationOGRN(data.id_organization);
        this.form.formId = data.id_form;

        this.okved = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_LINE_OKVED, formId: data.id_organization });
        this.years = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_YEARS, formId: data.id_form });
        this.form.peopleLines = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_PEOPLES, formId: data.id_form });
        this.form.peopleLinesInvest = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_PEOPLES_INVEST, formId: data.id_form });

        this.form.organisationEconomicCode = [];
        if (this.okved.length > 0) {
          for (let [key, value] of Object.entries(this.okved)) {
            this.form.organisationEconomicCode.push(value['id_okved']);
          }
        }

        this.isLoading = false;
      },
      addNewLineForPeoples() {
        //console.log(this.organisationEconomicCode);
        this.form.peopleLines.push({
          year_start: new Date().getFullYear(),
          id_form: this.form.formId,
          id_type: 3,
          id_okved: this.form.organisationEconomicCode[0] || '',
          y_0: 0,
          y_1: 0,
          y_2: 0,
          y_3: 0,
          y_4: 0,
          y_5: 0,
          y_6: 0,
          y_7: 0,
        });
      },
      removeLineFromPeople(index) {
        this.form.peopleLines.splice(index, 1);
      },
      addNewLineForPeoplesInvest() {
        this.form.peopleLinesInvest.push({
          year_start: new Date().getFullYear() - 1,
          id_form: this.form.formId,
          id_type: 4,
          id_okved: this.form.organisationEconomicCode[0] || '',
          y_0: 0,
          y_1: 0,
          y_2: 0,
          y_3: 0,
          y_4: 0,
          y_5: 0,
          y_6: 0,
          y_7: 0,
        });
      },
      organizationINN(organizationId) {
            const foundOrganizations = this.$store.getters['dictionary/organization'](organizationId);
            if (foundOrganizations.length > 0) return foundOrganizations[0].inn;
            return '';
      },
      organizationOGRN(organizationId) {
            const foundOrganizations = this.$store.getters['dictionary/organization'](organizationId);
            if (foundOrganizations.length > 0) return foundOrganizations[0].ogrn;
            return '';
      },
      removeLineFromPeoplesInvest(index) {
        this.form.peopleLinesInvest.splice(index, 1);
      },
      // Фильтрация ОКПДТР
      professionClassifierFilterHandler(query) {
        if (this.professionClassifierListFocused === null) return;
        // destroy & create again
        this.professionClassifierListFiltered = {};
        if (query !== '' && query.length > 2) {
          const newList =
            [...this.professionClassifierList].filter((entry) => (entry.name).indexOf(query) !== -1);

          this.professionClassifierListFiltered[`key_${this.professionClassifierListFocused}`] = newList.slice(0, 30);
        }
      },

      professionClassifierFilterHandler2(query) {
        if (this.professionClassifierListFocused2 === null) return;
        // destroy & create again
        this.professionClassifierListFiltered = {};
        if (query !== '' && query.length > 2) {
          const newList =
            [...this.professionClassifierList].filter((entry) => (entry.name).indexOf(query) !== -1);

          this.professionClassifierListFiltered[`key2_${this.professionClassifierListFocused2}`] = newList.slice(0, 30);
        }
      },



      // фильтрация ОКВЭД
      OkvedFilterHandler(query) {
        if (this.OkvedListFocused === null) return;
        // destroy & create again
        this.OkvedListFiltered = {};
        if (query !== '' && query.length > 2) {
          const newList =
            [...this.economicCodeList].filter((entry) => (entry.name).indexOf(query) !== -1);
          this.OkvedListFiltered[`key_${this.OkvedListFocused}`] = newList.slice(0, 30);
        }
      },
      //устанавливаем ОКЗ по выбранному ОКПДТР
      professionClassifierChangeHandler(entryID) {
        const professionItems = this.professionClassifierList.filter((entry) => entry.id === entryID);
        if (this.professionClassifierListFocused !== null && professionItems.length > 0) {
          this.form.peopleLines[this.professionClassifierListFocused].id_okz = professionItems[0].id_okz;
        }
      },
      //для инвест. проектов
      professionClassifierChangeHandler2(entryID) {
        const professionItems = this.professionClassifierList.filter((entry) => entry.id === entryID);
        if (this.professionClassifierListFocused2 !== null && professionItems.length > 0) {
          this.form.peopleLinesInvest[this.professionClassifierListFocused2].id_okz = professionItems[0].id_okz;
        }
      },
    },
    watch: {
      // fill professionClassifierListFiltered
      peopleLines(newList) {
        this.professionClassifierListFiltered = {};
        //устанавливаем ОКПДТР
        newList.map((entry, key) => {
          this.professionClassifierListFiltered[`key_${key}`] = [...this.professionClassifierList]
            .filter((profession) => {
              return +profession.id === +entry.id_okpdtr;
            });
        });
        //Устанавливаем выбранный ОКВЭД
        newList.map((entry, key) => {
          this.OkvedListFiltered[`key_${key}`] = [...this.economicCodeList]
            .filter((okved) => {
              return +okved.id === +entry.id_okved;
            });
          // entry.id_okpdtr
        });

      },
      peopleLinesInvest(newList) {
        this.professionClassifierListFiltered = {};
        // устанавливаем ОКПДТР
        newList.map((entry, key) => {
          this.professionClassifierListFiltered[`key2_${key}`] = [...this.professionClassifierList]
            .filter((profession) => {
              return +profession.id === +entry.id_okpdtr;
            });
        });
      },
    },
  };
</script>
