<template>
  <el-form label-position="top" v-loading="isLoading">
    <el-form-item label="Наименование организации (предприятия)">
      <el-input v-model="form.organisationName" readonly/>
    </el-form-item>
    <el-form-item label="Код по ОКВЭД">
      <el-select v-model="form.organisationEconomicCode" placeholder="Выберите" filterable multiple readonly>
        <el-option
          v-for="item in economicCodeList"
          :key="item.id"
          :label="`${item.code} - ${item.name}`"
          :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>

<!--    <el-form-item label="Форма собственности организации (ОКФС)">-->
<!--      <el-select v-model="form.organisationOwnershipForm" placeholder="Выберите" filterable>-->
<!--        <el-option-->
<!--          v-for="item in organisationOwnershipFormList"-->
<!--          :key="item.id"-->
<!--          :label="`${item.code} - ${item.name}`"-->
<!--          :value="item.id">-->
<!--        </el-option>-->
<!--      </el-select>-->
<!--    </el-form-item>-->
<!--    <el-form-item label="Среднесписочная численность работающих в организации">-->
<!--      <el-input v-model="form.organisationPeoples" placeholder="человек"/>-->
<!--    </el-form-item>-->
<!--    <el-form-item label="Среднемесячная заработная плата">-->
<!--      <el-input v-model="form.organisationMonthSalary" placeholder="рублей"/>-->
<!--    </el-form-item>-->

    <h4>Профессионально-квалификационная структура рабочих мест</h4>
    <el-form-item>
      <div class="table-scrollable-container">
        <table class="el-table is-plain">
          <thead>
          <tr>
            <th>Наименование профессий рабочих, должностей служащих по ОКПДТР</th>
            <th>ОКЗ</th>
            <th>Численность работников, чел.</th>
            <th>Среднемесячная зарплата, тыс. руб.</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tr v-for="(entry, key) in form.peopleProfessionLines" :key="key">
            <td>

              <el-select v-model="entry.id_okpdtr" size="small" placeholder="Выберите" filterable style="width:300px"
                         no-data-text="Введите текст для поиска"
                         no-match-text="Профессия не найдена"
                         remote :remote-method="professionClassifierFilterHandler"
                         @focus="professionClassifierListFocused = key"
                         @change="professionClassifierChangeHandler"
              >
                <el-option
                  v-for="item in professionClassifierListFiltered[`key_${key}`]"
                  :key="`s_${key}_${item.id}`"
                  :label="`${item.code} - ${item.name}`"
                  :value="item.id">
                </el-option>
              </el-select>
            </td>
            <td>
              <select class="el-select-simple small" v-model="entry.id_okz" size="small"
                      placeholder="Выберите"
                      filterable
                      style="width:300px">
                <option
                  v-for="item in occupationClassifierList"
                  :key="item.id"
                  :label="`${item.code} - ${item.name}`"
                  :value="item.id">
                </option>
              </select>
            </td>
            <td>
              <el-input v-model="entry.value" size="small"/>
            </td>
            <td>
              <el-input v-model="entry.value2" size="small"/>
            </td>
            <td>
              <el-button type="danger" icon="el-icon-delete" circle size="small"
                         @click="removeLineFromPeopleProfession(key)"/>
            </td>
          </tr>
        </table>
      </div>
      <el-button size="small" @click="addPeopleProfessionLine"><i class="el-icon-plus"/>Добавить строку</el-button>
    </el-form-item>

    <h4>Структура занятых по возрасту</h4>
    <table class="el-table is-plain">
      <thead>
      <tr>
        <th></th>
        <th v-for="(entry, key) in form.organisationWorkersByAge" :key="key">{{entry.age}}</th>
      </tr>
      </thead>
      <tr>
        <td>Численность работников, чел.</td>
        <td v-for="(entry, key) in form.organisationWorkersByAge" :key="key">
          <el-input v-model="entry.value" size="small"/>
        </td>
      </tr>
    </table>

    <h4>Структура занятых по полу</h4>
    <table class="el-table is-plain">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th v-for="(entry, key) in form.organisationWorkersBySex" :key="key">{{entry.sex_type}}</th>
      </tr>
      </thead>
      <tr>
        <td>Численность работников, чел.</td>
        <td v-for="(entry, key) in form.organisationWorkersBySex" :key="key">
          <el-input v-model="entry.value" size="small"/>
        </td>
      </tr>
    </table>
    <el-form-item class="text-right">
      <el-button @click="close()">Отмена</el-button>
      <el-button @click="save()" type="primary">Сохранить</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  import FormModalMixin from "../../mixins/FormModalMixin";
  import { ORGANIZATION_TYPE } from "../../interfaces/entities";

  export default {
    name: 'FormF9',
    mixins: [FormModalMixin],
    data: () => ({
      isLoading: false,
      form: {
        formId: '',
        organisationId: '',
        organisationName: '',
        organisationEconomicCode: '',
        organisationOwnershipForm: '',
        organisationPeoples: '',
        organisationMonthSalary: '',
        //
        peopleProfessionLines: [],
        organisationWorkersByAge: [],
        organisationWorkersBySex: [],
      },
      professionClassifierListFiltered: {}, // key_{$i} => filtered list[]
      professionClassifierListFocused: null,
    }),
    methods: {
      async init(data) {
        //console.log('INIT', data);
        this.isLoading = true;
        this.form.organisationId = data.id_organization;
        this.form.organisationName = data.organization_name;
        this.form.organisationOwnershipForm = data.id_okfs;
        this.form.organisationPeoples = data.cnt;
        this.form.organisationMonthSalary = data.salary;
        this.form.formId = data.id_form;

        this.okved = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_LINE_OKVED, formId: data.id_organization });
        this.form.peopleProfessionLines = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_PROFESSION_PEOPLES, formId: data.id_form });
        this.form.organisationWorkersByAge = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_ORGANIZATION_AGE, formId: data.id_form });
        if  (this.form.organisationWorkersByAge.length == 0) {
              this.form.organisationWorkersByAge = [
                  { 'id_form': data.id_form, 'id_type': 6, 'id_workers_age_type':1,	'age':'до 20 лет', 'value': 0},
                  { 'id_form': data.id_form, 'id_type': 6, 'id_workers_age_type':2,  'age':'20-24', 'value': 0},
                  { 'id_form': data.id_form, 'id_type': 6, 'id_workers_age_type':3,	'age':'25-29', 'value': 0},
                  { 'id_form': data.id_form, 'id_type': 6, 'id_workers_age_type':4,	'age':'30-34', 'value': 0},
                  { 'id_form': data.id_form, 'id_type': 6, 'id_workers_age_type':5,	'age':'35-39', 'value': 0},
                  { 'id_form': data.id_form, 'id_type': 6, 'id_workers_age_type':6,	'age':'40-44', 'value': 0},
                  { 'id_form': data.id_form, 'id_type': 6, 'id_workers_age_type':7,	'age':'45-49', 'value': 0},
                  { 'id_form': data.id_form, 'id_type': 6, 'id_workers_age_type':8,	'age':'50-54', 'value': 0},
                  { 'id_form': data.id_form, 'id_type': 6, 'id_workers_age_type':9,	'age':'55-59', 'value': 0},
                  { 'id_form': data.id_form, 'id_type': 6, 'id_workers_age_type':10,	'age':'60-64', 'value': 0},
                  { 'id_form': data.id_form, 'id_type': 6, 'id_workers_age_type':11,	'age':'65 и старше', 'value': 0}];
        };
        this.form.organisationWorkersBySex = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_ORGANIZATION_SEX, formId: data.id_form });
        if  (this.form.organisationWorkersBySex.length == 0) {
               this.form.organisationWorkersBySex = [{ 'id_form': data.id_form, 'id_type': 7, 'id_workers_sex_type': 1, 'sex_type': 'Мужчин', 'value': 0},
                                                     { 'id_form': data.id_form, 'id_type': 7, 'id_workers_sex_type': 2, 'sex_type': 'Женщин', 'value': 0}];
            /*'id_form': data.id_form,*/
        };
        this.form.organisationEconomicCode = [];
        if (this.okved.length > 0) {
          for (let [key, value] of Object.entries(this.okved)) {
            this.form.organisationEconomicCode.push(value['id_okved']);
          }
        }

        this.isLoading = false;
      },
      addPeopleProfessionLine() {
        this.form.peopleProfessionLines.push({});
      },
      removeLineFromPeopleProfession(index) {
        this.form.peopleProfessionLines.splice(index, 1);
      },
      // Фильтрация ОКПДТР
      professionClassifierFilterHandler(query) {
            if (this.professionClassifierListFocused === null) return;
            // destroy & create again
            this.professionClassifierListFiltered = {};
            if (query !== '' && query.length > 2) {
                const newList =
                    [...this.professionClassifierList].filter((entry) => (entry.name).indexOf(query) !== -1);

                this.professionClassifierListFiltered[`key_${this.professionClassifierListFocused}`] = newList.slice(0, 30);
            }
      },
      //устанавливаем ОКЗ по выбранному ОКПДТР
      professionClassifierChangeHandler(entryID) {
            const professionItems = this.professionClassifierList.filter((entry) => entry.id === entryID);
            if (this.professionClassifierListFocused !== null && professionItems.length > 0) {
                this.form.peopleProfessionLines[this.professionClassifierListFocused].id_okz = professionItems[0].id_okz;
            }
      },
    },
    computed:{
        peopleProfessionLines() {return this.form.peopleProfessionLines;},
    },
    watch: {
          // fill professionClassifierListFiltered
          peopleProfessionLines(newList) {
              this.professionClassifierListFiltered = {};
              newList.map((entry, key) => {
                  this.professionClassifierListFiltered[`key_${key}`] = [...this.professionClassifierList]
                      .filter((profession) => {
                          return +profession.id === +entry.id_okpdtr;
                      });
                  // entry.id_okpdtr
              });

          },

    },
  }
</script>
