<template>
  <section class="item-list" v-loading="isLoading">
    <div class="table-scrollable-container">
      <el-button @click="PivotToXlsx('pvtTableGraduate')"
                 icon="el-icon-download" size="small" round>Excel
      </el-button>
      <vue-pivottable-ui id="pvtTableGraduate"
                         v-if="pivotData.data.length > 0"
                         :aggregatorName="pivotData.aggregatorName"
                         :cols="pivotData.cols"
                         :data="pivotData.data"
                         :disabledFromDragDrop="pivotData.disabledFromDragDrop"
                         :hiddenFromDragDrop="pivotData.hiddenFromDragDrop"
                         :rendererName="pivotData.rendererName"
                         :rows="pivotData.rows"
                         :vals="pivotData.vals"
      >
      </vue-pivottable-ui>
    </div>
  </section>
</template>

<script>
  import { EDU_TYPE, ORGANIZATION_TYPE } from "../../interfaces/entities";
  import FormGraduateEdu from "./GraduateEdu";
  import XLSX from 'xlsx';
  export default {
    name: 'GraduateEduPivot',
    data: () => ({
      isLoading: false,
      dialogVisible: false,
        pivotData: {
            data: [],
            cols: [],
            rows: [],
            vals: [],
            disabledFromDragDrop: [],
            hiddenFromDragDrop: [],
            aggregatorName: '',
            rendererName: '',
        },
    }),
    computed: {},
    methods: {
      async getData() {
        this.isLoading = true;
        const response = await this.$store.dispatch('education/getList', { entityType: EDU_TYPE.GRADUATE_EDU_PIVOT });
        this.pivotData = {
              ...response.data,
        };
        this.isLoading = false;
      },
      PivotToXlsx(pvtId) {
            var pvt = document.getElementById(pvtId)
            var pvtTb = pvt.getElementsByClassName('pvtTable')[0];
            var wb = XLSX.utils.table_to_book(pvtTb, { sheet: "Данные" });
            XLSX.writeFile(wb, 'Graduates.xlsx');
      },
    },
    mounted() {
      this.getData();
    }
  }
</script>
