<template>
  <section class="item-list" v-loading="isLoading">
    <el-form>
    <nuxt-link to="/graduates.pdf" type="primary" target="_blank">Инструкция по заполнению</nuxt-link>
    <el-form-item label="Год сбора"  width="200px">
      <el-select class="width-full" filterable placeholder="Выберите из списка" v-model="yearId" width="200px">
        <el-option
          v-for="item in yearData"
          :key="item.id"
          :label="`${item.name}`"
          :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>
    </el-form>


    <el-row :gutter="30" class="nav-filter" v-if="!isEdu">
<!--      <el-col :span="5">-->
<!--        <el-input v-model="filterStr" placeholder="Введите поисковый фрагмент" prefix-icon="el-icon-search"/>-->
<!--      </el-col>-->
      <el-col :span="2">
        Строк на странице:
      </el-col>
      <el-col :span="2">
        <el-select class="width-full" filterable placeholder="Строк на странице" v-model="pageSize">
          <el-option
            v-for="item in pageSizeData"
            :key="item.id"
            :label="`${item.name}`"
            :value="item.id">
          </el-option>
        </el-select>
      </el-col>
      <el-col :span="2">
        <el-button @click="getList" icon="el-icon-refresh" type="primary" size="small" round>Получить
        </el-button>
      </el-col>
      <el-col :span="5">
        <el-pagination
          background
          layout="prev, pager, next"
          :current-page.sync="page"
          :page-count="pagesTotal">
        </el-pagination>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="2">
        <el-button @click="TableToXlsx('graduate_list','Выпускники')" icon="el-icon-download" size="small" round>Excel
        </el-button>
      </el-col>

    </el-row>

    <el-button size="small" @click="addEduLine" v-if="isClosed==0 && isEdu"><i class="el-icon-plus"/>Добавить строку</el-button>
    <el-table
      empty-text="Данных нет"
      :data="tableData"
      id="graduate_list"
      style="width: 100%">
      <el-table-column
        prop="organization"
        label="Профессиональное образовательное учреждение"
        v-if="roles.EDU_ORGANIZATION != userRole">
      </el-table-column>
      <el-table-column
        prop="okso"
        class-name="cell-small"
        label="Наименование профессии (специальности)">
      </el-table-column>
      <el-table-column
        prop="comps"
        class-name="cell-small"
        label="Освоение дополнительных проф.компетенций (на выбор обучающихся)">
      </el-table-column>
      <el-table-column
        prop="month_name"
        label="Месяц завершения обучения">
      </el-table-column>
      <el-table-column
        prop="year"
        label="Год завершения обучения" v-if="0">
      </el-table-column>
      <el-table-column
        prop="mrigo"
        label="Место жительства">
      </el-table-column>
      <el-table-column
        prop="punkt"
        label="Населенный пункт">
      </el-table-column>
      <el-table-column
        prop="cnt"
        label="Численность выпускников">
      </el-table-column>
      <el-table-column
        prop="add_inf"
        label="Доп. информация">
      </el-table-column>
      <el-table-column
        label="Действия"
        fixed="right"
        width="120"
        v-if="isEdu"
      >
        <template slot-scope="scope" v-if="scope.row.id && scope.row.is_closed==0 && isEdu">
          <el-link @click="handleClickOnEdit(scope.row)" icon="el-icon-edit">Изменить</el-link>
          <el-link @click="handleClickOnCopy(scope.row)" icon="el-icon-share">Копировать</el-link>
          <el-link @click="handleClickOnDelete(scope.row)" icon="el-icon-delete">Удалить</el-link>
        </template>
      </el-table-column>
    </el-table>
    <el-button size="small" @click="addEduLine" v-if="isClosed==0 && isEdu"><i class="el-icon-plus"/>Добавить строку</el-button>
    <el-button size="small" @click="lockPoll" v-if="isClosed==0 && isEdu"><i class="el-icon-lock"/>Завершить</el-button>
    <el-button size="small" @click="unlockPoll" v-if="isClosed==1 && isEdu"><i class="el-icon-unlock"/>Возобновить</el-button>

    <el-dialog
      title="Информация о выпуске"
      :visible.sync="dialogVisible"
      :before-close="handleClose"
      :closeOnClickModal=false
      v-loading="isLoading"
      width="900px"
    >
      <form-graduate-edu ref="editForm" @save="handleSave" @close="dialogVisible = false"/>
    </el-dialog>

  </section>
</template>

<script>
  import { EDU_TYPE, ORGANIZATION_TYPE } from "../../interfaces/entities";
  import { USER_ROLE } from "../../interfaces/entities";
  import FormGraduateEdu from "./GraduateEdu";
  import XLSX from 'xlsx';

  export default {
    name: 'GraduateEduList',
    components: { FormGraduateEdu },
    data: () => ({
      isLoading: false,
      dialogVisible: false,
      tableData: [],
      roles: USER_ROLE,
      yearData: [{id:2019, name: 2019}, {id:2020, name: 2020}],
      yearId: 2020,
      pageSizeData: [{'name':'25', 'id': 25}, {'name': '50', 'id': 50}, {'name':'100', 'id': 100}, {'name':'Все', 'id':0}],
      filterStr17: '',
      page: 1,
      pageSize: 50,
      pagesTotal: 1,
    }),
    computed: {
          userRole() {
              return this.$store.state.user.userData.role;
          },
          isEdu(){
              return this.$store.state.user.userData.role == this.roles.EDU_ORGANIZATION;
          },
          isClosed(){
              try {
                  if (!this.tableData.length)
                      return 0;
                  return (this.tableData[0].is_closed == 1);
              }
              catch(e){
                  return -1;
              }
          },
    },
    methods: {
      async getList() {
        this.isLoading = true;
        const response  = await this.$store.dispatch('education/getList', { entityType: EDU_TYPE.GRADUATE_EDU, year: this.yearId, page: this.page-1, pageSize: this.pageSize });
        this.tableData = response.data;
        this.pagesTotal = response.metadata.pages;
        this.isLoading = false;
      },
      handleClickOnEdit(row) {
        this.dialogVisible = true;
        this.$nextTick(() => {
          this.$refs.editForm.init(row);
          this.isLoading = false;
        });
      },
      async handleClickOnCopy(row) {
        this.dialogVisible = true;
        const new_row = await this.$store.dispatch('education/copyEntity', { entityType: EDU_TYPE.GRADUATE_EDU, entityId: row.id });
        console.log(new_row);
        row.id = new_row.data.id;
        row.cnt = 0;
        this.getList();
        this.$nextTick(() => {
          this.$refs.editForm.init(row);
          this.isLoading = false;
        });
      },
      handleClickOnDelete(row) {
          this.$confirm('Строка будет удалена! Продолжить?', 'Внимание', {
              confirmButtonText: 'Да',
              cancelButtonText: 'Нет',
              type: 'warning'
          }).then(() => {
              this.$store.dispatch('education/delEntity', { entityType: EDU_TYPE.GRADUATE_EDU, entityId: row.id}).then(()=>{
                  this.getList();
              }).then(()=>{
                  this.$message({
                      type: 'success',
                      message: 'Удалено'
                  });
              });
          })/*.catch(() => {
              this.$message({
                  type: 'info',
                  message: 'Удаление отменено'
              });
          })*/;
      },
      addEduLine() {
        this.dialogVisible = true;
        console.log(this.$store.getters.idOrganization)
        this.$nextTick(() => {
          this.$refs.editForm.init({id_organization: this.$store.getters.idOrganization, year: this.yearId, id_region: 1,});
          this.isLoading = false;
        });
      },
      async lockPoll() {
          this.$confirm('Дальнейшее редактирование будет невозможно! Продолжить?', 'Внимание', {
              confirmButtonText: 'Да',
              cancelButtonText: 'Нет',
              type: 'warning'
          }).then(() => {
              this.$store.dispatch('education/saveEntity', {
                  entityType: EDU_TYPE.GRADUATE_POLL, year: this.yearId, is_closed: 1
              });
              this.getList();
          });
      },
      async unlockPoll() {
          this.$confirm('Возобновить редактирование?', 'Внимание', {
              confirmButtonText: 'Да',
              cancelButtonText: 'Нет',
              type: 'warning'
          }).then(() => {
              this.$store.dispatch('education/saveEntity', {
                  entityType: EDU_TYPE.GRADUATE_POLL, year: this.yearId, is_closed: 0
              });
              this.getList();
          });
      },
      handleClose(done) {
          this.getList();
          done();
      },
      TableToXlsx(pvtId,name) {
            var tbl = document.getElementById(pvtId);
            var wb = XLSX.utils.table_to_book(tbl, { sheet: "Лист1" });
            XLSX.writeFile(wb, `${name}.xlsx`);
      },
      async handleSave(form) {

        function isInt(n){
              return Number(n) === n && n % 1 === 0;
        };

        if (!form.specialty && !form.workProf) {
              this.$message.error('Не указана профессия/специальность!');
              return;
        };

        if (!form.livingPlace && !form.idRegion && !form.countryRemark) {
              this.$message.error('Не указан регион/район/город проживания!');
              return;
        };

        const cities = [5, 11, 23, 25, 27];

        if (form.livingPlace && !form.livingCity && !cities.includes(form.livingPlace)) {
              this.$message.error('Не указан населенный пункт!');
              return;
        };

        if (!form.graduateMonth) {
              this.$message.error('Не указан месяц завершения обучения!');
              return;
        };

        if (!form.graduateCount) {
              this.$message.error('Не указано число выпускников!');
              return;
        };
        //проверяем отсутствие дублей в компетенциях
        let names = [];

        for (let i = 0; i < form.tableData.length; i++) {
            names.push(form.tableData[i].id_spo_comp);
        };

        const count = names =>
              names.reduce((a, b) => ({ ...a,
                  [b]: (a[b] || 0) + 1
        }), {});

        const duplicates = dict =>
              Object.keys(dict).filter((a) => dict[a] > 1)

        const double_name = duplicates(count(names));
        if (double_name.length) {
            this.$message.error(`Дублируются компетенции!`);
            return;
        };

        this.isLoading = true;
        if (!form.organisationId) {
          form.formId = form.organisationId = this.$store.state.user.userData.id_organization;
        };
        // save form

          //заводим новую запись в WorkProf
          if (!isInt(form.workProf)) {
              let res = await this.$store.dispatch('education/saveEntity', { entityType: EDU_TYPE.WORK_PROF,
                                                                       requestId: 0,
                                                                       form: {'name': form.workProf}});
              console.log(res);
              console.log(res.data.id);
              this.$store.dispatch('dictionary/initWorkProfList');
              form.workProf = res.data.id;
          };

        const res = await this.$store.dispatch('education/saveEntity', {
          form: form,
          entityType: EDU_TYPE.GRADUATE_EDU,
          requestId: form.formId?form.formId:0,
        });
        await this.$store.dispatch('education/saveEntity', {
          form: form,
          entityType: EDU_TYPE.GRADUATE_EDU_LINES,
          requestId: form.formId?form.formId:res.data.id,
        });

        this.isLoading = false;
        this.dialogVisible = false;
        this.getList();
      },
    },
    mounted() {
      if (this.$store.state.user.userData.role == this.roles.EDU_ORGANIZATION) {
          this.getList();
      }
    },
    watch:{
      yearId(){
          this.getList();
      },
      page(){
          this.getList();
      },
    },
  }
</script>
