<template>
  <el-form label-position="top" v-loading="isLoading">
    <el-switch
      v-model="form.isOvz"
      active-text="Программы проф.подготовки для лиц с ОВЗ"
      inactive-text="Программы СПО">
    </el-switch>
    <el-form-item label="Наименование организации" v-if="roles.EDU_ORGANIZATION != userRole">
      <el-input v-model="form.organisationName" readonly class="readonly"/>
    </el-form-item>

    <el-form-item label="Наименование профессии (специальности)" :rules="[{ required: true, message: 'age is required'}]" v-if="!isOvz">
      <el-select v-model="form.specialty"
                 placeholder="Выберите"
                 filterable>
        <el-option
          v-for="item in specialtySPOList"
          :key="item.id"
          :label="`${item.code} - ${item.name}`"
          :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>

    <el-form-item label="Наименование программы проф. подготовки" :rules="[{ required: true, message: 'age is required'}]" v-if="isOvz">
      <el-select v-model="form.workProf" placeholder="Выберите" filterable allow-create
                 remote :remote-method="workProfFilterHandler">
        <el-option
          v-for="item in workProfListFiltered"
          :key="item.id"
          :label="`${item.name}`"
          :value="item.id"
        >
        </el-option>
      </el-select>
    </el-form-item>

    <el-row :gutter="30">
      <el-col :xs="24" :sm="12">
        <el-switch
          v-model="form.isNSO"
          inactive-text="Другой регион"
          active-text="НСО">
        </el-switch>
      </el-col>
    </el-row>
    <el-row :gutter="30" v-if="isNSO">
      <el-col :xs="24" :sm="12">
        <el-form-item label="Район/город проживания" :rules="[{ required: true, message: 'age is required'}]">
          <el-select v-model="form.livingPlace" placeholder="Выберите район/город" filterable>
            <el-option
              v-for="item in districtList"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :xs="24" :sm="12">
        <el-form-item label="Населённый пункт">
          <el-select v-model="form.livingCity" placeholder="Выберите населённый пункт"
                     no-data-text="Выберите сначала район/город" filterable>
            <el-option
              v-for="item in livingCityList"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>

    <el-row :gutter="30" v-if="!isNSO">
      <el-col :xs="24" :sm="12">
        <el-form-item label="Регион проживания" :rules="[{ required: true, message: 'age is required'}]">
          <el-select v-model="form.idRegion" placeholder="Выберите регион РФ" filterable clearable>
            <el-option
              v-for="item in regionList"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :xs="24" :sm="12">
        <el-form-item label="Другое государство">
          <el-input v-model="form.countryRemark" placeholder="Выберите другое государство"/>
        </el-form-item>
      </el-col>
    </el-row>

    <el-row :gutter="30">
      <el-col :xs="24" :sm="12">
        <el-form-item label="Месяц завершения обучения" :rules="[{ required: true, message: 'age is required'}]">
          <el-select v-model="form.graduateMonth" placeholder="Выберите месяц" filterable>
            <el-option
              v-for="item in monthList"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :xs="24" :sm="12">
        <el-form-item label="Численность выпускников" :rules="[{ required: true, message: 'age is required'}]">
          <el-input v-model="form.graduateCount"/>
        </el-form-item>
      </el-col>
    </el-row>

    <h4>Компетенции</h4>
    <table class="el-table is-plain edu-table">
      <tr v-for="(entry, key) in form.tableData" :key="key">
        <td>
          <el-select v-model="entry.id_spo_comp" size="small"
                     placeholder="Выберите компетенцию" filterable style="width: 100%">
            <el-option
              v-for="item in competencesSPOList"
              :key="item.id"
              :label="`${item.name}`"
              :value="item.id">
            </el-option>
          </el-select>
        </td>
        <td style="width: 30px">
          <el-button type="danger" icon="el-icon-delete" circle size="small" @click="removeLine(key)"/>
        </td>
      </tr>
    </table>

    <el-button size="small" @click="addLine"><i class="el-icon-plus"/>Добавить строку</el-button>
    <br/>
    <br/>
    <el-popover
      placement="top-start"
      title="Дополнительная информация"
      trigger="hover"
      content="количество выпускников, являющихся участниками (победителями, призерами) региональных чемпионатов «Молодые профессионалы»;
               количество выпускников, являющихся участниками (победителями, призерами) региональных чемпионатов «Абилимпикс»;
               количество выпускников, являющихся участниками (победителями, призерами) региональных отборочных этапов Всероссийских олимпиад профессионального мастерства, а также  чемпионатов профессионального мастерства областного, межрегионального, федерального и международного уровней;
               количество выпускников, прошедших процедуру демонстрационного экзамена...">
    <el-form-item label="Дополнительная информация" slot="reference">
      <el-input v-model="form.addInf"/>
    </el-form-item>
    </el-popover>
    <el-form-item class="text-right">
      <el-button @click="close()">Отмена</el-button>
      <el-button @click="save()" type="primary">Сохранить</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  import FormModalMixin from "../../mixins/FormModalMixin";
  import { EDU_TYPE, ORGANIZATION_TYPE } from "../../interfaces/entities";
  import { USER_ROLE } from "../../interfaces/entities";

  export default {
    name: 'FormGraduateEdu',
    mixins: [FormModalMixin],
    data: () => ({
      isLoading: false,
      roles: USER_ROLE,
      form: {
        formId: '',
        organisationId: '',
        organisationName: '',
        specialty: '',
        workProf: '',
        isOvz: '',
        addInf: '',
        graduateCount: '',
        graduateMonth: '',
        livingPlace: '',
        livingCity: '',
        idRegion: '',
        countryRemark: '',
        year: '',
        isNSO: true,
        tableData: [],
      },
      //
      livingCityList: [],
      workProfListFiltered: [],
    }),
    computed: {
      monthList() {
        return this.$store.state.dictionary.lists.months;
      },
      livingPlaceSelected() {
        return this.form.livingPlace;
      },
      userRole() {
         return this.$store.state.user.userData.role;
      },
      isOvz() {
         return this.form.isOvz;
      },
      workProf(){
         return this.form.workProf;
      },
      isNSO() {
            return this.form.isNSO;
      },
      idRegion() {
            return this.form.idRegion;
      },
    },
    methods: {
      async init(data) {
        this.isLoading = true;
        this.form.organisationId = data.id_organization;
        this.form.organisationName = data.organization;
        this.form.specialty = data.id_okso;
        this.form.graduateCount = data.cnt;
        this.form.graduateMonth = data.month;
        this.form.livingPlace = data.id_mrigo;
        await this.getCityList();
        this.form.livingCity = data.id_punct;
        this.form.year = data.year;
        this.form.isOvz = data.is_ovz?true:false;
        this.form.addInf = data.add_inf;
        this.form.workProf = data.id_work_profs;
        this.form.idRegion = data.id_region;
        this.form.isNSO = data.id_region==1;
        this.form.countryRemark = data.country_remark;
        this.form.formId = data.id;
        this.form.tableData = [];

        if (data.id) {
          await this.getCityList();

          this.form.tableData = await this.$store.dispatch('education/getList',
            { entityType: EDU_TYPE.GRADUATE_EDU_LINES, id: data.id });
        }
        this.isLoading = false;
      },
      async getCityList() {
        if (this.form.livingPlace) {
          this.livingCityList = await this.$store.dispatch('dictionary/getCitiesByRegion',
            { region: this.form.livingPlace });
        }
      },
      addLine() {
        this.form.tableData.push({});
      },
      removeLine(index) {
        this.form.tableData.splice(index, 1);
      },
      //фильтрация WorkProf
      workProfFilterHandler(query) {
            this.workProfListFiltered = [];
            console.log(this.$store.state.dictionary.lists.workProf);
            console.log(query);
            if (query !== '' && query.length > 2) {
                const newList =
                    [...this.$store.state.dictionary.lists.workProf].filter((entry) => (entry.name.toLowerCase()).indexOf(query.toLowerCase()) !== -1);
                this.workProfListFiltered = newList.slice(0, 30);
            }
      },
    },
    watch: {
      async livingPlaceSelected() {
        this.form.livingCity = '';
        await this.getCityList();
      },
      workProf(){
          this.workProfListFiltered = [];
          this.workProfListFiltered = [...this.$store.state.dictionary.lists.workProf]
                  .filter((row) => {
                      return +row.id === +this.form.workProf;
                  });
      },
      isNSO(){
          if (this.form.isNSO){
              this.form.idRegion =1;
              this.form.countryRemark = '';
          }
          else{
              if (this.form.idRegion == 1)
                this.form.idRegion = '';
              this.form.livingCity = '';
              this.form.livingPlace = '';
          }
      },
      idRegion(){
        if (this.form.idRegion) {
            this.form.countryRemark = '';
        }
      },
    },
  }
</script>
