<template>
  <section class="item-list" v-loading="isLoading">
    <el-table
      empty-text="Данных нет"
      :data="tableData"
      style="width: 100%">
      <el-table-column
        prop="organization"
        label="Профессиональное образовательное учреждение">
      </el-table-column>
      <el-table-column
        prop="code"
        label="Код профессии (специальности)">
      </el-table-column>
      <el-table-column
        prop="proff_name"
        label="Наименование профессии (специальности)">
      </el-table-column>
      <el-table-column
        prop="cnt"
        label="Численность выпускников">
      </el-table-column>
      <el-table-column
        prop="graduate_date"
        label="Дата завершения обучения">
      </el-table-column>
      <el-table-column
        prop="living_before"
        label="Место жительства до поступления">
      </el-table-column>
      <el-table-column
        prop="advance"
        class-name="cell-small"
        label="Освоение дополнительных проф.компетенций (на выбор обучающихся)">
      </el-table-column>
    </el-table>

  </section>
</template>

<script>
  export default {
    name: 'GraduateSpoList',
    data: () => ({
      isLoading: false,
      tableData: [{
        organization: 'ГБ ПОУ НСО "Черепановский политехнический колледж"',
        code: '35.01.15',
        proff_name: 'Электромонтер по ремонту и обслуживанию электрооборудования',
        cnt: 3,
        graduate_date: 'июнь',
        living_before: 'Новосибирская область, Черепановский район, р.п. Посевная',
        advance: 'Электромонтер по ремонту и обслуживанию электрооборудования, водитель автомобиля категории "С"',
      }],
    }),
    computed: {},
    methods: {
      async getList() {
        this.isLoading = true;
        // this.tableData = await this.$store.dispatch('invest/getList', {});
        this.isLoading = false;
      },
    },
    mounted() {
      this.getList();
    }
  }
</script>
