<template>
  <section class="item-list" v-loading="isLoading">
    <el-button @click="getList" icon="el-icon-refresh" type="primary" size="small" round>Получить
    </el-button>

    <el-row :gutter="30" class="nav-filter">
      <el-col :xs="24" :sm="24" :md="8">
        <el-form label-width="100px">
          <el-form-item label="Год">
            <el-select class="width-full" filterable placeholder="Все года" v-model="sortYear">
              <el-option
                v-for="item in yearSelectList"
                :key="item.id"
                :label="`${item.name}`"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>

      </el-col>
    </el-row>

    <h3> </h3>
    <el-button @click="TableToXlsx('KCPListTBL4','Перечень поступивших заявок')"
               icon="el-icon-download" size="small" round>Excel
    </el-button>
    <el-table
      id="KCPListTBL4"
      empty-text="Данных нет"
      :data="tableLotRequest2"
      style="width: 100%">
      <el-table-column
        prop="rn"
        label="№ п/п">
      </el-table-column>
      <el-table-column
        prop="requests_num"
        label="Рег. номер конкурсной заявки">
      </el-table-column>
      <el-table-column
        prop="lot_numbers"
        label="№ лота на участие в конкурсе">
      </el-table-column>
      <el-table-column
        prop="organization"
        width="400"
        label="Образовательное учреждение">
      </el-table-column>
    </el-table>

    <h3> </h3>
    <el-button @click="TableToXlsx('KCPListTBL2','Результаты конкурса КЦП2')"
               icon="el-icon-download" size="small" round>Excel
    </el-button>
    <el-table
      id="KCPListTBL2"
      empty-text="Данных нет"
      :data="tableLotResult"
      style="width: 100%">
      <el-table-column
        prop="lot_number"
        label="№ лота">
      </el-table-column>
      <el-table-column
        prop="organization"
        width="300"
        label="Образовательное учреждение">
      </el-table-column>

      <el-table-column
        prop="value1"
        label="Пункт 1">
      </el-table-column>
      <el-table-column
        prop="r1"
        label="Оценка 1">
      </el-table-column>

      <el-table-column
        prop="value2"
        label="Пункт 2">
      </el-table-column>
      <el-table-column
        prop="r2"
        label="Оценка 2">
      </el-table-column>

      <el-table-column
        prop="value3"
        label="Пункт 3">
      </el-table-column>
      <el-table-column
        prop="r3"
        label="Оценка 3">
      </el-table-column>

      <el-table-column
        prop="value4"
        label="Пункт 4">
      </el-table-column>
      <el-table-column
        prop="r4"
        label="Оценка 4">
      </el-table-column>

      <el-table-column
        prop="value5"
        label="Пункт 5">
      </el-table-column>
      <el-table-column
        prop="r5"
        label="Оценка 5">
      </el-table-column>

      <el-table-column
        prop="total_r"
        label="Общая оценка">
      </el-table-column>
      <el-table-column
        prop="request_src_value"
        label="Предложения ОУ">
      </el-table-column>
      <el-table-column
        prop="result_value"
        label="Распределение КЦП">
      </el-table-column>
    </el-table>


    <h3> </h3>
    <el-button @click="TableToXlsx('KCPListTBL1','Результаты конкурса КЦП1')"
               icon="el-icon-download" size="small" round>Excel
    </el-button>
    <el-table
      id="KCPListTBL1"
      empty-text="Данных нет"
      :data="tableOksoResult"
      :span-method="objectSpanMethod1"
      style="width: 100%">
      <el-table-column
        prop="lot_number"
        label="№ лота">
      </el-table-column>
      <el-table-column
        prop="okso_name"
        width="400"
        label="Профессия или специальность среднего профессионального образования">
      </el-table-column>
      <el-table-column
        prop="organization"
        label="Образовательное учреждение">
      </el-table-column>
      <el-table-column
        prop="lot_value"
        label="Объемы КЦП">
      </el-table-column>
      <el-table-column
        prop="total_r"
        label="Рейтинг по конкурсному лоту">
      </el-table-column>
      <el-table-column
        prop="result_value"
        label="Распределение КЦП по образовательным организациям">
      </el-table-column>
      <el-table-column
        prop="total_result_value"
        label="Итого распределены КЦП по конкурсному лоту">
      </el-table-column>
    </el-table>

    <el-divider/>



    <h3> </h3>
    <el-button @click="TableToXlsx('KCPListTBL3','Результаты конкурса КЦП3')"
               icon="el-icon-download" size="small" round>Excel
    </el-button>
    <el-table
      id="KCPListTBL3"
      empty-text="Данных нет"
      :data="tableLotResult2"
      style="width: 100%">
      <el-table-column
        prop="organization"
        width="300"
        label="Образовательное учреждение">
      </el-table-column>
      <el-table-column
        prop="lot_number"
        label="№ лота">
      </el-table-column>
      <el-table-column
        prop="okso_name"
        width="400"
        label="Профессия или специальность среднего профессионального образования">
      </el-table-column>
      <el-table-column
        prop="request_src_value"
        label="Предложение ОУ">
      </el-table-column>
      <el-table-column
        prop="total_r"
        label="Общая оценка">
      </el-table-column>
      <el-table-column
        prop="result_value"
        label="Распределение КЦП">
      </el-table-column>
    </el-table>

  </section>
</template>

<script>
  import { LOT } from "../../interfaces/entities";
  import XLSX from 'xlsx';

  export default {
    name: 'KcpList',
    data: () => ({
      isLoading: false,
      sortYear: 2021,
      tableOksoResult: [],
      tableLotResult: [],
      tableLotResult2: [],
      tableLotRequest2: [],
    }),
    computed: {
      yearSelectList() {
        let res = [];
        for (let i = 0; i <= 5; i++) {
          let year = new Date().getFullYear() + i;
          res.push({ id: year, name: year });
        }
        return res;
      },
    },
    methods: {
      async getList() {
        this.isLoading = true;
        this.tableOksoResult = await this.$store.dispatch('lot/getList', {
          entityType: LOT.KCP_OKSO_RESULT,
          year: this.sortYear,
        });
        this.tableLotResult = await this.$store.dispatch('lot/getList', {
          entityType: LOT.KCP_LOT_RESULT,
          year: this.sortYear,
        });
        this.tableLotResult2 = await this.$store.dispatch('lot/getList', {
          entityType: LOT.KCP_LOT_RESULT2,
          year: this.sortYear,
        });
        this.tableLotRequest2 = await this.$store.dispatch('lot/getList', {
              entityType: LOT.KCP_LOT_REQUEST2,
              year: this.sortYear,
        });
        this.isLoading = false;
      },
      objectSpanMethod1({ row, column, rowIndex, columnIndex }) {
          if (columnIndex === 0 || columnIndex === 1 || columnIndex === 3 || columnIndex === 6) {
              if (row.total_r === 1) {
                  return {
                      rowspan: row.total_cnt,
                      colspan: 1
                  };
              } else {
                  return {
                      rowspan: 0,
                      colspan: 0
                  };
              }
          }
      },
      TableToXlsx(pvtId,name) {
          var tbl = document.getElementById(pvtId);
          var wb = XLSX.utils.table_to_book(tbl, { sheet: "Лист1" });
          XLSX.writeFile(wb, `${name}.xlsx`);
      },
    },
    mounted() {
      this.sortYear = new Date().getFullYear();
      this.getList();
    },
    watch: {
      sortYear() {
        this.getList();
      },
    },
  }
</script>
