<template>
  <el-form label-position="top">

    <el-form-item label="Образовательная организация" v-if="!isNew">
      <el-input v-model="form.organization" class="readonly" placeholder="Образовательная организация" readonly/>
    </el-form-item>

    <el-form-item label="Образовательная организация" v-else>
      <el-select v-model="form.organizationId" placeholder="Образовательная организация" filterable>
        <el-option
            v-for="item in spoOrgsList"
            :key="item.id"
            :label="`${item.name}`"
            :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>

    <el-row :gutter="30">
      <el-col :xs="24" :sm="12">
        <el-form-item label="Номер заявки">
          <el-input v-model="form.requestNum" placeholder="Номер заявки"/>
        </el-form-item>
      </el-col>
      <el-col :xs="24" :sm="12">
        <el-form-item label="Состояние заявки">
          <el-select v-model="form.requestStatus" filterable placeholder="Выберите">
            <el-option
              v-for="item in requestKCPStatusList"
              :key="item.id"
              :label="`${item.name}`"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>

    <div v-if="!isNew">

      <div class="table-scrollable-container">

        <table class="el-table is-plain">
          <thead>
            <tr>
              <th>Профессия или специальность среднего профессионального образования</th>
              <th>Запрашиваемый объем КЦП</th>
              <th>Запрашиваемый объем КЦП, для ОВЗ</th>
<!--              <th>Показатель №1</th>-->
<!--              <th>Показатель №2</th>-->
<!--              <th>Показатель №3</th>-->
<!--              <th>Показатель №4</th>-->
<!--              <th>Показатель №5</th>-->
<!--              <th>&nbsp;</th>-->
            </tr>
          </thead>
          <tr v-for="(entry, key) in kcpRequestParamsOKSO" :key="key">
            <td>
              <select class="el-select-simple small" v-model="entry.id_okso" size="small" placeholder="Выберите" filterable style="width:300px">
                <option
                    v-for="item in organizationsKCPList"
                    :key="item.id"
                    :label="`${item.code} - ${item.name}`"
                    :value="item.id">
                </option>
              </select>
            </td>
            <td>
              <el-input v-model="entry.request_value" placeholder="Запрашиваемые КЦП" type="number"/>
            </td>
            <td>
            <el-input v-model="entry.requested_ovz" placeholder="Запрашиваемые КЦП для ОВЗ" type="number"/>
            </td>
<!--            <td><el-input v-model="entry.value1" placeholder="Показатель №1" type="number"/></td>-->
<!--            <td><el-input v-model="entry.value2" placeholder="Показатель №2" type="number"/></td>-->
<!--            <td><el-input v-model="entry.value3" placeholder="Показатель №3" type="number"/></td>-->
<!--            <td><el-input v-model="entry.value4" placeholder="Показатель №4" type="number"/></td>-->
<!--            <td><el-input v-model="entry.value5" placeholder="Показатель №5" type="number"/></td>-->
<!--            <td><el-button type="danger" icon="el-icon-delete" circle size="small" @click="removeLineOKSO(key)"/></td>-->
          </tr>
        </table>
        <section>
          <el-tabs type="card">
            <el-tab-pane label="Форма 1">
              <table class="el-table is-plain">
                <thead>
                <tr>
                  <th rowspan="2">№ п/п</th>
                  <th rowspan="2">Наименование показателя</th>
                  <th rowspan="2">Единица измерения</th>
                  <th colspan="3">Значение показателя</th>
                </tr>
                <tr>
                  <th>Год </th>
                  <th>Год </th>
                  <th>Год </th>
                </tr>
                </thead>
                <tr v-for="(entry, key) in kcpRequestSrc1" :key="key">
                  <td>{{entry.ord_num}}.{{entry.ord_num2}}</td>
                  <td>{{entry.name}}</td>
                  <td>{{entry.unit}}</td>
                  <td><el-input v-model="entry.val11" placeholder="Значение1" type="number"/></td>
                  <td><el-input v-model="entry.val21" placeholder="Значение2" type="number"/></td>
                  <td><el-input v-model="entry.val31" placeholder="Значение3" type="number"/></td>
                </tr>
              </table>
            </el-tab-pane>
            <el-tab-pane label="Форма 2">
              <table class="el-table is-plain">
                <thead>
                <tr>
                  <th rowspan="2">№ п/п</th>
                  <th rowspan="2">Наименование показателя</th>
                  <th rowspan="2">Единица измерения</th>
                  <th colspan="3">Значение показателя</th>
                </tr>
                <tr>
                  <th>Год </th>
                  <th>Год </th>
                  <th>Год </th>
                </tr>
                </thead>
                <tr v-for="(entry, key) in kcpRequestSrc2" :key="key">
                  <td>{{entry.ord_num}}.{{entry.ord_num2}}</td>
                  <td>{{entry.name}}</td>
                  <td>{{entry.unit}}</td>
                  <td><el-input v-model="entry.val11" placeholder="Значение1" type="number"/></td>
                  <td><el-input v-model="entry.val21" placeholder="Значение2" type="number"/></td>
                  <td><el-input v-model="entry.val31" placeholder="Значение3" type="number"/></td>
                </tr>
              </table>
            </el-tab-pane>
          </el-tabs>
        </section>

<!--        <el-button size="small" @click="addNewRequestParamOKSOLine"><i class="el-icon-plus"/>Добавить запись</el-button>-->

      </div>
    </div>

    <el-form-item class="text-right">
      <el-button @click="close()">Отмена</el-button>
      <el-button @click="save()" type="primary">Сохранить</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  import FormModalMixin from "../../mixins/FormModalMixin";
  import { LOT } from "../../interfaces/entities";

  export default {
    name: 'LotKCP',
    mixins: [FormModalMixin],
    data: () => ({
      isLoading: false,
      form: {
        organization: '',
        organizationId: '',
        requestNum: '',
        requestStatus: '',
        yearFor: '',
        id: '',
      },
      isNew: false,

      kcpRequestParams: [],
      kcpRequestParamsOKSO: [],
      kcpRequestSrc1: [],
      kcpRequestSrc2: [],
    }),
    computed: {},
    mounted() {
    },
    methods: {
      async init(data) { // public external function
        this.isNew = data.__type === 'new';
        this.isLoading = true;
        this.form.organization = data.organization;
        this.form.organizationId = data.id_organization;
        this.form.requestNum = data.request_num;
        this.form.requestStatus = data.id_kcp_request_status;
        this.form.yearFor = data.year_for;
        this.form.id = data.id;

        this.kcpRequestParams = await this.$store.dispatch('lot/getList',
          {entityType: LOT.KCP_LOT_REQUEST_PARAMS, tabId: data.id});

        this.kcpRequestParamsOKSO = await this.$store.dispatch('lot/getList',
          {entityType: LOT.KCP_LOT_REQUEST_PARAMS_OKSO, tabId: data.id});

        this.kcpRequestSrc1 = await this.$store.dispatch('lot/getList',
          {entityType: LOT.KCP_LOT_REQUEST_SRC, tabId: data.id, page: 1});

        this.kcpRequestSrc2 = await this.$store.dispatch('lot/getList',
          {entityType: LOT.KCP_LOT_REQUEST_SRC, tabId: data.id, page: 2});

        this.isLoading = false;
      },

      addNewRequestParamLine() {
        this.kcpRequestParams.push({});
      },

      removeLine(index) {
        this.kcpRequestParams.splice(index, 1);
      },

      addNewRequestParamOKSOLine() {
        this.kcpRequestParamsOKSO.push({});
      },

      removeLineOKSO(index) {
        this.kcpRequestParamsOKSO.splice(index, 1);
      },

      // @override FormModalMixin save() function
      save() {
        this.$emit('save', {
          form: this.form,
          params: this.kcpRequestParams,
          params_okso: this.kcpRequestParamsOKSO,
          kcp_src1: this.kcpRequestSrc1,
          kcp_src2: this.kcpRequestSrc2,
          is_new: this.isNew,
        });
      },
    },
  }
</script>
