<template>
  <section class="item-list" v-loading="isLoading">

    <el-row :gutter="30" class="nav-filter">
      <el-col :xs="24" :sm="24" :md="8">
        <el-form label-width="100px">
          <el-form-item label="Год">
            <el-select class="width-full" filterable placeholder="Все года" v-model="sortYear">
              <el-option
                v-for="item in yearSelectList"
                :key="item.id"
                :label="`${item.name}`"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>

    <el-table
      empty-text="Данных нет"
      :data="tableKCPRequestList"
      :span-method="objectSpanMethod"
      style="width: 100%">
      <el-table-column
        prop="organization"
        label="Образовательное учреждение">
      </el-table-column>
      <el-table-column
        prop="request_num"
        label="№ заявки">
      </el-table-column>
      <el-table-column
        prop="code"
        label="Специальность/Профессия">
      </el-table-column>
      <el-table-column
        prop="request_value"
        label="Запрашиваемые КЦП">
      </el-table-column>
      <el-table-column
        prop="status"
        label="Статус заявки">
      </el-table-column>
      <el-table-column
            fixed="right"
            label="Переход в форму"
            width="120">
        <template slot-scope="scope">
          <el-link @click="handleClick(scope.row)" icon="el-icon-edit">Форма</el-link>
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="Печать"
        width="120">
        <template slot-scope="scope">
          <el-link @click="handlePrint(scope.row)" icon="el-icon-print">Печать</el-link>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog
        title="Заявка на выделение КЦП"
        :closeOnClickModal=false
        :visible.sync="dialogVisible"
        :before-close="handleClose"
        fullscreen
    >
      <k-c-p-request ref="editForm" @save="handleSave" @close="dialogVisible = false"/>
    </el-dialog>

    <br/>
    <el-button size="small" @click="handleClick({ year_for: sortYear, __type: 'new' })"><i class="el-icon-plus"/>Добавить заявку</el-button>
    <el-form v-if="false">
      <el-form-item>
        <el-tabs>
          <el-tab-pane label="Загрузка файла с данными">
            <el-row :gutter="20">
              <el-col :span="12">
                <el-upload
                  class="upload-demo"
                  action="../posts/"
                  :auto-upload="false"
                  :file-list="form.fileList"
                  :on-change="handleChangeFL"
                  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                  <el-button size="small" slot="trigger" type="primary">Выбрать</el-button>

                  <div slot="tip" class="el-upload__tip"></div>
                  <el-button v-if="form.fileList.length" size="small" type="primary" @click="upload()">Загрузить</el-button>
                </el-upload>
              </el-col>
            </el-row>
          </el-tab-pane>
        </el-tabs>
      </el-form-item>
    </el-form>

  </section>
</template>

<script>
  import { LOT } from "../../interfaces/entities";
  import KCPRequest from "./KCPRequest";

  export default {
    name: 'KCPRequestList',
    components: {KCPRequest},
    data: () => ({
      isLoading: false,
      dialogVisible: false,
      sortYear: 2021,
      form:{
            fileList: [],

       },
      tableKCPRequestList: [],
    }),
    computed: {
      yearSelectList() {
        let res = [];
        for (let i = 0; i <= 5; i++) {
          let year = new Date().getFullYear() + i;
          res.push({ id: year, name: year });
        }
        return res;
      },
      fileList(){
         return this.form.fileList;
      },
    },
    methods: {
      async getList() {
        this.isLoading = true;

        this.tableKCPRequestList = await this.$store.dispatch('lot/getList', {
          entityType: LOT.KCP_LOT_REQUEST,
          year: this.sortYear,
        });
        this.isLoading = false;
      },
      handleChangeFL(file, fileList) {
            this.form.fileList = fileList.slice(-1);
      },
      async upload(){
            this.isLoading = true;
            const response =  await this.$store.dispatch('lot/saveFile',
                { entityType: LOT.KCP_LOT_REQUEST ,
                    year: this.sortYear,
                    file: this.form.fileList[0].raw
                });
            this.getList();
            this.form.fileList = [];
            this.isLoading = false;
      },
      handleClick(row) {
        this.isLoading = true;
        this.dialogVisible = true;
        this.$nextTick(() => {
          this.$refs.editForm.init(row);
          this.isLoading = false;
        });
      },
      async handlePrint(row) {
          this.isLoading = true;
          const response = await this.$store.dispatch('lot/getDownloadKcpRequest', {
              tabId:  row.id
          });
          // Download to client
          let link = document.createElement('a');
          link.href = response.data;
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
          this.isLoading = false;
      },
      handleClose(done) {
        done();
      },
      async handleSave({form, params, params_okso, kcp_src1, kcp_src2, is_new}) {
        console.log('HandleSave', form);
        this.isLoading = true;

        let saveResult = await this.$store.dispatch('lot/saveEntity', {
          form: form,
          entityType: LOT.KCP_LOT_REQUEST,
          id: (form.id !== undefined ? form.id : 0),
        });
        await this.$store.dispatch('lot/saveEntity', {
          form: params,
          entityType: LOT.KCP_LOT_REQUEST_PARAMS,
          id: (form.id !== undefined ? form.id : 0),
        });
        await this.$store.dispatch('lot/saveEntity', {
          form: params_okso,
          entityType: LOT.KCP_LOT_REQUEST_PARAMS_OKSO,
          id: (form.id !== undefined ? form.id : 0),
        });

        await this.$store.dispatch('lot/saveEntity', {
              form: kcp_src1,
              entityType: LOT.KCP_LOT_REQUEST_SRC,
              id: (form.id !== undefined ? form.id : 0),
        });

          await this.$store.dispatch('lot/saveEntity', {
              form: kcp_src2,
              entityType: LOT.KCP_LOT_REQUEST_SRC,
              id: (form.id !== undefined ? form.id : 0),
          });

        this.isLoading = false;
        this.dialogVisible = false;
        this.getList();

        if (is_new) {
          if (saveResult.data.id !== undefined) {
            let savedEntity = await this.$store.dispatch('lot/getList', {
              entityType: LOT.KCP_LOT_REQUEST_ONE,
              tabId: saveResult.data.id,
            });
            //переоткрываем сохраненную
            this.handleClick(savedEntity);
          }
        }
      },
      objectSpanMethod({ row, column, rowIndex, columnIndex }) {
            if (columnIndex === 0 || columnIndex === 1) {
                if (row.is_first === 1) {
                    return {
                        rowspan: row.rowspan,
                        colspan: 1
                    };
                } else {
                    return {
                        rowspan: 0,
                        colspan: 0
                    };
                }
            }
      },
    },
    mounted() {
      //2019 or 2020 ?
      this.sortYear = new Date().getFullYear()-1;
      this.getList();
    },
    watch: {
      sortYear() {
        this.getList();
      },
    },
  }
</script>
