<template>
  <section class="item-list" v-loading="isLoading">

    <el-row :gutter="30" class="nav-filter">
      <el-col :xs="24" :sm="24" :md="8">
        <el-form label-width="100px">
          <el-form-item label="Год">
            <el-select class="width-full" filterable placeholder="Все года" v-model="sortYear">
              <el-option
                v-for="item in yearSelectList"
                :key="item.id"
                :label="`${item.name}`"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <el-button @click="processLots" icon="el-icon-refresh" type="primary" size="small" round>Переформировать
    </el-button>
    <el-table
      empty-text="Данных нет"
      :data="tableLotList"
      style="width: 100%">
      <el-table-column
        prop="lot_number"
        width="100px"
        label="№ лота">
      </el-table-column>
      <el-table-column
        prop="okso"
        label="Профессия или специальность среднего профессионального образования">
      </el-table-column>
      <el-table-column
        prop="src_value"
        width="200px"
        label="Объем КЦП исходный">
      </el-table-column>
      <el-table-column
        prop="total_value"
        width="200px"
        label="Объем КЦП, скорректированный">
      </el-table-column>
      <el-table-column
        prop="ovz_value"
        width="200px"
        label="Объем КЦП, в.т.ч. для ОВЗ">
      </el-table-column>
      <el-table-column
              fixed="right"
              label="Действия"
              width="120">
        <template slot-scope="scope">
          <el-link @click="handleClick(scope.row)" icon="el-icon-edit">Изменить</el-link>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog
      title="Лот КЦП"
      :closeOnClickModal=false
      :visible.sync="dialogVisible"
      :before-close="handleClose"
      width="900px"
    >
      <lot-k-c-p ref="editForm" @save="handleSave" @close="dialogVisible = false"/>
    </el-dialog>

    <br/>
    <el-button size="small" @click="handleClick({ year_for: sortYear })"><i class="el-icon-plus"/>Добавить лот</el-button>
  </section>
</template>

<script>
  import { LOT } from "../../interfaces/entities";
  import LotKCP from "./LotKCP";

  export default {
    name: 'LotKCPList',
    components: {LotKCP},
    data: () => ({
      isLoading: false,
      dialogVisible: false,
      sortYear: 2021,
      tableLotList: [],
    }),
    computed: {
      yearSelectList() {
        let res = [];
        for (let i = 0; i <= 5; i++) {
          let year = new Date().getFullYear() + i;
          res.push({ id: year, name: year });
        }
        return res;
      }
    },
    methods: {
      async getList() {
        this.isLoading = true;

        this.tableLotList = await this.$store.dispatch('lot/getList', {
          entityType: LOT.KCP_LOT_LIST,
          year: this.sortYear,
        });
        this.isLoading = false;
      },
      handleClick(row) {
        this.isLoading = true;
        this.dialogVisible = true;
        this.$nextTick(() => {
          this.$refs.editForm.init(row);
          this.isLoading = false;
        });
      },
      handleClose(done) {
        done();
      },
      async handleSave({form}) {
        console.log('HandleSave', form);
        this.isLoading = true;
        await this.$store.dispatch('lot/saveEntity', {
          form: form,
          entityType: LOT.KCP_LOT_LIST,
          id: (form.id !== undefined ? form.id : 0),
        });
        this.isLoading = false;
        this.dialogVisible = false;
        this.getList();
      },
      async processLots() {
            console.log('processLots', this.sortYear);
            this.isLoading = true;
            await this.$store.dispatch('lot/makeAction', {
                entityType: LOT.KCP_LOT_PROCESS,
                year: this.sortYear,
            });
            this.isLoading = false;
            this.getList();
      },

    },

    mounted() {
      //2019 or 2020 ?
      //this.sortYear = new Date().getFullYear();
      this.getList();
    },
    watch: {
      sortYear() {
        this.getList();
      },
    },
  }
</script>
