<template>
  <el-form label-position="top">

    <el-form-item label="Номер лота">
      <el-input v-model="form.lotNumber" placeholder="Номер лота"/>
    </el-form-item>

    <el-form-item label="Специальность" v-if="false">
      <el-select v-model="form.specialty" placeholder="Код и наименование специальности / профессии">
        <el-option
                v-for="item in specialtyKCPList"
                :key="item.id"
                :label="`${item.code} - ${item.name}`"
                :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="Объем КЦП, исходный">
      <el-input v-model="form.srcValue" placeholder="Объем КЦП, исходный" readonly="true"/>
    </el-form-item>
    <el-form-item label="Объем КЦП">
      <el-input v-model="form.totalValue" placeholder="Объем КЦП"/>
    </el-form-item>

    <el-form-item label="Объем КЦП, в.т.ч. для ОВЗ">
      <el-input v-model="form.ovzValue" placeholder="Объем КЦП, для ОВЗ"/>
    </el-form-item>

    <el-form-item class="text-right">
      <el-button @click="close()">Отмена</el-button>
      <el-button @click="save()" type="primary">Сохранить</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  import FormModalMixin from "../../mixins/FormModalMixin";

  export default {
    name: 'LotKCP',
    mixins: [FormModalMixin],
    data: () => ({
      isLoading: false,
      form: {
        lotNumber: '',
        specialty: '',
        totalValue: '',
        ovzValue: '',
        srcValue: '',
        year: '',
        yearFor: '',
        id: '',
      },
    }),
    computed: {
    },
    mounted() {
    },
    methods: {
      async init(data) { // public external function
        this.isLoading = true;
        this.form.lotNumber = data.lot_number;
        this.form.specialty = data.id_okso;
        this.form.totalValue = data.total_value;
        this.form.ovzValue = data.ovz_value;
        this.form.srcValue = data.src_value;
        this.form.year = data.year; // ?????
        this.form.yearFor = data.year_for;
        this.form.id = data.id;
        this.isLoading = false;

        console.log('INIT',this.form);
      },
      // @override FormModalMixin save() function
      save() {
        this.$emit('save', {
          form: this.form
        });
      },
    },
  }
</script>
