<template>


  <section class="item-list">

    <el-alert v-if="isLoading"
              title="Загрузка..."
              description="Для формирования сводного отчета нужно некоторое время"
              type="info" :closable="false">
    </el-alert>
    <el-button @click="PivotToXlsx('pvtKCPTable0')"
               icon="el-icon-download" size="small" round>Excel
    </el-button>
    <div class="table-scrollable-container" v-loading="isLoading">
      <vue-pivottable-ui id="pvtKCPTable0"
                         :aggregatorName="pivotData.aggregatorName"
                         :cols="pivotData.cols"
                         :data="pivotData.data"
                         :disabledFromDragDrop="pivotData.disabledFromDragDrop"
                         :hiddenFromDragDrop="pivotData.hiddenFromDragDrop"
                         :rendererName="pivotData.rendererName"
                         :rows="pivotData.rows"
                         :vals="pivotData.vals"
      >
      </vue-pivottable-ui>
    </div>

  </section>
</template>

<script>
    import { LOT } from "../../interfaces/entities";
    import Vue from 'vue'
    import VuePivottable from 'vue-pivottable'
    import 'vue-pivottable/dist/vue-pivottable.css'
    import XLSX from 'xlsx';

    Vue.use(VuePivottable);

    export default {
        name: 'LotKcpSummary',
        data: () => ({
            isLoading: false,
            pivotData: {
                data: [],
                cols: [],
                rows: [],
                vals: [],
                disabledFromDragDrop: [],
                hiddenFromDragDrop: [],
                aggregatorName: '',
                rendererName: '',
            },
        }),
        methods: {
            async getData() {
                this.isLoading = true;
                const response = await this.$store.dispatch('lot/getList', { entityType: LOT.PIVOT_PROGNOZ_KCP, scenarioId: 1});
                this.pivotData = {
                    ...response.data,
                };
                this.isLoading = false;
            },
            PivotToXlsx(pvtId) {
                var pvt = document.getElementById(pvtId)
                var pvtTb = pvt.getElementsByClassName('pvtTable')[0];
                var wb = XLSX.utils.table_to_book(pvtTb, { sheet: "Прогноз КЦП" });
                XLSX.writeFile(wb, 'KCPPrognoz.xlsx');
            },
        },
        mounted() {
            //this.getData();
        },
    }
</script>

<style>
  .table-scrollable-container {
    min-height: 300px;
  }
</style>

