<template>
  <section class="item-list">
    <el-form>
      <el-row>
        <el-col :span="4">
          <el-form-item>
          <el-switch
            v-model="one_year"
            active-text="Подробно по году"
            inactive-text="Все года">
          </el-switch>
          </el-form-item>
        </el-col>
        <el-col :span="2" v-if="one_year">
          <el-form-item>
          <el-select filterable v-model="sortYear">
             <el-option
                v-for="item in yearSelectList"
                :key="item.id"
                :label="`${item.name}`"
                :value="item.id">
              </el-option>
         </el-select>
         </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="5">
          <el-form-item>
            <el-select class="width-full" filterable placeholder="Выберите из списка" v-model="scenarioId">
              <el-option
                v-for="item in scenarioList"
                :key="item.id"
                :label="`${item.name}`"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="3">
          <el-form-item>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <el-button @click="handleClickOnUpdate" icon="el-icon-refresh" type="primary" size="small" round>Получить</el-button>
          </el-form-item>
        </el-col>
        <el-col :span="3">
          <el-form-item>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <el-button @click="handleClickOnProcess" icon="el-icon-refresh" type="primary" size="small" round>Расчитать</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-alert v-if="isLoading"
              title="Загрузка..."
              description="Для формирования сводного отчета нужно некоторое время"
              type="info" :closable="false">
    </el-alert>
    <h3>Потребность в подготовке по направлениям, специальностям профессиям</h3>
    <div class="table-scrollable-container" v-loading="isLoading">
      <el-button @click="PivotToXlsx('pvtTableOKSO0')"
                 icon="el-icon-download" size="small" round>Excel
      </el-button>
      <vue-pivottable-ui id="pvtTableOKSO0"
                         v-if="pivotData.data.length > 0"
                         :aggregatorName="pivotData.aggregatorName"
                         :cols="pivotData.cols"
                         :data="pivotData.data"
                         :disabledFromDragDrop="pivotData.disabledFromDragDrop"
                         :hiddenFromDragDrop="pivotData.hiddenFromDragDrop"
                         :rendererName="pivotData.rendererName"
                         :rows="pivotData.rows"
                         :vals="pivotData.vals"
      >
      </vue-pivottable-ui>
    </div>

    <h3>Потребность в подготовке по рабочим профессиям</h3>
    <div class="table-scrollable-container" v-loading="isLoading">
      <el-button @click="PivotToXlsx('pvtTableWP')"
                 icon="el-icon-download" size="small" round>Excel
      </el-button>
      <vue-pivottable-ui id="pvtTableWP"
                         v-if="pivotData2.data.length > 0"
                         :aggregatorName="pivotData2.aggregatorName"
                         :cols="pivotData2.cols"
                         :data="pivotData2.data"
                         :disabledFromDragDrop="pivotData2.disabledFromDragDrop"
                         :hiddenFromDragDrop="pivotData2.hiddenFromDragDrop"
                         :rendererName="pivotData2.rendererName"
                         :rows="pivotData2.rows"
                         :vals="pivotData2.vals"
      >
      </vue-pivottable-ui>
    </div>
  </section>
</template>

<script>
  import { LOT } from "../../interfaces/entities";
  import XLSX from 'xlsx';
  import Vue from 'vue'

  import VuePivottable from '../../plugins/vue-pivottable/src/index'
  import '../../plugins/vue-pivottable/dist/vue-pivottable.css'

  Vue.use(VuePivottable);

  export default {
    name: 'OksoSummary',
    data: () => ({
      isLoading: false,
      sortYear: 2020,
      one_year: 1,
      scenarioId: 1,
      pivotData: {
        data: [],
        cols: [],
        rows: [],
        vals: [],
        disabledFromDragDrop: [],
        hiddenFromDragDrop: [],
        aggregatorName: '',
        rendererName: '',
      },
      pivotData2: {
            data: [],
            cols: [],
            rows: [],
            vals: [],
            disabledFromDragDrop: [],
            hiddenFromDragDrop: [],
            aggregatorName: '',
            rendererName: '',
      },
    }),
    computed: {
          yearSelectList() {
              let res = [];
              for (let i = 0; i <= 8; i++) {
                  let year = new Date().getFullYear() + i;
                  res.push({ id: year, name: year });
              }
              return res;
          },
          scenarioList() {
                return this.$store.state.lot.lists.scenario;
          },
    },
    methods: {
      async getData() {
        this.isLoading = true;
        //TODO: выбор сценария
        const response = await this.$store.dispatch('lot/getList', { entityType: LOT.PIVOT_PROGNOZ_UGSN ,
                                                                     scenarioId: this.scenarioId,
                                                                     year: this.one_year?this.sortYear:null});
        this.pivotData = {
          ...response.data,
        };
        const response2 = await this.$store.dispatch('lot/getList', { entityType: LOT.PIVOT_PROGNOZ_WP ,
                                                                      scenarioId: this.scenarioId,
                                                                      year: this.one_year?this.sortYear:null});
          this.pivotData2 = {
              ...response2.data,
        };
        this.isLoading = false;
      },
      PivotToXlsx(pvtId) {
        var pvt = document.getElementById(pvtId)
        var pvtTb = pvt.getElementsByClassName('pvtTable')[0];
        var wb = XLSX.utils.table_to_book(pvtTb, { sheet: "Прогноз" });
        XLSX.writeFile(wb, 'UGSNPrognoz.xlsx');
      },
      async  handleClickOnUpdate(){
          this.getData();
      },
      async  handleClickOnProcess(){
        const response = await this.$store.dispatch('lot/getList', { entityType: LOT.PROCESS_UGSN });
      },
    },
    mounted() {

    },

  }
</script>

<style>
  .table-scrollable-container {
    min-height: 300px;
  }
</style>
