<template>


  <section class="item-list">

    <el-alert v-if="isLoading"
              title="Загрузка..."
              description="Для формирования сводного отчета нужно некоторое время"
              type="info" :closable="false">
    </el-alert>
    <h3>Результаты опроса школьников</h3>
    <div class="table-scrollable-container" v-loading="isLoading">
      <el-button @click="PivotToXlsx('PollScoolPvtTable0')"
                 icon="el-icon-download" size="small" round>Excel
      </el-button>
      <vue-pivottable-ui v-if="pivotData2.data.length"  id="PollScoolPvtTable0"
                         :aggregatorName="pivotData2.aggregatorName"
                         :cols="pivotData2.cols"
                         :data="pivotData2.data"
                         :disabledFromDragDrop="pivotData2.disabledFromDragDrop"
                         :hiddenFromDragDrop="pivotData2.hiddenFromDragDrop"
                         :rendererName="pivotData2.rendererName"
                         :rows="pivotData2.rows"
                         :vals="pivotData2.vals"
      >
      </vue-pivottable-ui>
    </div>
    <h3>Результаты опроса студентов ВПО и СПО</h3>
    <div class="table-scrollable-container" v-loading="isLoading">
      <el-button @click="PivotToXlsx('PollSpoPvtTable1')"
                 icon="el-icon-download" size="small" round>Excel
      </el-button>
      <vue-pivottable-ui v-if="pivotData.data.length > 0" id="PollSpoPvtTable1"
                         :aggregatorName="pivotData.aggregatorName"
                         :cols="pivotData.cols"
                         :data="pivotData.data"
                         :disabledFromDragDrop="pivotData.disabledFromDragDrop"
                         :hiddenFromDragDrop="pivotData.hiddenFromDragDrop"
                         :rendererName="pivotData.rendererName"
                         :rows="pivotData.rows"
                         :vals="pivotData.vals"
      >
      </vue-pivottable-ui>
    </div>

  </section>
</template>

<script>
  import { LOT } from "../../interfaces/entities";
  import Vue from 'vue'
  import VuePivottable from 'vue-pivottable'
  import 'vue-pivottable/dist/vue-pivottable.css'
  import XLSX from 'xlsx';

  Vue.use(VuePivottable);

  export default {
    name: 'PollVoSpoSummary',
    data: () => ({
      isLoading: false,
      pivotData: {
        data: [],
        cols: [],
        rows: [],
        vals: [],
        disabledFromDragDrop: [],
        hiddenFromDragDrop: [],
        aggregatorName: '',
        rendererName: '',
      },
        pivotData2: {
            data: [],
            cols: [],
            rows: [],
            vals: [],
            disabledFromDragDrop: [],
            hiddenFromDragDrop: [],
            aggregatorName: '',
            rendererName: '',
        },
    }),
    methods: {
      async getData() {
        this.isLoading = true;
        const response = await this.$store.dispatch('lot/getList', { entityType: LOT.POLL_VOSPO_PIVOT });
        this.pivotData = {
          ...response.data,
        };
          const response2 = await this.$store.dispatch('lot/getList', { entityType: LOT.POLL_SCHOOL_PIVOT });
          this.pivotData2 = {
              ...response2.data,
          };
        this.isLoading = false;
      },
      PivotToXlsx(pvtId) {
            var pvt = document.getElementById(pvtId)
            var pvtTb = pvt.getElementsByClassName('pvtTable')[0];
            var wb = XLSX.utils.table_to_book(pvtTb, { sheet: "Сводный отчет" });
            XLSX.writeFile(wb, 'Результаты опроса.xlsx');
      },
    },

    mounted() {
      this.getData();
    },
  }
</script>

<style>
  .table-scrollable-container {
    min-height: 300px;
  }
</style>
