<template>
  <section class="item-list" v-loading="isLoading">
    <h2>Сбор данных о кадровой потребности</h2>

    <el-row :gutter="30" class="nav-filter">
      <el-col :xs="24" :sm="12" :md="6">
        <el-select class="width-full" filterable placeholder="Все районы" v-model="sortRegion">
          <el-option
            v-for="item in districtSelectList"
            :key="item.id"
            :label="`${item.name}`"
            :value="item.id">
          </el-option>
        </el-select>
      </el-col>
      <el-col :xs="24" :sm="12" :md="6">
        <el-select class="width-full" filterable placeholder="Все года" v-model="sortYear">
          <el-option
            v-for="item in yearSelectList"
            :key="item.id"
            :label="`${item.name}`"
            :value="item.id">
          </el-option>
        </el-select>
      </el-col>
    </el-row>

    <!--Для мин-ва + инструкция -->
    <el-form v-if="canLoad && sortRegion">
      <el-row :gutter="30">
        <el-col :xs="24" :sm="12" :md="6">
        <el-form-item label="Количество охваченных опросом:">
          <el-input v-model="cnt_in_poll"/>
        </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="30">
        <el-col :xs="24" :sm="12" :md="6">
        <el-form-item label="Заявили отсутствие потребности:">
          <el-input v-model="cnt_not_req"/>
        </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="30">
        <el-col :xs="24" :sm="12" :md="6">
          <el-button  @click="saveCnts">Сохранить</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-row :gutter="30" class="nav-filter">
      <el-col :xs="12" :sm="12" :md="8" v-if="false">
        <el-input v-model="filterStr" placeholder="Введите поисковый фрагмент" prefix-icon="el-icon-search"/>
      </el-col>
      <el-col :xs="24" :sm="12" :md="16" class="text-right">
        <el-pagination
          background
          layout="prev, pager, next"
          :current-page.sync="page"
          :page-count="pagesTotal">
        </el-pagination>
      </el-col>
    </el-row>

    <el-table
      empty-text="Данных нет"
      :data="tableData"
      style="width: 100%">
      <el-table-column
        prop="mrigo_name"
        label="Район/Городской округ"
        sortable>
      </el-table-column>
      <el-table-column
        prop="organization_name"
        label="Организация"
        sortable>
      </el-table-column>
      <el-table-column
        prop="okfs_name"
        class-name="cell-small"
        label="ОКФС">
      </el-table-column>

      <el-table-column
        label="ИНН">
        <template slot-scope="scope">
          {{organizationINN(scope.row.id_organization) || '-'}}
        </template>
      </el-table-column>

      <el-table-column
        fixed="right"
        width="250">
        <template slot-scope="scope">
          <el-link @click="handleClickOnOpenFormF8(scope.row)" icon="el-icon-tickets">Ожидаемая потребность</el-link>
        </template>
      </el-table-column>

      <el-table-column
        fixed="right"
        width="230">
        <template slot-scope="scope">
          <el-link @click="handleClickOnOpenFormF9(scope.row)" icon="el-icon-tickets">Структура занятых</el-link>
        </template>
      </el-table-column>

      <el-table-column
        fixed="right"
        width="260">
        <template slot-scope="scope">
          <el-link @click="handleClickOnOpenFormF11(scope.row)" icon="el-icon-tickets">Потребность в доп.подготовке
          </el-link>
        </template>
      </el-table-column>

    </el-table>

    <el-row :gutter="30" class="nav-filter">
      <el-col :xs="24" class="text-right">
        <el-pagination
          background
          layout="prev, pager, next"
          :current-page.sync="page"
          :page-count="pagesTotal">
        </el-pagination>
      </el-col>
    </el-row>

    <el-dialog
      title="Ожидаемая потребность в кадрах"
      :visible.sync="dialogVisibleF8"
      :before-close="handleClose"
      :closeOnClickModal=false
      v-loading="isLoading"
      fullscreen
    >
      <form-f8 ref="editFormF8" @save="handleSaveF8" @close="dialogVisibleF8 = false"/>
    </el-dialog>

    <el-dialog
      title="Структура кадров"
      :visible.sync="dialogVisibleF9"
      :before-close="handleClose"
      :closeOnClickModal=false
      v-loading="isLoading"
      fullscreen
    >
      <form-f9 ref="editFormF9" @save="handleSaveF9" @close="dialogVisibleF9 = false"/>
    </el-dialog>

    <el-dialog
      title="Дополнительная потребность в профессиональном обучении"
      :visible.sync="dialogVisibleF11"
      :before-close="handleClose"
      :closeOnClickModal=false
      v-loading="isLoading"
      fullscreen
    >
      <form-f11 ref="editFormF11" @save="handleSaveF11" @close="dialogVisibleF11 = false"/>
    </el-dialog>

    <el-form v-if="canLoad">
      <el-form-item>
        <el-tabs>
          <el-tab-pane label="Загрузка файла с данными">
            <el-row :gutter="20">
              <el-col :span="12">
                <el-upload
                  class="upload-demo"
                  action="../posts/"
                  :auto-upload="false"
                  :file-list="fileList"
                  :on-change="handleChangeFL"
                  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                  <el-button size="small" slot="trigger" type="primary">Выбрать</el-button>

                  <div slot="tip" class="el-upload__tip"></div>
                  <el-button v-if="fileList.length" size="small" type="primary" @click="upload()">Загрузить</el-button>
                </el-upload>
              </el-col>
            </el-row>
          </el-tab-pane>
<!--          <el-tab-pane label="Выгрузка">-->
<!--            <el-row :gutter="20">-->
<!--              <el-col :span="12">-->
<!--                <el-button size="small" type="primary" @click="upload()">Сохранить</el-button>-->
<!--              </el-col>-->
<!--            </el-row>-->
<!--          </el-tab-pane>-->
        </el-tabs>
      </el-form-item>
    </el-form>
  </section>
</template>

<script>
  import { ORGANIZATION_TYPE, INVESTING_TYPE } from "../../interfaces/entities";

  import FormF8 from "./F8";
  import FormF9 from "./F9";
  import FormF11 from "./F11";

  export default {
    name: 'PollList',
    components: { FormF11, FormF8, FormF9 },
    data: () => ({
      isLoading: false,
      dialogVisibleF8: false,
      dialogVisibleF9: false,
      dialogVisibleF11: false,
      sortRegion: 0,
      sortYear: 2020,
      page: 1,
      pagesTotal: 1,
      tableData: [],
      filterStr: "",
      fileList: [],
      cnt_in_poll: "8",
      cnt_not_req: "8",
    }),
    computed: {
      // tableData() {
      //   return this.$store.state.employer.lists.employers || [];
      // },
      districtSelectList() {
        let res = this.$store.state.dictionary.lists.districts;
        if (!res) return false;
        if (!res[0]) return false;
        if (res[0].id > 0) {
          res.unshift({ 'id': 0, 'name': 'Все' })
        }
        return res;
      },
      yearSelectList() {
        let res = [];
        for (let i = 0; i <= 5; i++) {
          let year = 2019 + i;
          res.push({ id: year, name: year });
        }
        return res;
      },
      canLoad(){
        return ((this.$store.state.user.userData.role == 'MINISTRY_LABOR_SOCIAL_POLICY') ||
                 (this.$store.state.user.userData.role == 'MUNICIPAL_AUTHORITY'));
        //return true;
      },
    },
    methods: {
      async getList() {
          this.isLoading = true;
          const response = await this.$store.dispatch('employer/getList', {
            entityType: ORGANIZATION_TYPE.EMPLOYER,
            year: this.sortYear,
            id_mrigo: this.sortRegion,
            page_num: this.page - 1,
          });
          //console.log(response);
          this.tableData = response.data;
          //console.log(response.data);
          this.pagesTotal = response.pagesTotal;
          //console.log(response.pagesTotal);
          //количества
          const response2 = await this.$store.dispatch('employer/getList', {
            entityType: ORGANIZATION_TYPE.CNTS,
            year: this.sortYear,
            id_mrigo: this.sortRegion,
          });
          console.log(response2);
          this.cnt_in_poll = response2[0].cnt_in_poll;
          this.cnt_not_req = response2[0].cnt_not_req;
          this.isLoading = false;
      },
      handleClickOnOpenFormF8(row) {
        this.dialogVisibleF8 = true;
        this.$nextTick(() => {
          this.$refs.editFormF8.init(row);
          this.isLoading = false;
        });
      },
      handleClickOnOpenFormF9(row) {
        this.dialogVisibleF9 = true;
        this.$nextTick(() => {
          this.$refs.editFormF9.init(row);
          this.isLoading = false;
        });
      },
      handleClickOnOpenFormF11(row) {
        this.dialogVisibleF11 = true;
        this.$nextTick(() => {
          this.$refs.editFormF11.init(row);
          this.isLoading = false;
        });
      },
      organizationINN(organizationId) {
            const foundOrganizations = this.$store.getters['dictionary/organization'](organizationId);
            if (foundOrganizations.length > 0) return foundOrganizations[0].inn;
            return '';
      },
      handleClose(done) {
        done();
      },
      async saveCnts(){
        //сохранение количеств
        let fo = {id_mrigo: this.sortRegion, year: this.sortYear, cnt_in_poll: this.cnt_in_poll, 'cnt_not_req': this.cnt_not_req};
        await this.$store.dispatch('employer/saveEntity', {
          entityType: ORGANIZATION_TYPE.CNTS,
          form: fo,
        });
      },
      async handleSaveF8(form) {
        this.isLoading = true;
        // save form
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.ORGANIZATION,
          formId: form.formId,
        });
        //сохранение реквизитов организации
        let fo = {organization_name: form.a, organization_inn: form.b, organization_ogrn: form.c,};
        await this.$store.dispatch('employer/saveEntity', {
              entityType: ORGANIZATION_TYPE.ORGANIZATION_NAME,
              formId: form.organisationId,
              form: fo,
        });
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_LINE_OKVED,
          formId: form.organisationId,
        });
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_PEOPLES,
          formId: form.formId,
        });
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_PEOPLES_INVEST,
          formId: form.formId,
        });
        this.$store.dispatch('dictionary/initOrganizationsList', {});
        this.isLoading = false;
        this.dialogVisibleF8 = false;
        this.getList();
        this.$store.dispatch('dictionary/initProfessionClassifierList');
      },

      async handleSaveF9(form) {
        this.isLoading = true;
        // save form
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.ORGANIZATION,
          formId: form.formId,
        });
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_LINE_OKVED,
          formId: form.organisationId,
        });
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_PROFESSION_PEOPLES,
          formId: form.formId,
        });
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_ORGANIZATION_AGE,
          formId: form.formId,
        });
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_ORGANIZATION_SEX,
          formId: form.formId,
        });
        this.isLoading = false;
        this.dialogVisibleF9 = false;
        this.getList();
      },

      async handleSaveF11(form) {
        this.isLoading = true;
        // save form
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.ORGANIZATION,
          formId: form.formId,
        });
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_LINE_OKVED,
          formId: form.organisationId,
        });
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_ORGANIZATION_EDU,
          formId: form.formId,
        });
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.EMPLOYER_LINE_ORGANIZATION_EDU_WORLDSKILLS,
          formId: form.formId,
        });

        this.isLoading = false;
        this.dialogVisibleF11 = false;
        this.getList();
      },
      handleChangeFL(file, fileList) {
            this.fileList = fileList.slice(-1);
      },
      async upload(){
            this.isLoading = true;
            const response =  await this.$store.dispatch('employer/saveFile',
                { entityType: ORGANIZATION_TYPE.POLLS ,
                    file: this.form.fileList[0].raw,
                    year: this.sortYear,
                    mrigo: this.sortRegion
                });
            this.$store.dispatch('dictionary/initOrganizationsList', {});
            this.getList();

            this.fileList = [];
            this.isLoading = false;
      },
    },
    mounted() {
      this.sortYear = new Date().getFullYear();
      this.getList();
    },
    watch: {
      sortRegion() {
        this.getList();
      },
      sortYear() {
        this.getList();
      },
      page() {
                this.getList();
      },
      filterStr() {
                // Сделать задержку перед вводом
                clearTimeout(timeout);
                timeout = setTimeout(() => {
                    this.getList();
                }, 800);
      },
    },
  }
</script>
