<template>
  <section>
    <el-tabs type="card">
      <el-tab-pane label="Планируемая потребность">
        <okso-summary/>
      </el-tab-pane>
      <el-tab-pane label="Отсев обучающихся">
        <ugs-list/>
      </el-tab-pane>
      <el-tab-pane label="Планируемые значения КЦП">
        <lot-kcp-summary/>
      </el-tab-pane>
      <el-tab-pane label="Лоты КЦП">
        <lot-k-c-p-list/>
      </el-tab-pane>
      <el-tab-pane label="Заявки на КЦП">
        <k-c-p-request-list/>
      </el-tab-pane>
      <el-tab-pane label="Результаты рассмотрения">
        <kcp-list/>
      </el-tab-pane>
    </el-tabs>
  </section>
</template>

<script>
  import KcpList from "../forms/KCPList";
  import LotKCPList from "../forms/LotKCPList";
  import KCPRequestList from "../forms/KCPRequestList";
  import OkvedSpoSummary from "../forms/OkvedSpoSummary";
  import UgsList from "../forms/UgsList";
  import LotKcpSummary from "./LotKCPSummary";
  import OksoSummary from "./OksoSummary";


  export default {
    name: 'ProcessKcp',
    components: {OksoSummary, KcpList, LotKCPList, KCPRequestList, OkvedSpoSummary, UgsList, LotKcpSummary},
  }
</script>
