<template>
  <el-form label-position="top" v-loading="isLoading">
    <el-form-item label="Наименование организации (предприятия)">
      <el-input v-model="form.organisationName" readonly class="readonly"/>
    </el-form-item>

    <el-form-item label="Состояние">
      <el-select v-model="form.organisationTypeStatus" placeholder="Выберите" filterable>
        <el-option
          v-for="item in vpoSpoStatusList"
          :key="item.id"
          :label="`${item.name}`"
          :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>

    <el-form-item>
      <div class="table-scrollable-container">
        <table class="el-table is-plain edu-table">
          <thead>
          <tr>
            <th>На базе</th>
            <th>Специальность</th>
            <th>1 курс</th>
            <th>2 курс</th>
            <th>3 курс</th>
            <th>4 курс</th>
            <th>5 курс</th>
            <th>Выпуск</th>
            <th>Планируемый выпуск</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tr v-for="(entry, key) in form.tableData" :key="key">
            <td>
              <select class="el-select-simple small" v-model="entry.id_type_spo" size="small"
                      placeholder="Выберите" style="width:300px">
                <option
                  v-for="item in typeSpoList"
                  :key="item.id"
                  :label="`${item.name}`"
                  :value="item.id">
                </option>
              </select>
            </td>
            <td>
              <select class="el-select-simple small" v-model="entry.id_okso" size="small"
                      placeholder="Выберите"
                      filterable style="width:300px">
                <option
                  v-for="item in specialtySPOList"
                  :key="item.id"
                  :label="`${item.code} - ${item.name}`"
                  :value="item.id">
                </option>
              </select>
            </td>
            <td>
              <el-input v-model="entry['cnt1']" size="small"/>
            </td>
            <td>
              <el-input v-model="entry['cnt2']" size="small"/>
            </td>
            <td>
              <el-input v-model="entry['cnt3']" size="small"/>
            </td>
            <td>
              <el-input v-model="entry['cnt4']" size="small"/>
            </td>
            <td>
              <el-input v-model="entry['cnt5']" size="small"/>
            </td>
            <td>
              <el-input v-model="entry['deducted']" size="small"/>
            </td>
            <td>
              <el-input v-model="entry['plan_to_deduct']" size="small"/>
            </td>
            <td>
              <el-button type="danger" icon="el-icon-delete" circle size="small"
                         @click="removeLine(key)"/>
            </td>
          </tr>
        </table>
      </div>
      <el-button size="small" @click="addLine"><i class="el-icon-plus"/>Добавить строку</el-button>
    </el-form-item>

    <el-form-item class="text-right">
      <el-button @click="close()">Отмена</el-button>
      <el-button @click="save()" type="primary">Сохранить</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  import FormModalMixin from "../../mixins/FormModalMixin";
  import { ORGANIZATION_TYPE } from "../../interfaces/entities";

  export default {
    name: 'FormSpo1',
    mixins: [FormModalMixin],
    data: () => ({
      isLoading: false,
      form: {
        formId: '',
        organisationId: '',
        organisationName: '',
        organisationType: '',
        organisationTypeStatus: '',
        year: '',
        tableData: [],
      },
      //
    }),
    methods: {
      async init(data) {
        this.isLoading = true;
        this.form.organisationId = data.id_organization;
        this.form.organisationName = data.organization;
        this.form.organisationType = data.type_vpospo;
        this.form.organisationTypeStatus = data.id_type_vpospo_status;
        this.form.year = data.year_for;
        this.form.formId = data.id;

        this.form.tableData = await this.$store.dispatch('employer/getLines',
          { entityType: ORGANIZATION_TYPE.VPO_SPO_LINE, formId: data.id });

        this.isLoading = false;
      },
      addLine() {
        this.form.tableData.push({});
      },
      removeLine(index) {
        this.form.tableData.splice(index, 1);
      },
    }
  }
</script>

<style lang="scss" scoped>
  .edu-table {
    td {
      vertical-align: bottom;
    }
  }
</style>
