<template>
  <el-form label-position="top">
    <el-form-item>
      <el-form-item label="Статистические данные">
        <el-row :gutter="20">
          <el-col :span="6">
             <el-select v-model="form.idDataSet" placeholder="Выберите набор данных" filterable>
          <el-option
            v-for="item in loaded_data_sets"
            :key="item.name_table"
            :label="item.name"
            :value="item.name_table">
          </el-option>
        </el-select>
          </el-col>
        </el-row>
        <vue-pivottable-ui id="pvtTableStat0"
                           v-if="pivotData.data.length > 0"
                           :aggregatorName="pivotData.aggregatorName"
                           :cols="pivotData.cols"
                           :data="pivotData.data"
                           :disabledFromDragDrop="pivotData.disabledFromDragDrop"
                           :hiddenFromDragDrop="pivotData.hiddenFromDragDrop"
                           :rendererName="pivotData.rendererName"
                           :rows="pivotData.rows"
                           :vals="pivotData.vals"
        >
        </vue-pivottable-ui>
      </el-form-item>
    </el-form-item>
    <el-form-item v-if="form.idDataSet">
      <el-tabs>
      <el-tab-pane label="Загрузка файла с данными">
      <el-row :gutter="20">
        <el-col :span="2">
          <el-select v-model="form.yearForLoad" placeholder="Выберите" size="small">
            <el-option
              v-for="item in yearList"
              :key="item.year"
              :label="item.year"
              :value="item.year"
            >
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="12">
          <el-upload
            class="upload-demo"
            action="../posts/"
            :auto-upload="false"
            :file-list="form.fileList"
            :on-change="handleChangeFL"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <el-button size="small" slot="trigger" type="primary">Выбрать</el-button>

            <div slot="tip" class="el-upload__tip"></div>
            <el-button v-if="form.fileList.length" size="small" type="primary" @click="upload()">Загрузить</el-button>
          </el-upload>
        </el-col>
      </el-row>
     </el-tab-pane>
    </el-tabs>
    </el-form-item>
  </el-form>
</template>

<script>
    import { LOT } from "../../interfaces/entities";
    import FormModalMixin from "../../mixins/FormModalMixin";
    import XLSX from 'xlsx';

    export default {
        name: "StatData",
        mixins: [FormModalMixin],
        data: () => ({
                isLoading: false,
                form: {
                    fileList: [],
                    statDataSets: [],
                    idDataSet: '',
                    yearForLoad: 2018,
                },
                pivotData: {
                    data: [],
                    cols: [],
                    rows: [],
                    vals: [],
                    disabledFromDragDrop: [],
                    hiddenFromDragDrop: [],
                    aggregatorName: '',
                    rendererName: '',
                },

            }
        ),
        computed:{
            idDataSet(){
              return this.form.idDataSet;
            },
            yearList(){
              //TODO: года динамически
              return [2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026 ].map((x)=>{ return {'year':x }; });
            },
            fileList(){
              return  this.form.fileList;
            },
        },
        methods:{
          getLists(){
              this.isLoading = true;
              this.isLoading = false;
          },
          async getPivot(){
              this.isLoading = true;
              const response = await this.$store.dispatch('lot/getList',
                  { entityType: LOT.PIVOT_STAT_DATASET ,
                       tabName: this.idDataSet});
              this.pivotData = {
                  ...response.data,
              };
              this.isLoading = false;
          },
          handleChangeFL(file, fileList) {
                this.form.fileList = fileList.slice(-1);
          },
          async upload(){
              this.isLoading = true;
              const response =  await this.$store.dispatch('lot/saveFile',
                  { entityType: LOT.PIVOT_STAT_DATASET ,
                      tabName: this.idDataSet,
                      year: this.form.yearForLoad,
                      file: this.form.fileList[0].raw
                  });
              this.getPivot();
              this.form.fileList = [];
              this.isLoading = false;
          },
        },
        mounted(){
          this.getLists();
        },
        watch:{
            idDataSet(){
                console.log(this.idDataSet);
                this.getPivot();
            },
            fileList(){
                console.log(this.fileList);
            }
        },

    }
</script>

<style scoped>

</style>
