<template>
  <section class="item-list" v-loading="isLoading">
    <table class="el-table is-plain vertical-middle">
      <thead>
      <tr>
        <th>Код УГС</th>
        <th>1 курс</th>
        <th>2 курс</th>
        <th>3 курс</th>
        <th>4 курс</th>
        <th>5 курс</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(entry, key) in tableData" :key="key">
        <td>{{entry.ugsn_code}}</td>
        <td>
          <el-input v-model="entry.coefft1" size="small"/>
        </td>
        <td>
          <el-input v-model="entry.coefft2" size="small"/>
        </td>
        <td>
          <el-input v-model="entry.coefft3" size="small"/>
        </td>
        <td>
          <el-input v-model="entry.coefft4" size="small"/>
        </td>
        <td>
          <el-input v-model="entry.coefft5" size="small"/>
        </td>
        <td>
          <el-link @click="handleSaveClick(entry)" icon="el-icon-edit">Сохранить</el-link>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
  import { LOT } from "../../interfaces/entities";

  export default {
    name: 'UgsList',
    data: () => ({
      isLoading: false,
      tableData: [],
    }),
    computed: {},
    methods: {
      async getList() {
        this.isLoading = true;
        this.tableData = await this.$store.dispatch('lot/getList', { entityType: LOT.UGS_DEDUCT });
        this.isLoading = false;
      },
      async handleSaveClick(entry) {
        console.log(entry);
        await this.$store.dispatch('lot/saveEntity', {
          entityType: LOT.UGS_DEDUCT, id: entry.id, form: entry
        });
        await this.getList();
      },
    },
    mounted() {
      this.getList();
    }
  }
</script>
