<template>
  <section class="item-list">

    <el-alert v-if="isLoading"
              title="Загрузка..."
              description="Для формирования сводного отчета нужно некоторое время"
              type="info" :closable="false">
    </el-alert>
    <el-button @click="handleClickOnUpdate" icon="el-icon-refresh" type="primary" size="small" round>Получить
    </el-button>
    <h3>Данные вакансий</h3>
    <div class="table-scrollable-container" v-loading="isLoading">
      <el-form>
        <el-row>
          <el-col :span="1">
            Дата загрузки:
          </el-col>
          <el-col :span="1">
            {{load_date}}
          </el-col>
        </el-row>
      </el-form>
      <el-button @click="PivotToXlsx('pvtTableVacs','Vac')"
                 icon="el-icon-download" size="small" round>Excel
      </el-button>
      <vue-pivottable-ui id="pvtTableVacs"
                         v-if="pivotData.data.length > 0"
                         :aggregatorName="pivotData.aggregatorName"
                         :cols="pivotData.cols"
                         :data="pivotData.data"
                         :disabledFromDragDrop="pivotData.disabledFromDragDrop"
                         :hiddenFromDragDrop="pivotData.hiddenFromDragDrop"
                         :rendererName="pivotData.rendererName"
                         :rows="pivotData.rows"
                         :vals="pivotData.vals"
      >
      </vue-pivottable-ui>
    </div>

    <h3>Резюме</h3>
    <div class="table-scrollable-container" v-loading="isLoading">
      <el-button @click="PivotToXlsx('pvtTableResume','Resume')"
                 icon="el-icon-download" size="small" round>Excel
      </el-button>
      <vue-pivottable-ui id="pvtTableResume"
                         v-if="pivotData2.data.length > 0"
                         :aggregatorName="pivotData2.aggregatorName"
                         :cols="pivotData2.cols"
                         :data="pivotData2.data"
                         :disabledFromDragDrop="pivotData2.disabledFromDragDrop"
                         :hiddenFromDragDrop="pivotData2.hiddenFromDragDrop"
                         :rendererName="pivotData2.rendererName"
                         :rows="pivotData2.rows"
                         :vals="pivotData2.vals"
      >
      </vue-pivottable-ui>
    </div>
  </section>
</template>

<script>
  import { LOT } from "../../interfaces/entities";
  import XLSX from 'xlsx';
  import Vue from 'vue'

  import VuePivottable from '../../plugins/vue-pivottable/src/index'
  import '../../plugins/vue-pivottable/dist/vue-pivottable.css'

  Vue.use(VuePivottable);

  export default {
    name: 'VacsResume',
    data: () => ({
      isLoading: false,
      sortYear: 2020,
      pivotData: {
        data: [],
        cols: [],
        rows: [],
        vals: [],
        disabledFromDragDrop: [],
        hiddenFromDragDrop: [],
        aggregatorName: '',
        rendererName: '',
      },
      pivotData2: {
            data: [],
            cols: [],
            rows: [],
            vals: [],
            disabledFromDragDrop: [],
            hiddenFromDragDrop: [],
            aggregatorName: '',
            rendererName: '',
      },
    }),
    computed: {
          yearSelectList() {
              let res = [];
              for (let i = 0; i <= 8; i++) {
                  let year = new Date().getFullYear() + i;
                  res.push({ id: year, name: year });
              }
              return res;
          },
          load_date(){
            return '2020-05-10';
          },
    },
    methods: {
      async getData() {
        this.isLoading = true;
        const response = await this.$store.dispatch('lot/getList', { entityType: LOT.PIVOT_VACS });
        this.pivotData = {
          ...response.data,
        };
        const response2 = await this.$store.dispatch('lot/getList', { entityType: LOT.PIVOT_RESUME });
          this.pivotData2 = {
              ...response2.data,
        };
        this.isLoading = false;
      },
      PivotToXlsx(pvtId, name) {
        var pvt = document.getElementById(pvtId)
        var pvtTb = pvt.getElementsByClassName('pvtTable')[0];
        var wb = XLSX.utils.table_to_book(pvtTb, { sheet: "Данные" });
        XLSX.writeFile(wb, `${name}.xlsx`);
      },
      async  handleClickOnUpdate(){
          this.getData();
      }
    },
    mounted() {

    },

  }
</script>

<style>
  .table-scrollable-container {
    min-height: 300px;
  }
</style>
