<template>
  <section class="item-list" v-loading="isLoading">
    <h2>Данные ВПО-1</h2>

    <el-table
      empty-text="Данных нет"
      :data="tableData"
      style="width: 100%">
      <el-table-column
        prop="organization"
        label="Организация">
      </el-table-column>
      <el-table-column
        prop="year_for"
        label="Год"
        width="120">
      </el-table-column>
      <el-table-column
        label="Статус"
        width="120">
        <template slot-scope="scope">
          {{statusText(scope.row.id_type_vpospo_status)}}
        </template>
      </el-table-column>

      <el-table-column
        label="Действия"
        fixed="right"
        width="120">
        <template slot-scope="scope">
          <el-link @click="handleClickOnEdit(scope.row)" icon="el-icon-edit">Изменить</el-link>
        </template>
      </el-table-column>

    </el-table>

    <el-dialog
      title="ВПО-1"
      :visible.sync="dialogVisibleVPO1"
      :before-close="handleClose"
      :closeOnClickModal=false
      v-loading="isLoading"
      width="900px"
    >
      <form-vpo1 ref="editFormVPO1" @save="handleSaveVPO1" @close="dialogVisibleVPO1 = false"/>
    </el-dialog>


  </section>
</template>

<script>
  import { ORGANIZATION_TYPE } from "../../interfaces/entities";
  import FormVpo1 from "./VPO1";

  export default {
    name: 'Vpo1List',
    components: { FormVpo1 },
    data: () => ({
      isLoading: false,
      dialogVisibleVPO1: false,
    }),
    computed: {
      tableData() {
        return this.$store.state.employer.lists.vpo;
      },
    },
    methods: {
      getList() {
        this.$store.dispatch('employer/getList', { entityType: ORGANIZATION_TYPE.VPO_POLLS });
      },
      statusText(statusId) {
        const filteredArr = (this.$store.state.dictionary.lists.vpoSpoStatus || []).filter((status) => status.id === statusId)
        return filteredArr.length > 0 ? filteredArr[0].name : '-';
      },
      handleClickOnEdit(row) {
        this.dialogVisibleVPO1 = true;
        this.$nextTick(() => {
          this.$refs.editFormVPO1.init(row);
          this.isLoading = false;
        });
      },
      handleClose(done) {
        done();
      },
      async handleSaveVPO1(form) {
        this.isLoading = true;
        // save form
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.VPO_SPO_STATUS,
          formId: form.formId,
        });
        await this.$store.dispatch('employer/saveEntity', {
          form: form,
          entityType: ORGANIZATION_TYPE.VPO_SPO_LINE,
          formId: form.formId,
        });

        this.isLoading = false;
        this.dialogVisibleVPO1 = false;
        this.getList();
      },
    },
    mounted() {
      this.getList();
    },
  }
</script>
